<div class="cpw-myr-diagnostic-methods">

	<div <%= obj.with_attrs('Явно_перечисленные_в_бланке') %> ><%= obj.start_with() %>

	<div <%= obj.empty_attrs() %>></div>

	<table <%= obj.not_empty_attrs() %> <% if (0) { %> border="1" cellspacing="0" <% } %> >
		<% if (0) { %> 
			<tr class="design-mode"><td>1</td><td>2</td><td>3</td><td>4</td><td>5</td></tr>
			<tr class="design-mode">
				<td>.</td>
				<td>Наименование поля</td>
				<td>2015 год</td>
				<td>2016 год</td>
				<td>2017 год</td>
			</tr>
		 <% } %>
		<% while (obj.iterate()) { %>
		<tr class="sub-item" <%= obj.item_attrs() %> >
			<td class="dot"><span></span></td>
			<td class="std-name">
				<%= obj.text_field('Метод') %>
					<% if (obj.is_seed()) { %>Название метода<% } %>
				<%= obj.text_field_end() %>
			</td>
			<td class="year">
				<label class="no">
					<input type="checkbox" <%= obj.checkbox_attrs('Применяемый.ПППГ') %> />
					<span class="yes">есть</span> <span class="no">нет</span>
				</label>
			</td>
			<td class="year">
				<label class="no">
					<input type="checkbox" <%= obj.checkbox_attrs('Применяемый.ППГ') %> />
					<span class="yes">есть</span> <span class="no">нет</span>
				</label>
			</td>
			<td class="year">
				<label class="no">
					<input type="checkbox" <%= obj.checkbox_attrs('Применяемый.ПГ') %> />
					<span class="yes">есть</span> <span class="no">нет</span>
				</label>
			</td>
		</tr>
		<% } %>
		<tr class="other">
			<td colspan="5">
				<span>прочие:</span>
				<button class="add">(указать)</button>
			</td>
		</tr>

	</table>

	<%= obj.end_with() %></div>

	<div <%= obj.with_attrs('Прочие') %> ><%= obj.start_with() %>

	<div <%= obj.empty_attrs() %>></div>

	<table <%= obj.not_empty_attrs() %> <% if (0) { %> border="1" cellspacing="0" <% } %> >
		<% if (0) { %> 
			<tr class="design-mode"><td>1</td><td>2</td><td>3</td><td>4</td><td>5</td><td>6</td><td>7</td></tr>
			<tr class="design-mode">
				<td>.</td>
				<td>Наименование поля</td>
				<td>e</td>
				<td>d</td>
				<td>2015 год</td>
				<td>2016 год</td>
				<td>2017 год</td>
			</tr>
		 <% } %>

		<% while (obj.iterate()) { %>
		<tr class="sub-item" <%= obj.item_attrs() %> >
			<td class="dot"><span></span></td>
			<td class="extra-name">
				<%= obj.text_field('Метод') %>
					<% if (obj.is_seed()) { %>Ещё один метод<% } %>
				<%= obj.text_field_end() %>
			</td>
			<td class="edit"><img src="images/edit.png" /></td>
			<td class="delete"><img src="images/remove.png" /></td>
			<td class="year"><label class="no"><input type="checkbox" <%= obj.checkbox_attrs('Применяемый.ПППГ') %> /><span class="yes">есть</span> <span class="no">нет</span></label></td>
			<td class="year"><label class="no"><input type="checkbox" <%= obj.checkbox_attrs('Применяемый.ППГ') %> /><span class="yes">есть</span> <span class="no">нет</span></label></td>
			<td class="year"><label class="no"><input type="checkbox" <%= obj.checkbox_attrs('Применяемый.ПГ') %> /><span class="yes">есть</span> <span class="no">нет</span></label></td>
		</tr>
		<% } %>

	</table>

	<%= obj.end_with() %></div>

</div>
