﻿<style>
div.cpw-meo-yearly-region-diagnostic-other table
{
	width:980px;
}
div.cpw-meo-yearly-region-diagnostic-other td.group-title
{
	font-weight: bold;
	width: 708px;
}
div.cpw-meo-yearly-region-diagnostic-other td.year
{
	width: 90px;
	text-align:center;
}
</style>
<% if (0) { %>
<style>
div.cpw-meo-yearly-region-diagnostic-other tr.design-mode
{
	background-color:yellow;
}
</style>
<% } %>
<div class="cpw-meo-yearly-region-diagnostic-other">

	<table class="title-table" <% if (0) { %> border="1" cellspacing="0" <% } %> >
		<% if (0) { %> 
			<tr class="design-mode"><td>1</td><td>2</td><td>3</td><td>4</td></tr>
			<tr class="design-mode">
				<td>Наименование поля</td>
				<td>2015 год</td>
				<td>2016 год</td>
				<td>2017 год</td>
			</tr>
		 <% } %>
		<tr>
			<td class="group-title">Иммунологические исследования</td>
			<td class="year">2015 год</td>
			<td class="year">2016 год</td>
			<td class="year">2017 год</td>
		</tr>
	</table>

	<%= obj.control('Иммунологические_исследования') %><% if (0) { %>Методы иммунологических исследований<% } %>

	<table class="title-table" <% if (0) { %> border="1" cellspacing="0" <% } %> >
		<% if (0) { %> 
			<tr class="design-mode"><td>1</td><td>2</td><td>3</td><td>4</td></tr>
			<tr class="design-mode">
				<td class="field">Наименование поля</td>
				<td class="year">2015 год</td>
				<td class="year">2016 год</td>
				<td class="year">2017 год</td>
			</tr>
		 <% } %>
		<tr>
			<td class="group-title">Гормональные исследования</td>
		</tr>
	</table>

	<%= obj.control('Гормональные_исследования') %><% if (0) { %>Методы гормональных исследований<% } %>

	<table class="title-table" <% if (0) { %> border="1" cellspacing="0" <% } %> >
		<% if (0) { %> 
			<tr class="design-mode"><td>1</td><td>2</td><td>3</td><td>4</td></tr>
			<tr class="design-mode">
				<td class="field">Наименование поля</td>
				<td class="year">2015 год</td>
				<td class="year">2016 год</td>
				<td class="year">2017 год</td>
			</tr>
		 <% } %>
		<tr>
			<td class="group-title">Исследования клинико-диагностической лаборатории</td>
		</tr>
	</table>

	<%= obj.control('Исследования_клинико_диагностической_лаборатории') %><% if (0) { %>Методы клинико-диагностической лаборатории<% } %>

	<table class="title-table" <% if (0) { %> border="1" cellspacing="0" <% } %> >
		<% if (0) { %> 
			<tr class="design-mode"><td>1</td><td>2</td><td>3</td><td>4</td></tr>
			<tr class="design-mode">
				<td class="field">Наименование поля</td>
				<td class="year">2015 год</td>
				<td class="year">2016 год</td>
				<td class="year">2017 год</td>
			</tr>
		 <% } %>
		<tr>
			<td class="group-title">Аудиологические исследования</td>
		</tr>
	</table>

	<%= obj.control('Аудиологические_исследования') %><% if (0) { %>Методы аудиологических исследований<% } %>

	<table class="title-table" <% if (0) { %> border="1" cellspacing="0" <% } %> >
		<% if (0) { %> 
			<tr class="design-mode"><td>1</td><td>2</td><td>3</td><td>4</td></tr>
			<tr class="design-mode">
				<td class="field">Наименование поля</td>
				<td class="year">2015 год</td>
				<td class="year">2016 год</td>
				<td class="year">2017 год</td>
			</tr>
		 <% } %>
		<tr>
			<td class="group-title">Кабинет эндоскопии</td>
		</tr>
	</table>

	<%= obj.control('Кабинет_эндоскопии') %><% if (0) { %>Методы кабинета эндоскопии<% } %>

</div>