﻿<style>
div.cpw-meo-yearly-report table
{
	margin-bottom: auto;
}
div.cpw-meo-yearly-report td
{
	padding: 0;
}
div.cpw-meo-yearly-report div#cpw-meo-yearly-report-tabs
{
	width: 1000px;
	margin: 0 auto;
}
div.cpw-meo-yearly-report h2
{
	text-align:center;
	margin-top:3px;
	margin-bottom:3px;
}
div.cpw-meo-yearly-report div.page
{
	padding:10px;
}
div.cpw-meo-yearly-report tr.sub-item td.field
{
	padding-left: 20px;
}
div.cpw-meo-yearly-report tr.total td.field
{
	padding-left: 10px;
}
div.cpw-meo-yearly-report tr.sub-item:hover
,div.cpw-meo-yearly-report tr.item:hover
,div.cpw-meo-yearly-report tr.total:hover
{
	background-color: #eeeeee
}
div.cpw-meo-yearly-report tr.sub-item td
,div.cpw-meo-yearly-report tr.item td
,div.cpw-meo-yearly-report tr.total td
{
	border-top: 1px solid #eeeeee;
}
div.cpw-meo-yearly-report tr.sub-item:before
{
	width: 10px;
}
div.cpw-meo-yearly-report ul.ui-tabs-nav li
{
	height:25px;
}
div.cpw-meo-yearly-report ul.ui-tabs-nav li a
{
	padding-top:2px;
	padding-bottom:1px;
}
div.cpw-meo-yearly-report ul.ui-tabs-nav
{
	height:27px;
}
div.cpw-meo-yearly-report div.ui-tabs
{
	padding:0;
}
div.cpw-meo-yearly-report div#cpw-meo-yearly-report-tabs div.page div.page
{
	min-height: 620px;
}
div.cpw-meo-yearly-report div#cpw-meo-yearly-report-tabs > div.page
{
	padding:0;
	padding-top:3px;
}
div.cpw-meo-yearly-report  div#cpw-meo-yearly-report-tabs > div.page div.ui-tabs
{
	border:none;
}
div.cpw-meo-yearly-report > div.header
{
	display: inline-block;
	width: 100%;
}
div.cpw-meo-yearly-report > div.header div.buttons
{
	float:right;
	margin-bottom: 2px;
}
div.cpw-meo-yearly-report input[readonly="readonly"]
{
	background-color: #f8f8f8;
	border-color: #eeeeee;
	border-width: 1px;
	border-style:solid;
}
</style>
<div class="cpw-meo-yearly-report">

	<div class="header">
		<div class="buttons">
			<button class="prev" disabled="disabled">&#8656; к предыдущему</button> 
			<button class="next">к следующему &#8658;</button>
		</div>
		<b>Годовой отчёт регионального центра профпатологии</b>
	</div>

	<div id="cpw-meo-yearly-report-tabs" <%= obj.tabs_attrs() %> >
		<ul>
			<li><a href="#cpw-meo-yearly-report-1" >Орг. структура</a></li>
			<li><a href="#cpw-meo-yearly-report-2" >Мат. база</a></li>
			<li><a href="#cpw-meo-yearly-report-3" >Кадры</a></li>
			<li><a href="#cpw-meo-yearly-report-4" >Результаты</a></li>
			<li><a href="#cpw-meo-yearly-report-5" >Прил.1. Методы</a></li>
			<li><a href="#cpw-meo-yearly-report-6" >Прил.2. Оборудование</a></li>
		</ul>
		<div id="cpw-meo-yearly-report-1" class="page" >
			<% if (0) { %>Страница "Общее"<% } %>
			<%= obj.control('Общее') %>
		</div>
		<div id="cpw-meo-yearly-report-2" class="page">
			<% if (0) { %>Страница "Экономика"<% } %>
			<%= obj.control('Экономика') %>
		</div>
		<div id="cpw-meo-yearly-report-3" class="page">
			<% if (0) { %>Страница "Кадры"<% } %>
			<%= obj.control('Кадры') %>
		</div>
		<div id="cpw-meo-yearly-report-4" class="page">
			<% if (0) { %>Страница "Деятельность"<% } %>
			<%= obj.control('Деятельность') %>
		</div>
		<div id="cpw-meo-yearly-report-5" class="page">
			<% if (0) { %>Страница "Диагностика"<% } %>
			<%= obj.control('Диагностика') %>
		</div>
		<div id="cpw-meo-yearly-report-6" class="page">
			<% if (0) { %>Страница "Оборудование"<% } %>
			<%= obj.control('Оборудование') %>
		</div>
	</div>

</div>