﻿<style>
div.cpw-meo-yearly-region-staff-licenses td.field
{
	width: 630px;
	vertical-align:top;
}
div.cpw-meo-yearly-region-staff-licenses td.plan-fact
{
	width: 100px;
	text-align:center;
}
div.cpw-meo-yearly-region-staff-licenses td.year
{
	text-align:center;
}
div.cpw-meo-yearly-region-staff-licenses label.no span.no,
div.cpw-meo-yearly-region-staff-licenses label.yes span.yes
{
	text-decoration:underline;
	font-weight: bold;
}
div.cpw-meo-yearly-region-staff-licenses label.no span.yes,
div.cpw-meo-yearly-region-staff-licenses label.yes span.no
{
	text-decoration:line-through;
	color: silver;
}
div.cpw-meo-yearly-region-staff-licenses tr.sub-item td.field
{
	padding-left: 20px;
}
</style>
<% if (0) { %>
<style>
div.cpw-meo-yearly-region-staff-licenses tbody.design-mode tr
{
	background-color:yellow;
}
</style>
<% } %>
<div class="cpw-meo-yearly-region-staff-licenses">

	<table <% if (0) { %> border="1" cellspacing="0" <% } %> >
		<% if (0) { %> 
			<tbody class="design-mode">
				<tr><td>1</td><td>2</td><td>3</td><td>4</td></tr>
				<tr>
					<td>Наименование поля</td>
					<td>2015 год</td>
					<td>2016 год</td>
					<td>2017 год</td>
				</tr>
			</tbody>
		 <% } %>
		<tr>
			<td class="field"></td>
			<td class="year">2015 год</td>
			<td class="year">2016 год</td>
			<td class="year">2017 год</td>
		</tr>
		<tr>
			<td colspan="4">Перечень лицензий</td>
		</tr>
		<tbody <%= obj.with_attrs('Лицензии') %> >
			<% obj.start_with() %>
			<tr class="sub-item">
				<td class="field">на спец. помощь <strong>в амбулаторных условиях</strong> по профпатологии</td>
				<td class="year"><label class="no"><input type="checkbox" <%= obj.checkbox_attrs('Помощь.В_амбулатории.ПППГ') %> /><span class="yes">есть</span> <span class="no">нет</span></label></td>
				<td class="year"><label class="no"><input type="checkbox" <%= obj.checkbox_attrs('Помощь.В_амбулатории.ППГ') %> /><span class="yes">есть</span> <span class="no">нет</span></label></td>
				<td class="year"><label class="no"><input type="checkbox" <%= obj.checkbox_attrs('Помощь.В_амбулатории.ПГ') %> /><span class="yes">есть</span> <span class="no">нет</span></label></td>
			</tr>
			<tr class="sub-item">
				<td class="field">на спец. помощь <strong>в стационарных условиях</strong> по профпатологии</td>
				<td class="year"><label class="no"><input type="checkbox" <%= obj.checkbox_attrs('Помощь.В_стационаре.ПППГ') %> /><span class="yes">есть</span> <span class="no">нет</span></label></td>
				<td class="year"><label class="no"><input type="checkbox" <%= obj.checkbox_attrs('Помощь.В_стационаре.ППГ') %> /><span class="yes">есть</span> <span class="no">нет</span></label></td>
				<td class="year"><label class="no"><input type="checkbox" <%= obj.checkbox_attrs('Помощь.В_стационаре.ПГ') %> /><span class="yes">есть</span> <span class="no">нет</span></label></td>
			</tr>
			<tr class="sub-item">
				<td class="field">на <strong>медицинские осмотры</strong> по профпатологии (предварительным, периодическим)</td>
				<td class="year"><label class="no"><input type="checkbox" <%= obj.checkbox_attrs('Медсомотры.ПППГ') %> /><span class="yes">есть</span> <span class="no">нет</span></label></td>
				<td class="year"><label class="no"><input type="checkbox" <%= obj.checkbox_attrs('Медсомотры.ППГ') %> /><span class="yes">есть</span> <span class="no">нет</span></label></td>
				<td class="year"><label class="no"><input type="checkbox" <%= obj.checkbox_attrs('Медсомотры.ПГ') %> /><span class="yes">есть</span> <span class="no">нет</span></label></td>
			</tr>
			<tr class="sub-item">
				<td class="field">на проведение медицинских экспертиз <strong>по профессиональной пригодности</strong></td>
				<td class="year"><label class="no"><input type="checkbox" <%= obj.checkbox_attrs('Экспертизы.Пригодности.ПППГ') %> /><span class="yes">есть</span> <span class="no">нет</span></label></td>
				<td class="year"><label class="no"><input type="checkbox" <%= obj.checkbox_attrs('Экспертизы.Пригодности.ППГ') %> /><span class="yes">есть</span> <span class="no">нет</span></label></td>
				<td class="year"><label class="no"><input type="checkbox" <%= obj.checkbox_attrs('Экспертизы.Пригодности.ПГ') %> /><span class="yes">есть</span> <span class="no">нет</span></label></td>
			</tr>
			<tr class="sub-item">
				<td class="field">на проведение медицинских экспертиз <strong>по связи заболеваний с профессией</strong></td>
				<td class="year"><label class="no"><input type="checkbox" <%= obj.checkbox_attrs('Экспертизы.Связи_с_профессией.ПППГ') %> /><span class="yes">есть</span> <span class="no">нет</span></label></td>
				<td class="year"><label class="no"><input type="checkbox" <%= obj.checkbox_attrs('Экспертизы.Связи_с_профессией.ППГ') %> /><span class="yes">есть</span> <span class="no">нет</span></label></td>
				<td class="year"><label class="no"><input type="checkbox" <%= obj.checkbox_attrs('Экспертизы.Связи_с_профессией.ПГ') %> /><span class="yes">есть</span> <span class="no">нет</span></label></td>
			</tr>
			<% obj.end_with() %>
		</tbody>
		<tr>
			<td colspan="7"><br/>Наличие врачебной комиссии по экспертизе</td>
		</tr>
		<tbody <%= obj.with_attrs('Комиссии_по_экспертизе') %> >
			<% obj.start_with() %>
			<tr class="sub-item">
				<td class="field">профессиональной пригодности</td>
				<td class="year"><label class="no"><input type="checkbox" <%= obj.checkbox_attrs('Пригодности.ПППГ') %> /><span class="yes">есть</span> <span class="no">нет</span></label></td>
				<td class="year"><label class="no"><input type="checkbox" <%= obj.checkbox_attrs('Пригодности.ППГ') %> /><span class="yes">есть</span> <span class="no">нет</span></label></td>
				<td class="year"><label class="no"><input type="checkbox" <%= obj.checkbox_attrs('Пригодности.ПГ') %> /><span class="yes">есть</span> <span class="no">нет</span></label></td>
			</tr>
			<tr class="sub-item">
				<td class="field">связи заболевания с профессией</td>
				<td class="year"><label class="no"><input type="checkbox" <%= obj.checkbox_attrs('Связи_с_профессией.ПППГ') %> /><span class="yes">есть</span> <span class="no">нет</span></label></td>
				<td class="year"><label class="no"><input type="checkbox" <%= obj.checkbox_attrs('Связи_с_профессией.ППГ') %> /><span class="yes">есть</span> <span class="no">нет</span></label></td>
				<td class="year"><label class="no"><input type="checkbox" <%= obj.checkbox_attrs('Связи_с_профессией.ПГ') %> /><span class="yes">есть</span> <span class="no">нет</span></label></td>
			</tr>
			<% obj.end_with() %>
		</tbody>
	</table>

</div>