﻿<style>
div.cpw-meo-yearly-region-diagnostics-other-method
{
	width: 770px;
	margin: auto 0;
}
div.cpw-meo-yearly-region-diagnostics-other-method table
{
	margin-left: 10px;
}
div.cpw-meo-yearly-region-diagnostics-other-method textarea
{
	height: 7em;
	width: 440px;
	margin-left: 10px;
}
div.cpw-meo-yearly-region-diagnostics-other-method td.year
{
	text-align:center;
	width: 80px;
	vertical-align:bottom;
}
div.cpw-meo-yearly-region-diagnostics-other-method td
{
	text-align:center;
	vertical-align:top;
}
</style>
<% if (0) { %>
<style>
div.cpw-meo-yearly-region-diagnostics-other-method tr.design-mode
{
	background-color:yellow;
}
</style>
<% } %>
<div class="cpw-meo-yearly-region-diagnostics-other-method">
	Раздел: <b><%= (!obj.options) ? '' : obj.options.Раздел %><% if (0) {%>Биохимические иссследования<% } %></b>

	<table <% if (0) { %> border="1" cellspacing="0" <% } %> >

		<% if (0) { %> 
			<tr class="design-mode"><td>1</td><td>2</td><td>3</td><td>4</td><td>4</td></tr>
			<tr class="design-mode">
				<td class="field">Наименование поля</td>
				<td>&nbsp;</td>
				<td class="year">2015 год</td>
				<td class="year">2016 год</td>
				<td class="year">2017 год</td>
			</tr>
		 <% } %>

		<tr>
			<td style="text-align:left;">Наименование диагностического метода:</td>
			<td>&nbsp;</td>
			<td colspan="3">Метод применялся в:</td>
		</tr>

		<tr>
			<td rowspan="5">
				<textarea <%= obj.textarea_attrs('Метод') %> ><%= obj.value() %></textarea>
			</td>
			<td>&nbsp;&nbsp;&nbsp;</td>
			<td class="year"><label for="cpw-meo-yearly-region-diagnostics-other-method-cb_pppg">2015 году</label></td>
			<td class="year"><label for="cpw-meo-yearly-region-diagnostics-other-method-cb_ppg">2016 году</label></td>
			<td class="year"><label for="cpw-meo-yearly-region-diagnostics-other-method-cb_pg">2017 году</label></td>
		</tr>

		<tr class="sub-item">
			<td>&nbsp;</td>
			<td><input type="checkbox" <%= obj.checkbox_attrs('Применяемый.ПППГ') %> id="cpw-meo-yearly-region-diagnostics-other-method-cb_pppg" /></td>
			<td><input type="checkbox" <%= obj.checkbox_attrs('Применяемый.ППГ') %> id="cpw-meo-yearly-region-diagnostics-other-method-cb_ppg" /></td>
			<td><input type="checkbox" <%= obj.checkbox_attrs('Применяемый.ПГ') %> id="cpw-meo-yearly-region-diagnostics-other-method-cb_pg" /></td>
		</tr>

		<tr class="sub-item"><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
		<tr class="sub-item"><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>

	</table>
</div>