﻿<style>
div.cpw-form-delete-diagnistic-method-confirm div.title
{
	margin-left: 20px;
	display:inline-block;
}
</style>
<div class="cpw-form-delete-diagnistic-method-confirm">
	Вы действительно хотите удалить? Из раздела<br/>
	<div class="title">"<b><%= obj.Раздел %><% if (0) { %>Биохимия<% } %></b>",</div><br/>
	используемый диагностический метод<br/>
	<div class="title">"<b><%= obj.Удаяемый.Метод %><% if (0) { %>Ещё один диагностический метод <% } %></b>"?</div>
</div>