﻿<style>
</style>
<div class="cpw-meo-yearly-region-results">

	<div id="cpw-meo-yearly-region-results-tabs" <%= obj.tabs_attrs() %> >
		<ul>
			<li><a href="#cpw-meo-yearly-region-results-tab-1" >Охват</a></li>
			<li><a href="#cpw-meo-yearly-region-results-tab-2" >Общие диагнозы</a></li>
			<li><a href="#cpw-meo-yearly-region-results-tab-3" >Профзаболевания</a></li>
			<li><a href="#cpw-meo-yearly-region-results-tab-4" >Исследования</a></li>
			<li><a href="#cpw-meo-yearly-region-results-tab-5" >Экспертизы и анализ</a></li>
			<li><a href="#cpw-meo-yearly-region-results-tab-6" >Контроль ПМО</a></li>
		</ul>
		<div id="cpw-meo-yearly-region-results-tab-1" class="page">
			<% if (0) { %>Страница "Охват"<% } %>
			<%= obj.control('Охват') %>
		</div>
		<div id="cpw-meo-yearly-region-results-tab-2" class="page">
			<% if (0) { %>Страница "Хронические"<% } %>
			<%= obj.control('Хронические') %>
		</div>
		<div id="cpw-meo-yearly-region-results-tab-3" class="page">
			<% if (0) { %>Страница "Профзаболевания"<% } %>
			<%= obj.control('Профзаболевания') %>
		</div>
		<div id="cpw-meo-yearly-region-results-tab-4" class="page">
			<% if (0) { %>Страница "Исследования"<% } %>
			<%= obj.control('Исследования') %>
		</div>
		<div id="cpw-meo-yearly-region-results-tab-5" class="page">
			<% if (0) { %>Страница "Экспертизы"<% } %>
			<%= obj.control('Экспертизы') %>
		</div>
		<div id="cpw-meo-yearly-region-results-tab-6" class="page">
			<% if (0) { %>Страница "Проверки"<% } %>
			<%= obj.control('Проверки') %>
		</div>
	</div>

</div>