﻿<style>
div.cpw-meo-yearly-region-results-expertise td.field
{
	width: 700px;
	vertical-align:top;
}
div.cpw-meo-yearly-region-results-expertise td.plan-fact
{
	width: 100px;
	text-align:center;
}
div.cpw-meo-yearly-region-results-expertise td.year
{
	text-align:center;
}
div.cpw-meo-yearly-region-results-expertise tr.sub-item td.field
{
	padding-left: 20px;
}
div.cpw-meo-yearly-region-results-expertise tr.total td.field
{
	padding-left: 10px;
}
div.cpw-meo-yearly-region-results-expertise td
{
	padding:0;
}
div.cpw-meo-yearly-region-results-expertise div.class
{
	display: inline-block;
	width: 110px;
	vertical-align:top;
}
div.cpw-meo-yearly-region-results-expertise div.name
{
	display: inline-block;
	width: 580px;
}
div.cpw-meo-yearly-region-results-expertise input
{
	width: 80px;
}
</style>
<% if (0) { %>
<style>
div.cpw-meo-yearly-region-results-expertise tr.design-mode
{
	background-color:yellow;
}
</style>
<% } %>
<div class="cpw-meo-yearly-region-results-expertise">

	<table <% if (0) { %> border="1" cellspacing="0" <% } %> >
		<% if (0) { %> 
			<tr class="design-mode"><td>1</td><td>2</td><td>3</td><td>4</td><td>5</td><td>6</td><td>7</td></tr>
			<tr class="design-mode">
				<td class="field">Наименование поля</td>
				<td colspan="2" class="year">2015 год</td>
				<td colspan="2" class="year">2016 год</td>
				<td colspan="2" class="year">2017 год</td>
			</tr>
		 <% } %>
		<tr>
			<td class="field"></td>
			<td colspan="2" class="year">2015 год</td>
			<td colspan="2" class="year">2016 год</td>
			<td colspan="2" class="year">2017 год</td>
		</tr>

		<tr>
			<td class="field">Экспертиза связи заболевания с профессией и профпригодности, всего</td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПГ.Общая_площадь_земельных_участков') %>" /></td>
		</tr>

		<tr>
			<td> Число проведенных экспертиз связи заболевания с профессией</td>
		</tr>

		<tr class="sub-item">
			<td class="field">количество положительных решений</td>
			<td colspan="2"><input type="text" value="<%= obj.txt('ПППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2"><input type="text" value="<%= obj.txt('ППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2"><input type="text" value="<%= obj.txt('ПГ.Общая_площадь_земельных_участков') %>" /></td>
		</tr>

		<tr class="sub-item">
			<td class="field">количество отрицательных решений</td>
			<td colspan="2"><input type="text" value="<%= obj.txt('ПППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2"><input type="text" value="<%= obj.txt('ППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2"><input type="text" value="<%= obj.txt('ПГ.Общая_площадь_земельных_участков') %>" /></td>
		</tr>

		<tr class="sub-item">
			<td class="field">отложено</td>
			<td colspan="2"><input type="text" value="<%= obj.txt('ПППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2"><input type="text" value="<%= obj.txt('ППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2"><input type="text" value="<%= obj.txt('ПГ.Общая_площадь_земельных_участков') %>" /></td>
		</tr>

		<tr class="total">
			<td class="field">ИТОГО:</td>
			<td colspan="2"><input type="text" value="<%= obj.txt('ПППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2"><input type="text" value="<%= obj.txt('ППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2"><input type="text" value="<%= obj.txt('ПГ.Общая_площадь_земельных_участков') %>" /></td>
		</tr>

		<tr>
			<td>Число проведенных экспертиз профпригодности</td>
		</tr>

		<tr class="sub-item">
			<td class="field">количество положительных решений</td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПГ.Общая_площадь_земельных_участков') %>" /></td>
		</tr>

		<tr class="sub-item">
			<td class="field">количество отрицательных решений</td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПГ.Общая_площадь_земельных_участков') %>" /></td>
		</tr>

		<tr class="sub-item">
			<td class="field">отложено</td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПГ.Общая_площадь_земельных_участков') %>" /></td>
		</tr>

		<tr class="total">
			<td class="field">ИТОГО:</td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПГ.Общая_площадь_земельных_участков') %>" /></td>
		</tr>

		<tr>
			<td class="field">Число проанализированных санитарно-гигиенических характеристик условий труда</td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПГ.Общая_площадь_земельных_участков') %>" /></td>
		</tr>

		<tr>
			<td class="field">Число доп. запросов по санитарно-гигиеническим характеристрикам условий труда</td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПГ.Общая_площадь_земельных_участков') %>" /></td>
		</tr>

		<tr>
			<td class="field">Экспертиза временной нетрудоспособности (выдано листков нетрудосопособности)</td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПГ.Общая_площадь_земельных_участков') %>" /></td>
		</tr>

		<tr>
			<td>Участие в судмедэкспертизах</td>
		</tr>

		<tr class="sub-item">
			<td class="field">экспертиз профпригодности</td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПГ.Общая_площадь_земельных_участков') %>" /></td>
		</tr>

		<tr class="sub-item">
			<td class="field">экспертиз связи заболевания с профессией</td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПГ.Общая_площадь_земельных_участков') %>" /></td>
		</tr>

	</table>

</div>