﻿<style>
div.cpw-meo-yearly-region-staff-partition-static td.field
{
	width: 300px;
	vertical-align:top;
}
div.cpw-meo-yearly-region-staff-partition td.kind
,div.cpw-meo-yearly-region-staff-partition td.year
{
	text-align:center;
}
div.cpw-meo-yearly-region-staff-partition input
{
	width:75px;
}
</style>
<% if (0) { %>
<style>
div.cpw-meo-yearly-region-staff-partition tr.design-mode
{
	background-color:yellow;
}
</style>
<% } %>
<div class="cpw-meo-yearly-region-staff-partition">

	<table <% if (0) { %> border="1" cellspacing="0" <% } %> >
		<% if (0) { %> 
			<tr class="design-mode"><td>1</td><td>2</td><td>3</td><td>4</td><td>5</td><td>6</td><td>7</td><td>8</td><td>9</td><td>10</td></tr>
			<tr class="design-mode">
				<td class="field">Наименование поля</td>
				<td colspan="3" class="kind">количество должностей</td>
				<td colspan="3" class="kind">в т.ч. занятых</td>
				<td colspan="3" class="kind">в т.ч. физических лиц</td>
			</tr>
			<tr class="design-mode">
				<td class="field"></td>
				<td class="year">2015 год</td>
				<td class="year">2016 год</td>
				<td class="year">2017 год</td>
				<td class="year">2015 год</td>
				<td class="year">2016 год</td>
				<td class="year">2017 год</td>
				<td class="year">2015 год</td>
				<td class="year">2016 год</td>
				<td class="year">2017 год</td>
			</tr>
		 <% } %>
		<tr>
			<td class="field">В отделении</td>
			<td colspan="3" class="kind">количество должностей</td>
			<td colspan="3" class="kind">в т.ч. занятых</td>
			<td colspan="3" class="kind">в т.ч. физических лиц</td>
		</tr>
		<tr>
			<td class="field"></td>
			<td class="year">2015 год</td>
			<td class="year">2016 год</td>
			<td class="year">2017 год</td>
			<td class="year">2015 год</td>
			<td class="year">2016 год</td>
			<td class="year">2017 год</td>
			<td class="year">2015 год</td>
			<td class="year">2016 год</td>
			<td class="year">2017 год</td>
		</tr>

		<tr class="item">
			<td class="field">зав. отд. профпатолог</td>
			<td><input type="text" value="<%= obj.txt('ПППГ.Должностей.В_отделении.Всего.Заведующих') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ППГ.Должностей.В_отделении.Всего.Заведующих') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ПГ.Должностей.В_отделении.Всего.Заведующих') %>" /></td>

			<td><input type="text" value="<%= obj.txt('ПППГ.Должностей.В_отделении.Занятых.Заведующих') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ППГ.Должностей.В_отделении.Занятых.Заведующих') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ПГ.Должностей.В_отделении.Занятых.Заведующих') %>" /></td>

			<td><input type="text" value="<%= obj.txt('ПППГ.Должностей.В_отделении.Физ_лиц.Заведующих') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ППГ.Должностей.В_отделении.Физ_лиц.Заведующих') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ПГ.Должностей.В_отделении.Физ_лиц.Заведующих') %>" /></td>
		</tr>

		<tr class="item">
			<td class="field">врачей, в т.ч.</td>
			<td><input type="text" value="<%= obj.txt('ПППГ.Должностей.В_отделении.Всего.Врачей.Всех') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ППГ.Должностей.В_отделении.Всего.Врачей.Всех') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ПГ.Должностей.В_отделении.Всего.Врачей.Всех') %>" /></td>

			<td><input type="text" value="<%= obj.txt('ПППГ.Должностей.В_отделении.Занятых.Врачей.Всех') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ППГ.Должностей.В_отделении.Занятых.Врачей.Всех') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ПГ.Должностей.В_отделении.Занятых.Врачей.Всех') %>" /></td>

			<td><input type="text" value="<%= obj.txt('ПППГ.Должностей.В_отделении.Физ_лиц.Врачей.Всех') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ППГ.Должностей.В_отделении.Физ_лиц.Врачей.Всех') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ПГ.Должностей.В_отделении.Физ_лиц.Врачей.Всех') %>" /></td>
		</tr>

		<tr class="sub-item">
			<td class="field">профпатологов</td>
			<td><input type="text" value="<%= obj.txt('ПППГ.Должностей.В_отделении.Всего.Врачей.Профпатологов') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ППГ.Должностей.В_отделении.Всего.Врачей.Профпатологов') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ПГ.Должностей.В_отделении.Всего.Врачей.Профпатологов') %>" /></td>

			<td><input type="text" value="<%= obj.txt('ПППГ.Должностей.В_отделении.Занятых.Врачей.Профпатологов') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ППГ.Должностей.В_отделении.Занятых.Врачей.Профпатологов') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ПГ.Должностей.В_отделении.Занятых.Врачей.Профпатологов') %>" /></td>

			<td><input type="text" value="<%= obj.txt('ПППГ.Должностей.В_отделении.Физ_лиц.Врачей.Профпатологов') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ППГ.Должностей.В_отделении.Физ_лиц.Врачей.Профпатологов') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ПГ.Должностей.В_отделении.Физ_лиц.Врачей.Профпатологов') %>" /></td>
		</tr>

		<tr class="sub-item">
			<td class="field">усов. по профпат.</td>
			<td><input type="text" value="<%= obj.txt('ПППГ.Должностей.В_отделении.Всего.Врачей.Усоверенствованных_по_профпатологии') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ППГ.Должностей.В_отделении.Всего.Врачей.Усоверенствованных_по_профпатологии') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ПГ.Должностей.В_отделении.Всего.Врачей.Усоверенствованных_по_профпатологии') %>" /></td>

			<td><input type="text" value="<%= obj.txt('ПППГ.Должностей.В_отделении.Занятых.Врачей.Усоверенствованных_по_профпатологии') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ППГ.Должностей.В_отделении.Занятых.Врачей.Усоверенствованных_по_профпатологии') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ПГ.Должностей.В_отделении.Занятых.Врачей.Усоверенствованных_по_профпатологии') %>" /></td>

			<td><input type="text" value="<%= obj.txt('ПППГ.Должностей.В_отделении.Физ_лиц.Врачей.Усоверенствованных_по_профпатологии') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ППГ.Должностей.В_отделении.Физ_лиц.Врачей.Усоверенствованных_по_профпатологии') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ПГ.Должностей.В_отделении.Физ_лиц.Врачей.Усоверенствованных_по_профпатологии') %>" /></td>
		</tr>

		<tr class="sub-item">
			<td class="field">функ. диагност.</td>
			<td><input type="text" value="<%= obj.txt('ПППГ.Должностей.В_отделении.Всего.Врачей.Функциональной_диагностики') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ППГ.Должностей.В_отделении.Всего.Врачей.Функциональной_диагностики') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ПГ.Должностей.В_отделении.Всего.Врачей.Функциональной_диагностики') %>" /></td>

			<td><input type="text" value="<%= obj.txt('ПППГ.Должностей.В_отделении.Занятых.Врачей.Функциональной_диагностики') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ППГ.Должностей.В_отделении.Занятых.Врачей.Функциональной_диагностики') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ПГ.Должностей.В_отделении.Занятых.Врачей.Функциональной_диагностики') %>" /></td>

			<td><input type="text" value="<%= obj.txt('ПППГ.Должностей.В_отделении.Физ_лиц.Врачей.Функциональной_диагностики') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ППГ.Должностей.В_отделении.Физ_лиц.Врачей.Функциональной_диагностики') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ПГ.Должностей.В_отделении.Физ_лиц.Врачей.Функциональной_диагностики') %>" /></td>
		</tr>

		<tr class="item">
			<td class="field">проц. медсестёр</td>
			<td><input type="text" value="<%= obj.txt('ПППГ.Должностей.В_отделении.Всего.Медсестёр.Процедурной') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ППГ.Должностей.В_отделении.Всего.Медсестёр.Процедурной') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ПГ.Должностей.В_отделении.Всего.Медсестёр.Процедурной') %>" /></td>

			<td><input type="text" value="<%= obj.txt('ПППГ.Должностей.В_отделении.Занятых.Медсестёр.Процедурной') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ППГ.Должностей.В_отделении.Занятых.Медсестёр.Процедурной') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ПГ.Должностей.В_отделении.Занятых.Медсестёр.Процедурной') %>" /></td>

			<td><input type="text" value="<%= obj.txt('ПППГ.Должностей.В_отделении.Физ_лиц.Медсестёр.Процедурной') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ППГ.Должностей.В_отделении.Физ_лиц.Медсестёр.Процедурной') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ПГ.Должностей.В_отделении.Физ_лиц.Медсестёр.Процедурной') %>" /></td>
		</tr>

		<tr class="item">
			<td class="field">ст. медсестёр</td>
			<td><input type="text" value="<%= obj.txt('ПППГ.Должностей.В_отделении.Всего.Медсестёр.Старших') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ППГ.Должностей.В_отделении.Всего.Медсестёр.Старших') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ПГ.Должностей.В_отделении.Всего.Медсестёр.Старших') %>" /></td>

			<td><input type="text" value="<%= obj.txt('ПППГ.Должностей.В_отделении.Занятых.Медсестёр.Старших') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ППГ.Должностей.В_отделении.Занятых.Медсестёр.Старших') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ПГ.Должностей.В_отделении.Занятых.Медсестёр.Старших') %>" /></td>

			<td><input type="text" value="<%= obj.txt('ПППГ.Должностей.В_отделении.Физ_лиц.Медсестёр.Старших') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ППГ.Должностей.В_отделении.Физ_лиц.Медсестёр.Старших') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ПГ.Должностей.В_отделении.Физ_лиц.Медсестёр.Старших') %>" /></td>
		</tr>

		<tr class="item">
			<td class="field">мл. медсестёр</td>
			<td><input type="text" value="<%= obj.txt('ПППГ.Должностей.В_отделении.Всего.Медсестёр.Младших') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ППГ.Должностей.В_отделении.Всего.Медсестёр.Младших') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ПГ.Должностей.В_отделении.Всего.Медсестёр.Младших') %>" /></td>

			<td><input type="text" value="<%= obj.txt('ПППГ.Должностей.В_отделении.Занятых.Медсестёр.Младших') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ППГ.Должностей.В_отделении.Занятых.Медсестёр.Младших') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ПГ.Должностей.В_отделении.Занятых.Медсестёр.Младших') %>" /></td>

			<td><input type="text" value="<%= obj.txt('ПППГ.Должностей.В_отделении.Физ_лиц.Медсестёр.Младших') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ППГ.Должностей.В_отделении.Физ_лиц.Медсестёр.Младших') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ПГ.Должностей.В_отделении.Физ_лиц.Медсестёр.Младших') %>" /></td>
		</tr>

		<tr class="item">
			<td class="field">санитаров</td>
			<td><input type="text" value="<%= obj.txt('ПППГ.Должностей.В_отделении.Всего.Санитаров') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ППГ.Должностей.В_отделении.Всего.Санитаров') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ПГ.Должностей.В_отделении.Всего.Санитаров') %>" /></td>

			<td><input type="text" value="<%= obj.txt('ПППГ.Должностей.В_отделении.Занятых.Санитаров') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ППГ.Должностей.В_отделении.Занятых.Санитаров') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ПГ.Должностей.В_отделении.Занятых.Санитаров') %>" /></td>

			<td><input type="text" value="<%= obj.txt('ПППГ.Должностей.В_отделении.Физ_лиц.Санитаров') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ППГ.Должностей.В_отделении.Физ_лиц.Санитаров') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ПГ.Должностей.В_отделении.Физ_лиц.Санитаров') %>" /></td>
		</tr>

		<tr>
			<td colspan="10">Итого</td>
		</tr>
		<tr class="sub-item">
			<td class="field">врачей</td>
			<td><input type="text" value="<%= obj.txt('ПППГ.Должностей.В_отделении.Всего.Итого.Врачей') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ППГ.Должностей.В_отделении.Всего.Итого.Врачей') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ПГ.Должностей.В_отделении.Всего.Итого.Врачей') %>" /></td>

			<td><input type="text" value="<%= obj.txt('ПППГ.Должностей.В_отделении.Занятых.Итого.Врачей') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ППГ.Должностей.В_отделении.Занятых.Итого.Врачей') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ПГ.Должностей.В_отделении.Занятых.Итого.Врачей') %>" /></td>

			<td><input type="text" value="<%= obj.txt('ПППГ.Должностей.В_отделении.Физ_лиц.Итого.Врачей') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ППГ.Должностей.В_отделении.Физ_лиц.Итого.Врачей') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ПГ.Должностей.В_отделении.Физ_лиц.Итого.Врачей') %>" /></td>
		</tr>
		<tr class="sub-item">
			<td class="field">ср. мед.персонала</td>
			<td><input type="text" value="<%= obj.txt('ПППГ.Должностей.В_отделении.Всего.Итого.Среднего_мед_персонала') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ППГ.Должностей.В_отделении.Всего.Итого.Среднего_мед_персонала') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ПГ.Должностей.В_отделении.Всего.Итого.Среднего_мед_персонала') %>" /></td>

			<td><input type="text" value="<%= obj.txt('ПППГ.Должностей.В_отделении.Занятых.Итого.Среднего_мед_персонала') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ППГ.Должностей.В_отделении.Занятых.Итого.Среднего_мед_персонала') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ПГ.Должностей.В_отделении.Занятых.Итого.Среднего_мед_персонала') %>" /></td>

			<td><input type="text" value="<%= obj.txt('ПППГ.Должностей.В_отделении.Физ_лиц.Итого.Среднего_мед_персонала') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ППГ.Должностей.В_отделении.Физ_лиц.Итого.Среднего_мед_персонала') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ПГ.Должностей.В_отделении.Физ_лиц.Итого.Среднего_мед_персонала') %>" /></td>
		</tr>
		<tr class="sub-item">
			<td class="field">мл. мед.персонала</td>
			<td><input type="text" value="<%= obj.txt('ПППГ.Должностей.В_отделении.Всего.Итого.Младшего_мед_персонала') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ППГ.Должностей.В_отделении.Всего.Итого.Младшего_мед_персонала') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ПГ.Должностей.В_отделении.Всего.Итого.Младшего_мед_персонала') %>" /></td>

			<td><input type="text" value="<%= obj.txt('ПППГ.Должностей.В_отделении.Занятых.Итого.Младшего_мед_персонала') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ППГ.Должностей.В_отделении.Занятых.Итого.Младшего_мед_персонала') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ПГ.Должностей.В_отделении.Занятых.Итого.Младшего_мед_персонала') %>" /></td>

			<td><input type="text" value="<%= obj.txt('ПППГ.Должностей.В_отделении.Физ_лиц.Итого.Младшего_мед_персонала') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ППГ.Должностей.В_отделении.Физ_лиц.Итого.Младшего_мед_персонала') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ПГ.Должностей.В_отделении.Физ_лиц.Итого.Младшего_мед_персонала') %>" /></td>
		</tr>
		<tr class="sub-item">
			<td class="field">прочие</td>
			<td><input type="text" value="<%= obj.txt('ПППГ.Должностей.В_отделении.Всего.Итого.Прочие') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ППГ.Должностей.В_отделении.Всего.Итого.Прочие') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ПГ.Должностей.В_отделении.Всего.Итого.Прочие') %>" /></td>

			<td><input type="text" value="<%= obj.txt('ПППГ.Должностей.В_отделении.Занятых.Итого.Прочие') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ППГ.Должностей.В_отделении.Занятых.Итого.Прочие') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ПГ.Должностей.В_отделении.Занятых.Итого.Прочие') %>" /></td>

			<td><input type="text" value="<%= obj.txt('ПППГ.Должностей.В_отделении.Физ_лиц.Итого.Прочие') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ППГ.Должностей.В_отделении.Физ_лиц.Итого.Прочие') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ПГ.Должностей.В_отделении.Физ_лиц.Итого.Прочие') %>" /></td>
		</tr>

	</table>

</div>