﻿<style>
</style>
<div class="cpw-meo-yearly-region-organizational">

	<div id="cpw-meo-yearly-region-organizational-tabs" <%= obj.tabs_attrs() %> >
		<ul>
			<li><a href="#cpw-meo-yearly-region-organizational-tab-1" >Основные данные</a></li>
			<li><a href="#cpw-meo-yearly-region-organizational-tab-2" >Регион ответственности</a></li>
			<li><a href="#cpw-meo-yearly-region-organizational-tab-3" >Подразделения</a></li>
			<li><a href="#cpw-meo-yearly-region-organizational-tab-4" >Койко-места</a></li>
			<li><a href="#cpw-meo-yearly-region-organizational-tab-5" >Лицензии, комиссии</a></li>
		</ul>
		<div id="cpw-meo-yearly-region-organizational-tab-1" class="page" >
			<% if (0) { %>Страница "Центр"<% } %>
			<%= obj.control('Центр') %>
		</div>
		<div id="cpw-meo-yearly-region-organizational-tab-2" class="page">
			<% if (0) { %>Страница "Аудитория"<% } %>
			<%= obj.control('Аудитория') %>
		</div>
		<div id="cpw-meo-yearly-region-organizational-tab-3" class="page">
			<% if (0) { %>Страница "Подразделения"<% } %>
			<%= obj.fields_control('Подразделения') %>
		</div>
		<div id="cpw-meo-yearly-region-organizational-tab-4" class="page">
			<% if (0) { %>Страница "Койко-места"<% } %>
			<%= obj.control('Койко_места') %>
		</div>
		<div id="cpw-meo-yearly-region-organizational-tab-5" class="page">
			<% if (0) { %>Страница "Лицензии_и_комиссии"<% } %>
			<%= obj.control('Лицензии_и_комиссии') %>
		</div>
	</div>

</div>