﻿<style>
div.cpw-meo-yearly-region-staff-cabinet td.kind
,div.cpw-meo-yearly-region-staff-cabinet td.year
{
	text-align:center;
}
div.cpw-meo-yearly-region-staff-cabinet input
{
	width:75px;
}
</style>
<% if (0) { %>
<style>
div.cpw-meo-yearly-region-staff-cabinet tr.design-mode
{
	background-color:yellow;
}
</style>
<% } %>
<div class="cpw-meo-yearly-region-staff-cabinet">

	<table <% if (0) { %> border="1" cellspacing="0" <% } %> >
		<% if (0) { %> 
			<tr class="design-mode"><td>1</td><td>2</td><td>3</td><td>4</td><td>5</td><td>6</td><td>7</td><td>8</td><td>9</td><td>10</td></tr>
			<tr class="design-mode">
				<td class="field">Наименование поля</td>
				<td colspan="3" class="kind">количество должностей</td>
				<td colspan="3" class="kind">в т.ч. занятых</td>
				<td colspan="3" class="kind">в т.ч. физических лиц</td>
			</tr>
			<tr class="design-mode">
				<td class="field"></td>
				<td class="year">2015 год</td>
				<td class="year">2016 год</td>
				<td class="year">2017 год</td>
				<td class="year">2015 год</td>
				<td class="year">2016 год</td>
				<td class="year">2017 год</td>
				<td class="year">2015 год</td>
				<td class="year">2016 год</td>
				<td class="year">2017 год</td>
			</tr>
		 <% } %>
		<tr>
			<td class="field">В кабинете</td>
			<td colspan="3" class="kind">количество должностей</td>
			<td colspan="3" class="kind">в т.ч. занятых</td>
			<td colspan="3" class="kind">в т.ч. физических лиц</td>
		</tr>
		<tr>
			<td class="field"></td>
			<td class="year">2015 год</td>
			<td class="year">2016 год</td>
			<td class="year">2017 год</td>
			<td class="year">2015 год</td>
			<td class="year">2016 год</td>
			<td class="year">2017 год</td>
			<td class="year">2015 год</td>
			<td class="year">2016 год</td>
			<td class="year">2017 год</td>
		</tr>

		<tr class="sub-item">
			<td class="field">профпатологов</td>
			<td><input type="text" value="<%= obj.txt('ПППГ.Должностей.В_кабинете.Всего.Профпатологов') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ППГ.Должностей.В_кабинете.Всего.Профпатологов') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ПГ.Должностей.В_кабинете.Всего.Профпатологов') %>" /></td>

			<td><input type="text" value="<%= obj.txt('ПППГ.Должностей.В_кабинете.Занятых.Профпатологов') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ППГ.Должностей.В_кабинете.Занятых.Профпатологов') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ПГ.Должностей.В_кабинете.Занятых.Профпатологов') %>" /></td>

			<td><input type="text" value="<%= obj.txt('ПППГ.Должностей.В_кабинете.Физ_лиц.Профпатологов') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ППГ.Должностей.В_кабинете.Физ_лиц.Профпатологов') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ПГ.Должностей.В_кабинете.Физ_лиц.Профпатологов') %>" /></td>
		</tr>

		<tr class="sub-item">
			<td class="field">мед.сестёр</td>
			<td><input type="text" value="<%= obj.txt('ПППГ.Должностей.В_кабинете.Всего.Медсестёр') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ППГ.Должностей.В_кабинете.Всего.Медсестёр') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ПГ.Должностей.В_кабинете.Всего.Медсестёр') %>" /></td>

			<td><input type="text" value="<%= obj.txt('ПППГ.Должностей.В_кабинете.Занятых.Медсестёр') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ППГ.Должностей.В_кабинете.Занятых.Медсестёр') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ПГ.Должностей.В_кабинете.Занятых.Медсестёр') %>" /></td>

			<td><input type="text" value="<%= obj.txt('ПППГ.Должностей.В_кабинете.Физ_лиц.Медсестёр') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ППГ.Должностей.В_кабинете.Физ_лиц.Медсестёр') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ПГ.Должностей.В_кабинете.Физ_лиц.Медсестёр') %>" /></td>
		</tr>

		<tr class="sub-item">
			<td class="field">санитаров</td>
			<td><input type="text" value="<%= obj.txt('ПППГ.Должностей.В_кабинете.Всего.Санитаров') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ППГ.Должностей.В_кабинете.Всего.Санитаров') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ПГ.Должностей.В_кабинете.Всего.Санитаров') %>" /></td>

			<td><input type="text" value="<%= obj.txt('ПППГ.Должностей.В_кабинете.Занятых.Санитаров') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ППГ.Должностей.В_кабинете.Занятых.Санитаров') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ПГ.Должностей.В_кабинете.Занятых.Санитаров') %>" /></td>

			<td><input type="text" value="<%= obj.txt('ПППГ.Должностей.В_кабинете.Физ_лиц.Санитаров') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ППГ.Должностей.В_кабинете.Физ_лиц.Санитаров') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ПГ.Должностей.В_кабинете.Физ_лиц.Санитаров') %>" /></td>
		</tr>

		<tr class="total">
			<td class="field">Итого:</td>
			<td><input type="text" value="<%= obj.txt('ПППГ.Должностей.В_кабинете.Всего.Всех') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ППГ.Должностей.В_кабинете.Всего.Всех') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ПГ.Должностей.В_кабинете.Всего.Всех') %>" /></td>

			<td><input type="text" value="<%= obj.txt('ПППГ.Должностей.В_кабинете.Занятых.Всех') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ППГ.Должностей.В_кабинете.Занятых.Всех') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ПГ.Должностей.В_кабинете.Занятых.Всех') %>" /></td>

			<td><input type="text" value="<%= obj.txt('ПППГ.Должностей.В_кабинете.Физ_лиц.Всех') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ППГ.Должностей.В_кабинете.Физ_лиц.Всех') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ПГ.Должностей.В_кабинете.Физ_лиц.Всех') %>" /></td>
		</tr>

	</table>

</div>