<style>
div.crowbar-test-nailed-select2 select
, div.crowbar-test-nailed-select2 div.select
{
	width: 300px;
	display: inline-block;
}
div.crowbar-test-nailed-select2 div.title
{
	display: inline-block;
	width: 260px;
	height: 30px;
}
</style>
<div class="crowbar-test-nailed-select2">
	<div class="title">простой select2:</div>
	<select <%= obj.select2_attrs('first') %> >
		<option <%= obj.option_attrs('вариант 1') %> >текст для варианта 1</option>
		<option <%= obj.option_attrs('вариант 2') %> >текст для варианта 2</option>
		<option <%= obj.option_attrs('вариант 3') %> >текст для варианта 3</option>
	</select>
	<br/>

	<div class="title">select2 с вариантами из массива:</div>
	<div class="select" <%= obj.select2_attrs('second') %> >тут должен быть select2</div>
	<br/>

	<div class="title">select2 с вариантами из функции:</div>
	<div class="select" <%= obj.select2_attrs('third') %> >тут должен быть select2</div>
	<br/>

	<div class="title">select2 без настроек в options:</div>
	<div class="select" <%= obj.select2_attrs('fourth') %> >тут должен быть select2</div>
	<br/>

	<div class="title">select2 с из массива, multiselect:</div>
	<div class="select" <%= obj.select2_attrs('fiveth') %> >тут должен быть select2</div>
	<br/>

	<div class="title">select2 из ajax источника:</div>
	<div class="select" <%= obj.select2_attrs('sixth') %> >тут должен быть select2</div>
	<br/>

	<div class="title">select2 из ajax источника, multiselect:</div>
	<div class="select" <%= obj.select2_attrs('seventh') %> >тут должен быть select2</div>
	<br/>

</div>