﻿<style>
</style>
<div class="cpw-meo-yearly-region-equipment">

	<div id="cpw-meo-yearly-region-equipment-tabs" <%= obj.tabs_attrs() %> >
		<ul>
			<li><a href="#cpw-meo-yearly-region-equipment-tab-1" >В центре</a></li>
			<li><a href="#cpw-meo-yearly-region-equipment-tab-2" >В отделении</a></li>
			<li><a href="#cpw-meo-yearly-region-equipment-tab-3" >В кабинете</a></li>
		</ul>
		<div id="cpw-meo-yearly-region-equipment-tab-1" class="page" >
			<% if (0) { %>Страница "Центр"<% } %>
			<%= obj.control('Центр') %>
		</div>
		<div id="cpw-meo-yearly-region-equipment-tab-2" class="page">
			<% if (0) { %>Страница "Отделение"<% } %>
			<%= obj.control('Отделение') %>
		</div>
		<div id="cpw-meo-yearly-region-equipment-tab-3" class="page">
			<% if (0) { %>Страница "Кабинет"<% } %>
			<%= obj.control('Кабинет') %>
		</div>
	</div>

</div>