﻿<style>
div.cpw-meo-yearly-region-economic-service td.field
{
	width: 300px;
	vertical-align:top;
}
div.cpw-meo-yearly-region-economic-service td.plan-fact
{
	width: 100px;
	text-align:center;
}
div.cpw-meo-yearly-region-economic-service td.year
{
	text-align:center;
}
div.cpw-meo-yearly-region-economic-service td.plan-fact input
{
	width:50px;
}
div.cpw-meo-yearly-region-economic-service div.buttons
{
	float: right;
}
div.cpw-meo-yearly-region-economic-service tbody[fc-type="array-item"]:hover
{
	background-color: #eeeeee
}
div.cpw-meo-yearly-region-economic-service tbody[fc-type="array-item"] tr.sub-item:hover
{
	background-color: silver;
}
div.cpw-meo-yearly-region-economic-service tbody[fc-type="array-item"] span.text
{
	cursor:pointer;
}
div.cpw-meo-yearly-region-economic-service tbody[fc-type="array-item"] span.text:hover
{
	background-color: silver;
}
div.cpw-meo-yearly-region-economic-service img.button
{
	cursor: pointer;
	margin:4px;
}
div.cpw-meo-yearly-region-economic-service img.button:hover
{
	border:3px solid silver;
	margin:1px;
}
div.cpw-meo-yearly-region-economic-service span.ei
{
	font-size: small;
}
div.cpw-meo-yearly-region-economic-service button.add
{
	border-radius:8px;
	border: 1px solid #f2f2f2;
	background-color: #f9f9f9;
	cursor:pointer;
	font-size:small !important;
	color:gray;
	margin-left: 10px;
	width: 900px;
	text-align:left;
	margin:3px;
	text-align:center;
}
div.cpw-meo-yearly-region-economic-service button.add:hover
{
	background-color: #eeeeee;
}
</style>
<% if (0) { %>
<style>
div.cpw-meo-yearly-region-economic-service tbody.design-mode
{
	background-color:yellow;
}
</style>
<% } %>
<div class="cpw-meo-yearly-region-economic-service">

	<table <% if (0) { %> border="1" cellspacing="0" <% } %> >
		<% if (0) { %> 
			<tbody class="design-mode">
				<tr><td>1</td><td>2</td><td>3</td><td>4</td><td>5</td><td>6</td><td>7</td></tr>
				<tr>
					<td rowspan="2">Наименование поля</td>
					<td colspan="2">2015 год</td>
					<td colspan="2">2016 год</td>
					<td colspan="2">2017 год</td>
				</tr>
				<tr>
					<td>План</td>
					<td>Факт</td>
					<td>План</td>
					<td>Факт</td>
					<td>План</td>
					<td>Факт</td>
				</tr>
			</tbody>
		 <% } %>

		<thead>
			<tr>
				<td class="field"></td>
				<td colspan="2" class="year">2015 год</td>
				<td colspan="2" class="year">2016 год</td>
				<td colspan="2" class="year">2017 год</td>
			</tr>
			<tr>
				<td></td>
				<td class="plan-fact">План</td>
				<td class="plan-fact">Факт</td>
				<td class="plan-fact">План</td>
				<td class="plan-fact">Факт</td>
				<td class="plan-fact">План</td>
				<td class="plan-fact">Факт</td>
			</tr>
		</thead>

		<tr>
			<td colspan="7" >Ремонт зданий/сооружений, за счет бюджетных/внебюджетных средств с указанием объекта, % износа, фин. затраты:</td>
		</tr>

	</table>
	<div <%= obj.with_attrs('Ремонт') %> >
		<% obj.start_with(); %>

		<div <%= obj.empty_attrs() %> >
			данных о ремонте нет
		</div>

		<table <%= obj.not_empty_attrs() %>  <% if (0) { %> border="1" cellspacing="0" <% } %> >
			<% if (0) { %> 
				<tbody class="design-mode">
					<tr><td>1</td><td>2</td><td>3</td><td>4</td><td>5</td><td>6</td><td>7</td></tr>
					<tr>
						<td rowspan="2">Наименование поля</td>
						<td colspan="2">2015 год</td>
						<td colspan="2">2016 год</td>
						<td colspan="2">2017 год</td>
					</tr>
					<tr>
						<td>План</td>
						<td>Факт</td>
						<td>План</td>
						<td>Факт</td>
						<td>План</td>
						<td>Факт</td>
					</tr>
				</tbody>
			 <% } %>

			<% while (obj.iterate()) { %>
			<tbody <%= obj.item_attrs() %> >
				<tr>
					<td colspan="7" >
						<div class="buttons">
							<img class="button edit" src="images/edit.png" />
							<img class="button delete" src="images/remove.png" />
						</div>
						<span class="text">
							<%= obj.text_field('Объект') %>
								<% if (obj.is_seed()) { %>Дача главного профпатолога<% } %>
							<%= obj.text_field_end() %> 
							(<%= obj.text_field('Износ_процентов') %>
								<% if (obj.is_seed()) { %>1<% } %>
							<%= obj.text_field_end() %>% износа на момент начала работ):
						</span>
					</td>
				</tr>
				<tr class="sub-item">
					<td class="field"> - бюджетные средства</td>
					<td class="plan-fact"><input type="text" value="<%= obj.txt('Финансирование.Из_бюджета.План.ПППГ') %>" /> <span class="ei">руб.</span></td>
					<td class="plan-fact"><input type="text" value="<%= obj.txt('Финансирование.Из_бюджета.Факт.ПППГ') %>" /> <span class="ei">руб.</span></td>
					<td class="plan-fact"><input type="text" value="<%= obj.txt('Финансирование.Из_бюджета.План.ППГ') %>" /> <span class="ei">руб.</span></td>
					<td class="plan-fact"><input type="text" value="<%= obj.txt('Финансирование.Из_бюджета.Факт.ППГ') %>" /> <span class="ei">руб.</span></td>
					<td class="plan-fact"><input type="text" value="<%= obj.txt('Финансирование.Из_бюджета.План.ПГ') %>" /> <span class="ei">руб.</span></td>
					<td class="plan-fact"><input type="text" value="<%= obj.txt('Финансирование.Из_бюджета.Факт.ПГ') %>" /> <span class="ei">руб.</span></td>
				</tr>
				<tr class="sub-item">
					<td class="field"> - внебюджетные средства</td>
					<td class="plan-fact"><input type="text" value="<%= obj.txt('Финансирование.Из_внебюджета.План.ПППГ') %>" /> <span class="ei">руб.</span></td>
					<td class="plan-fact"><input type="text" value="<%= obj.txt('Финансирование.Из_внебюджета.Факт.ПППГ') %>" /> <span class="ei">руб.</span></td>
					<td class="plan-fact"><input type="text" value="<%= obj.txt('Финансирование.Из_внебюджета.План.ППГ') %>" /> <span class="ei">руб.</span></td>
					<td class="plan-fact"><input type="text" value="<%= obj.txt('Финансирование.Из_внебюджета.Факт.ППГ') %>" /> <span class="ei">руб.</span></td>
					<td class="plan-fact"><input type="text" value="<%= obj.txt('Финансирование.Из_внебюджета.План.ПГ') %>" /> <span class="ei">руб.</span></td>
					<td class="plan-fact"><input type="text" value="<%= obj.txt('Финансирование.Из_внебюджета.Факт.ПГ') %>" /> <span class="ei">руб.</span></td>
				</tr>
			</tbody>
			<% } %>
		</table>

		<button class="add">Добавить описание ремонта объекта в составе здания/сооружения</button>

		<% obj.end_with() %>
	</div>

	<table <% if (0) { %> border="1" cellspacing="0" <% } %> >
		<% if (0) { %> 
			<tbody class="design-mode">
				<tr><td>1</td><td>2</td><td>3</td><td>4</td><td>5</td><td>6</td><td>7</td></tr>
				<tr>
					<td rowspan="2">Наименование поля</td>
					<td colspan="2">2015 год</td>
					<td colspan="2">2016 год</td>
					<td colspan="2">2017 год</td>
				</tr>
				<tr>
					<td>План</td>
					<td>Факт</td>
					<td>План</td>
					<td>Факт</td>
					<td>План</td>
					<td>Факт</td>
				</tr>
			</tbody>
		 <% } %>

		<tr>
			<td colspan="7" >Техническое обслуживание зданий / сооружений и оборудования, наличие договоров (количество организаций – подрядчиков)</td>
		</tr>
		<tr class="total">
			<td colspan="7" class="field">Здания / сооружения:</td>
		</tr>
		<tr class="sub-item">
			<td class="field">бюджетные средства</td>
			<td class="plan-fact"><input type="text" value="<%= obj.txt('Обслуживание.Зданий.Из_бюджета.План.ПППГ') %>" /> <span class="ei">дог-ов</span></td>
			<td class="plan-fact"><input type="text" value="<%= obj.txt('Обслуживание.Зданий.Из_бюджета.Факт.ПППГ') %>" /> <span class="ei">дог-ов</span></td>
			<td class="plan-fact"><input type="text" value="<%= obj.txt('Обслуживание.Зданий.Из_бюджета.План.ППГ') %>" /> <span class="ei">дог-ов</span></td>
			<td class="plan-fact"><input type="text" value="<%= obj.txt('Обслуживание.Зданий.Из_бюджета.Факт.ППГ') %>" /> <span class="ei">дог-ов</span></td>
			<td class="plan-fact"><input type="text" value="<%= obj.txt('Обслуживание.Зданий.Из_бюджета.План.ПГ') %>" /> <span class="ei">дог-ов</span></td>
			<td class="plan-fact"><input type="text" value="<%= obj.txt('Обслуживание.Зданий.Из_бюджета.Факт.ПГ') %>" /> <span class="ei">дог-ов</span></td>
		</tr>
		<tr class="sub-item">
			<td class="field">внебюджетные средства</td>
			<td class="plan-fact"><input type="text" value="<%= obj.txt('Обслуживание.Зданий.Из_внебюджета.План.ПППГ') %>" /> <span class="ei">дог-ов</span></td>
			<td class="plan-fact"><input type="text" value="<%= obj.txt('Обслуживание.Зданий.Из_внебюджета.Факт.ПППГ') %>" /> <span class="ei">дог-ов</span></td>
			<td class="plan-fact"><input type="text" value="<%= obj.txt('Обслуживание.Зданий.Из_внебюджета.План.ППГ') %>" /> <span class="ei">дог-ов</span></td>
			<td class="plan-fact"><input type="text" value="<%= obj.txt('Обслуживание.Зданий.Из_внебюджета.Факт.ППГ') %>" /> <span class="ei">дог-ов</span></td>
			<td class="plan-fact"><input type="text" value="<%= obj.txt('Обслуживание.Зданий.Из_внебюджета.План.ПГ') %>" /> <span class="ei">дог-ов</span></td>
			<td class="plan-fact"><input type="text" value="<%= obj.txt('Обслуживание.Зданий.Из_внебюджета.Факт.ПГ') %>" /> <span class="ei">дог-ов</span></td>
		</tr>
		<tr class="total">
			<td colspan="7" class="field">Оборудование:</td>
		</tr>
		<tr class="sub-item">
			<td class="field">бюджетные средства</td>
			<td class="plan-fact"><input type="text" value="<%= obj.txt('Обслуживание.Оборудования.Из_бюджета.План.ПППГ') %>" /> <span class="ei">дог-ов</span></td>
			<td class="plan-fact"><input type="text" value="<%= obj.txt('Обслуживание.Оборудования.Из_бюджета.Факт.ПППГ') %>" /> <span class="ei">дог-ов</span></td>
			<td class="plan-fact"><input type="text" value="<%= obj.txt('Обслуживание.Оборудования.Из_бюджета.План.ППГ') %>" /> <span class="ei">дог-ов</span></td>
			<td class="plan-fact"><input type="text" value="<%= obj.txt('Обслуживание.Оборудования.Из_бюджета.Факт.ППГ') %>" /> <span class="ei">дог-ов</span></td>
			<td class="plan-fact"><input type="text" value="<%= obj.txt('Обслуживание.Оборудования.Из_бюджета.План.ПГ') %>" /> <span class="ei">дог-ов</span></td>
			<td class="plan-fact"><input type="text" value="<%= obj.txt('Обслуживание.Оборудования.Из_бюджета.Факт.ПГ') %>" /> <span class="ei">дог-ов</span></td>
		</tr>
		<tr class="sub-item">
			<td class="field">внебюджетные средства</td>
			<td class="plan-fact"><input type="text" value="<%= obj.txt('Обслуживание.Оборудования.Из_внебюджета.План.ПППГ') %>" /> <span class="ei">дог-ов</span></td>
			<td class="plan-fact"><input type="text" value="<%= obj.txt('Обслуживание.Оборудования.Из_внебюджета.Факт.ПППГ') %>" /> <span class="ei">дог-ов</span></td>
			<td class="plan-fact"><input type="text" value="<%= obj.txt('Обслуживание.Оборудования.Из_внебюджета.План.ППГ') %>" /> <span class="ei">дог-ов</span></td>
			<td class="plan-fact"><input type="text" value="<%= obj.txt('Обслуживание.Оборудования.Из_внебюджета.Факт.ППГ') %>" /> <span class="ei">дог-ов</span></td>
			<td class="plan-fact"><input type="text" value="<%= obj.txt('Обслуживание.Оборудования.Из_внебюджета.План.ПГ') %>" /> <span class="ei">дог-ов</span></td>
			<td class="plan-fact"><input type="text" value="<%= obj.txt('Обслуживание.Оборудования.Из_внебюджета.Факт.ПГ') %>" /> <span class="ei">дог-ов</span></td>
		</tr>
		<tr>
			<td colspan="7">Метрологическая поверка оборудования (наличие договоров, кратность, стоимость):</td>
		</tr>
		<tr class="sub-item">
			<td class="field">наличие договора</td>
			<td colspan="2" class="year"><input type="checkbox" <%= obj.checkbox_attrs('Метрологическая_проверка.Есть_договор.ПППГ') %> /></td>
			<td colspan="2" class="year"><input type="checkbox" <%= obj.checkbox_attrs('Метрологическая_проверка.Есть_договор.ППГ') %> /></td>
			<td colspan="2" class="year"><input type="checkbox" <%= obj.checkbox_attrs('Метрологическая_проверка.Есть_договор.ПГ') %> /></td>
		</tr>
		<tr class="sub-item">
			<td class="field">количество проверок</td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('Метрологическая_проверка.Кратность.ПППГ') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('Метрологическая_проверка.Кратность.ППГ') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('Метрологическая_проверка.Кратность.ПГ') %>" /></td>
		</tr>
		<tr class="sub-item">
			<td class="field">стоимость</td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('Метрологическая_проверка.Стоимость.ПППГ') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('Метрологическая_проверка.Стоимость.ППГ') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('Метрологическая_проверка.Стоимость.ПГ') %>" /></td>
		</tr>
	</table>

</div>