﻿<style>
div.cpw-meo-yearly-region-organizational-audience td.field
{
	width: 700px;
	vertical-align:top;
}
div.cpw-meo-yearly-region-organizational-audience td.plan-fact
{
	width: 100px;
	text-align:center;
}
div.cpw-meo-yearly-region-organizational-audience td.year
{
	text-align:center;
}
div.cpw-meo-yearly-region-organizational-audience input
{
	width: 80px;
}
div.cpw-meo-yearly-region-organizational-audience tr.sub-item td.field
{
	padding-left: 20px;
}
div.cpw-meo-yearly-region-organizational-audience .full
{
	margin-left: 30px;
	width:800px;
}
div.cpw-meo-yearly-region-organizational-audience div.select
{
	display:inline-block;
	width:400px;
}
</style>
<% if (0) { %>
<style>
div.cpw-meo-yearly-region-organizational-audience tr.design-mode
{
	background-color:yellow;
}
</style>
<% } %>
<div class="cpw-meo-yearly-region-organizational-audience">

	<div class="row">
		Центр прикреплён к субъекту РФ 
		<div class="select" <%= obj.select2_attrs('Субъект_РФ') %> >Тут должен быть выбор региона</div>
	</div>

	<div class="row">
		<div class="title">Основные виды промышленности и сельского хозяйства в субъекте РФ</div>
		<textarea class="full" style="height:7em;width:915px" <%= obj.textarea_attrs('Основные_отрасли') %> ><%= obj.value() %></textarea>
	</div>

	<table <% if (0) { %> border="1" cellspacing="0" <% } %> >
		<% if (0) { %> 
			<tr class="design-mode"><td>1</td><td>2</td><td>3</td><td>4</td><td>5</td><td>6</td><td>7</td></tr>
			<tr class="design-mode">
				<td class="field">Наименование поля</td>
				<td colspan="2" class="year">2015 год</td>
				<td colspan="2" class="year">2016 год</td>
				<td colspan="2" class="year">2017 год</td>
			</tr>
		 <% } %>
		<tr>
			<td class="field"></td>
			<td colspan="2" class="year">2015 год</td>
			<td colspan="2" class="year">2016 год</td>
			<td colspan="2" class="year">2017 год</td>
		</tr>

		<tr class="item">
			<td class="field">Число рабочих мест, являющихся вредными и/или опасными</td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('Рабочих_мест.ПППГ') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('Рабочих_мест.ППГ') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('Рабочих_мест.ПГ') %>" /></td>
		</tr>

		<tr class="item">
			<td class="field">Число лиц, подлежащих ПМО в Субъекте Российской Федерации</td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('Число_подлежащих_ПМО.ПППГ') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('Число_подлежащих_ПМО.ППГ') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('Число_подлежащих_ПМО.ПГ') %>" /></td>
		</tr>

	</table>

</div>