﻿<style>
div.cpw-myr-ogr-office
{
	width: 900px;
	margin: auto 0;
}
div.cpw-myr-ogr-office table
{
	width:100%;
}
div.cpw-myr-ogr-office textarea
{
	height: 3em;
	width: 530px;
	margin-left: 10px;
}
div.cpw-myr-ogr-office td
{
	padding-left: 10px;
	vertical-align:top;
}
div.cpw-myr-ogr-office td.center
{
	text-align:center;
}
div.cpw-myr-ogr-office input
{
	width: 50px;
}
</style>
<% if (0) { %>
<style>
div.cpw-myr-ogr-office tr.design-mode
{
	background-color:yellow;
}
</style>
<% } %>
<div class="cpw-myr-ogr-office">

	<table <% if (0) { %> border="1" cellspacing="0" <% } %> >

		<% if (0) { %> 
			<tr class="design-mode"><td>1</td><td>2</td><td>3</td><td>4</td></tr>
			<tr class="design-mode">
				<td>Наименование поля</td>
				<td>2015 год:</td>
				<td>2016 год:</td>
				<td>2017 год:</td>
			</tr>
		 <% } %>

		<tr>
			<td>Наименование (профиль) отделения:</td>
			<td class="center">2015 год:</td>
			<td class="center">2016 год:</td>
			<td class="center">2017 год:</td>
		</tr>

		<tr>
			<td>
				<textarea <%= obj.textarea_attrs('Наименование') %> ><%= obj.value() %></textarea>
			</td>
			<td><input type="text" value="<%= obj.txt('Коек.ПППГ') %>" /> коек</td>
			<td><input type="text" value="<%= obj.txt('Коек.ППГ') %>" /> коек</td>
			<td><input type="text" value="<%= obj.txt('Коек.ПГ') %>" /> коек</td>
		</tr>

	</table>
</div>