﻿<style>
div.cpw-form-delete-org-office-confirm div.title
{
	margin-left: 20px;
	display:inline-block;
}
</style>
<div class="cpw-form-delete-org-office-confirm">
	Вы действительно хотите удалить информацию о профпатологическом отделении<br/>
	<div class="title">"<b><%= obj.Удаляемое_отделение.Наименование %><% if (0) { %>гинекологическое отделение<% } %></b>"?</div><br/>
</div>