﻿<style>
div.cpw-myr-org-unit table input 
{
	width: 70px;
}
div.cpw-myr-org-unit input[model-selector="Наименование"]
{
	width:580px;
}
div.cpw-myr-org-unit tbody.title
{
	text-align: center
}
div.cpw-myr-org-unit td.title
{
	width: 120px;
}
</style>
<% if (0) { %>
<style>
div.cpw-myr-org-unit tbody.design-mode
{
	background-color:yellow;
}
</style>
<% } %>
<div class="cpw-myr-org-unit">

	<span>Наименование подразделения:</span> 
	<input type="text" value="<%= obj.txt('Наименование') %>" />
	<br/><br/>
	<table <% if (0) { %> border="1" cellspacing="0" <% } %> >

		<% if (0) { %> 
			<tbody class="design-mode">
				<tr><td>1</td><td>2</td><td>3</td><td>4</td><td>5</td><td>6</td><td>7</td><td>8</td><td>9</td><td>10</td><td>11</td><td>12</td></tr>
				<tr>
					<td>Категория</td>
					<td colspan="3">должностей:</td>
					<td>&nbsp;</td>
					<td colspan="3">в том числе занятых:</td>
					<td>&nbsp;</td>
					<td colspan="3">в том числе физических лиц:</td>
				</tr>
				<tr>
					<td></td>
					<td>2015 год</td>
					<td>2016 год</td>
					<td>2017 год</td>
					<td>&nbsp;</td>
					<td>2015 год</td>
					<td>2016 год</td>
					<td>2017 год</td>
					<td>&nbsp;</td>
					<td>2015 год</td>
					<td>2016 год</td>
					<td>2017 год</td>
				</tr>
			</tbody>
		 <% } %>

		<tbody class="title">
			<tr>
				<td></td>
				<td colspan="3">должностей:</td>
				<td>&nbsp;</td>
				<td colspan="3">в том числе занятых:</td>
				<td>&nbsp;</td>
				<td colspan="3">в том числе физических лиц:</td>
			</tr>
			<tr>
				<td></td>
				<td>2015 год</td>
				<td>2016 год</td>
				<td>2017 год</td>
				<td>&nbsp;</td>
				<td>2015 год</td>
				<td>2016 год</td>
				<td>2017 год</td>
				<td>&nbsp;</td>
				<td>2015 год</td>
				<td>2016 год</td>
				<td>2017 год</td>
			</tr>
		</tbody>

		<tr class="item">
			<td class="title">заведующих</td>
			<td><input type="text" value="<%= obj.txt('Заведующих.Должностей.ПППГ') %>" /></td>
			<td><input type="text" value="<%= obj.txt('Заведующих.Должностей.ППГ') %>" /></td>
			<td><input type="text" value="<%= obj.txt('Заведующих.Должностей.ПГ') %>" /></td>
			<td>&nbsp;</td>
			<td><input type="text" value="<%= obj.txt('Заведующих.Занято_должностей.ПППГ') %>" /></td>
			<td><input type="text" value="<%= obj.txt('Заведующих.Занято_должностей.ППГ') %>" /></td>
			<td><input type="text" value="<%= obj.txt('Заведующих.Занято_должностей.ПГ') %>" /></td>
			<td>&nbsp;</td>
			<td><input type="text" value="<%= obj.txt('Заведующих.Физ_лиц.ПППГ') %>" /></td>
			<td><input type="text" value="<%= obj.txt('Заведующих.Физ_лиц.ППГ') %>" /></td>
			<td><input type="text" value="<%= obj.txt('Заведующих.Физ_лиц.ПГ') %>" /></td>
		</tr>

		<tr class="item">
			<td class="title">врачей, в т.ч.:</td>
			<td><input type="text" value="<%= obj.txt('Врачей.Должностей.ПППГ') %>" /></td>
			<td><input type="text" value="<%= obj.txt('Врачей.Должностей.ППГ') %>" /></td>
			<td><input type="text" value="<%= obj.txt('Врачей.Должностей.ПГ') %>" /></td>
			<td>&nbsp;</td>
			<td><input type="text" value="<%= obj.txt('Врачей.Занято_должностей.ПППГ') %>" /></td>
			<td><input type="text" value="<%= obj.txt('Врачей.Занято_должностей.ППГ') %>" /></td>
			<td><input type="text" value="<%= obj.txt('Врачей.Занято_должностей.ПГ') %>" /></td>
			<td>&nbsp;</td>
			<td><input type="text" value="<%= obj.txt('Врачей.Физ_лиц.ПППГ') %>" /></td>
			<td><input type="text" value="<%= obj.txt('Врачей.Физ_лиц.ППГ') %>" /></td>
			<td><input type="text" value="<%= obj.txt('Врачей.Физ_лиц.ПГ') %>" /></td>
		</tr>

		<tr class="item">
			<td class="title">- профпатологов</td>
			<td><input type="text" value="<%= obj.txt('Профпатологов.Должностей.ПППГ') %>" /></td>
			<td><input type="text" value="<%= obj.txt('Профпатологов.Должностей.ППГ') %>" /></td>
			<td><input type="text" value="<%= obj.txt('Профпатологов.Должностей.ПГ') %>" /></td>
			<td>&nbsp;</td>
			<td><input type="text" value="<%= obj.txt('Профпатологов.Занято_должностей.ПППГ') %>" /></td>
			<td><input type="text" value="<%= obj.txt('Профпатологов.Занято_должностей.ППГ') %>" /></td>
			<td><input type="text" value="<%= obj.txt('Профпатологов.Занято_должностей.ПГ') %>" /></td>
			<td>&nbsp;</td>
			<td><input type="text" value="<%= obj.txt('Профпатологов.Физ_лиц.ПППГ') %>" /></td>
			<td><input type="text" value="<%= obj.txt('Профпатологов.Физ_лиц.ППГ') %>" /></td>
			<td><input type="text" value="<%= obj.txt('Профпатологов.Физ_лиц.ПГ') %>" /></td>
		</tr>

		<tr class="item">
			<td class="title">ср.мед.персонала</td>
			<td><input type="text" value="<%= obj.txt('Ср_медперсонал.Должностей.ПППГ') %>" /></td>
			<td><input type="text" value="<%= obj.txt('Ср_медперсонал.Должностей.ППГ') %>" /></td>
			<td><input type="text" value="<%= obj.txt('Ср_медперсонал.Должностей.ПГ') %>" /></td>
			<td>&nbsp;</td>
			<td><input type="text" value="<%= obj.txt('Ср_медперсонал.Занято_должностей.ПППГ') %>" /></td>
			<td><input type="text" value="<%= obj.txt('Ср_медперсонал.Занято_должностей.ППГ') %>" /></td>
			<td><input type="text" value="<%= obj.txt('Ср_медперсонал.Занято_должностей.ПГ') %>" /></td>
			<td>&nbsp;</td>
			<td><input type="text" value="<%= obj.txt('Ср_медперсонал.Физ_лиц.ПППГ') %>" /></td>
			<td><input type="text" value="<%= obj.txt('Ср_медперсонал.Физ_лиц.ППГ') %>" /></td>
			<td><input type="text" value="<%= obj.txt('Ср_медперсонал.Физ_лиц.ПГ') %>" /></td>
		</tr>

		<tr class="item">
			<td class="title">мл.мед.персонала</td>
			<td><input type="text" value="<%= obj.txt('Мл_медперсонал.Должностей.ПППГ') %>" /></td>
			<td><input type="text" value="<%= obj.txt('Мл_медперсонал.Должностей.ППГ') %>" /></td>
			<td><input type="text" value="<%= obj.txt('Мл_медперсонал.Должностей.ПГ') %>" /></td>
			<td>&nbsp;</td>
			<td><input type="text" value="<%= obj.txt('Мл_медперсонал.Занято_должностей.ПППГ') %>" /></td>
			<td><input type="text" value="<%= obj.txt('Мл_медперсонал.Занято_должностей.ППГ') %>" /></td>
			<td><input type="text" value="<%= obj.txt('Мл_медперсонал.Занято_должностей.ПГ') %>" /></td>
			<td>&nbsp;</td>
			<td><input type="text" value="<%= obj.txt('Мл_медперсонал.Физ_лиц.ПППГ') %>" /></td>
			<td><input type="text" value="<%= obj.txt('Мл_медперсонал.Физ_лиц.ППГ') %>" /></td>
			<td><input type="text" value="<%= obj.txt('Мл_медперсонал.Физ_лиц.ПГ') %>" /></td>
		</tr>

		<tr class="item">
			<td class="title">прочих</td>
			<td><input type="text" value="<%= obj.txt('Прочий_персонал.Должностей.ПППГ') %>" /></td>
			<td><input type="text" value="<%= obj.txt('Прочий_персонал.Должностей.ППГ') %>" /></td>
			<td><input type="text" value="<%= obj.txt('Прочий_персонал.Должностей.ПГ') %>" /></td>
			<td>&nbsp;</td>
			<td><input type="text" value="<%= obj.txt('Прочий_персонал.Занято_должностей.ПППГ') %>" /></td>
			<td><input type="text" value="<%= obj.txt('Прочий_персонал.Занято_должностей.ППГ') %>" /></td>
			<td><input type="text" value="<%= obj.txt('Прочий_персонал.Занято_должностей.ПГ') %>" /></td>
			<td>&nbsp;</td>
			<td><input type="text" value="<%= obj.txt('Прочий_персонал.Физ_лиц.ПППГ') %>" /></td>
			<td><input type="text" value="<%= obj.txt('Прочий_персонал.Физ_лиц.ППГ') %>" /></td>
			<td><input type="text" value="<%= obj.txt('Прочий_персонал.Физ_лиц.ПГ') %>" /></td>
		</tr>

		<tr><td>&nbsp;</td></tr>

		<tr>
			<td class="title">ИТОГО:</td>
			<td><input type="text" readonly="readonly" value="<%= obj.txt('Итого.Должностей.ПППГ') %>" /></td>
			<td><input type="text" readonly="readonly" value="<%= obj.txt('Итого.Должностей.ППГ') %>" /></td>
			<td><input type="text" readonly="readonly" value="<%= obj.txt('Итого.Должностей.ПГ') %>" /></td>
			<td>&nbsp;</td>
			<td><input type="text" readonly="readonly" value="<%= obj.txt('Итого.Занято_должностей.ПППГ') %>" /></td>
			<td><input type="text" readonly="readonly" value="<%= obj.txt('Итого.Занято_должностей.ППГ') %>" /></td>
			<td><input type="text" readonly="readonly" value="<%= obj.txt('Итого.Занято_должностей.ПГ') %>" /></td>
			<td>&nbsp;</td>
			<td><input type="text" readonly="readonly" value="<%= obj.txt('Итого.Физ_лиц.ПППГ') %>" /></td>
			<td><input type="text" readonly="readonly" value="<%= obj.txt('Итого.Физ_лиц.ППГ') %>" /></td>
			<td><input type="text" readonly="readonly" value="<%= obj.txt('Итого.Физ_лиц.ПГ') %>" /></td>
		</tr>


	</table>
</div>