﻿<style>
div.cpw-form-delete-org-unit-confirm div.title
{
	margin-left: 20px;
	display:inline-block;
}
</style>
<div class="cpw-form-delete-org-unit-confirm">
	Вы действительно хотите удалить информацию о подразделении<br/>
	<div class="title">"<b><%= obj.Удаляемое_подразделение.Наименование %><% if (0) { %>Дом отдыха шахтёров<% } %></b>"?</div><br/>
</div>