﻿<style>
div.cpw-meo-yearly-region-results-verification td.field
{
	width: 30px;
	vertical-align:top;
}
div.cpw-meo-yearly-region-results-verification td.plan-fact
{
	width: 100px;
	text-align:center;
}
div.cpw-meo-yearly-region-results-verification td.year
{
	text-align:center;
}
div.cpw-meo-yearly-region-results-verification tr.sub-item td.field
{
	padding-left: 20px;
}
div.cpw-meo-yearly-region-results-verification tr.total td.field
{
	padding-left: 10px;
}
div.cpw-meo-yearly-region-results-verification td
{
	padding:0;
}
div.cpw-meo-yearly-region-results-verification input
{
	width: 80px;
}
div.cpw-meo-yearly-region-results-verification textarea
{
	height: 7em;
}
div.cpw-meo-yearly-region-results-verification textarea
,div.cpw-meo-yearly-region-results-verification input[type="text"]
{
	width:290px;
}
</style>
<% if (0) { %>
<style>
div.cpw-meo-yearly-region-results-verification tr.design-mode
{
	background-color:yellow;
}
</style>
<% } %>
<div class="cpw-meo-yearly-region-results-verification">

	<table <% if (0) { %> border="1" cellspacing="0" <% } %> >
		<% if (0) { %> 
			<tr class="design-mode"><td>1</td><td>2</td><td>3</td><td>4</td><td>5</td><td>6</td><td>7</td></tr>
			<tr class="design-mode">
				<td class="field">Наименование поля</td>
				<td colspan="2" class="year">2015 год</td>
				<td colspan="2" class="year">2016 год</td>
				<td colspan="2" class="year">2017 год</td>
			</tr>
		 <% } %>
		<tr>
			<td class="field"></td>
			<td colspan="2" class="year">2015 год</td>
			<td colspan="2" class="year">2016 год</td>
			<td colspan="2" class="year">2017 год</td>
		</tr>

		<tr>
			<td colspan="7">Контроль качества ПМО (проводился / не проводился)</td>
		</tr>

		<tr class="item">
			<td class="field"></td>
			<td colspan="2" class="year"><input type="checkbox" value="<%= obj.txt('ПППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2" class="year"><input type="checkbox" value="<%= obj.txt('ППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2" class="year"><input type="checkbox" value="<%= obj.txt('ПГ.Общая_площадь_земельных_участков') %>" /></td>
		</tr>

		<tr>
			<td colspan="7">Организация, проводившая контроль качества ПМО</td>
		</tr>

		<tr class="item">
			<td class="field"></td>
			<td colspan="2" class="year"><textarea></textarea>&nbsp;</td>
			<td colspan="2" class="year"><textarea></textarea>&nbsp;</td>
			<td colspan="2" class="year"><textarea></textarea>&nbsp;</td>
		</tr>

		<tr>
			<td colspan="7">Количество проверок по выявленным случаям сокрытия проф. заболеваний мед. оранизациями, проводившими ПМО</td>
		</tr>

		<tr class="item">
			<td class="field"></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПГ.Общая_площадь_земельных_участков') %>" /></td>
		</tr>

	</table>

</div>