﻿<style>
div.cpw-meo-yearly-region-equipment-cabinet td.field
{
	width: 700px;
	vertical-align:top;
}
div.cpw-meo-yearly-region-equipment-cabinet td.plan-fact
{
	width: 100px;
	text-align:center;
}
div.cpw-meo-yearly-region-equipment-cabinet td.year
{
	text-align:center;
}
div.cpw-meo-yearly-region-equipment-cabinet tr.sub-item td.field
{
	padding-left: 20px;
}
div.cpw-meo-yearly-region-equipment-cabinet tr.total td.field
{
	padding-left: 10px;
}
div.cpw-meo-yearly-region-equipment-cabinet td
{
	padding:0;
}
div.cpw-meo-yearly-region-equipment-cabinet div.class
{
	display: inline-block;
	width: 110px;
	vertical-align:top;
}
div.cpw-meo-yearly-region-equipment-cabinet div.name
{
	display: inline-block;
	width: 580px;
}
div.cpw-meo-yearly-region-equipment-cabinet input
{
	width: 80px;
}
</style>
<% if (0) { %>
<style>
div.cpw-meo-yearly-region-equipment-cabinet tr.design-mode
{
	background-color:yellow;
}
</style>
<% } %>
<div class="cpw-meo-yearly-region-equipment-cabinet">

	<table <% if (0) { %> border="1" cellspacing="0" <% } %> >
		<% if (0) { %> 
			<tr class="design-mode"><td>1</td><td>2</td><td>3</td><td>4</td><td>5</td><td>6</td><td>7</td></tr>
			<tr class="design-mode">
				<td class="field">Наименование поля</td>
				<td colspan="2" class="year">2015 год</td>
				<td colspan="2" class="year">2016 год</td>
				<td colspan="2" class="year">2017 год</td>
			</tr>
		 <% } %>
		<tr>
			<td class="field">
				<span style="float:right">(при наличии, вписывается год выпуска)</span>
				<strong>Кабинет врача-профпатолога</strong>
			</td>
			<td colspan="2" class="year">2015 год</td>
			<td colspan="2" class="year">2016 год</td>
			<td colspan="2" class="year">2017 год</td>
		</tr>

		<tr class="sub-item">
			<td class="field">рабочее место врача-терапевта</td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПГ.Общая_площадь_земельных_участков') %>" /></td>
		</tr>

		<tr class="sub-item">
			<td class="field">негатоскоп</td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПГ.Общая_площадь_земельных_участков') %>" /></td>
		</tr>

		<tr class="sub-item">
			<td class="field">вибротестер</td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПГ.Общая_площадь_земельных_участков') %>" /></td>
		</tr>

		<tr class="sub-item">
			<td class="field">термометр</td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПГ.Общая_площадь_земельных_участков') %>" /></td>
		</tr>

		<tr class="sub-item">
			<td class="field">секундомер</td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПГ.Общая_площадь_земельных_участков') %>" /></td>
		</tr>

		<tr class="sub-item">
			<td class="field">динамометр</td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПГ.Общая_площадь_земельных_участков') %>" /></td>
		</tr>

		<tr class="sub-item">
			<td class="field">тонометр</td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПГ.Общая_площадь_земельных_участков') %>" /></td>
		</tr>

		<tr class="sub-item">
			<td class="field">фонендоскоп</td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПГ.Общая_площадь_земельных_участков') %>" /></td>
		</tr>

		<tr class="sub-item">
			<td class="field">неврологический молоточек</td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПГ.Общая_площадь_земельных_участков') %>" /></td>
		</tr>

		<tr class="sub-item">
			<td class="field">весы напольные</td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПГ.Общая_площадь_земельных_участков') %>" /></td>
		</tr>

		<tr class="sub-item">
			<td class="field">ростомер</td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПГ.Общая_площадь_земельных_участков') %>" /></td>
		</tr>

		<tr class="sub-item">
			<td class="field">прочее (указать)</td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПГ.Общая_площадь_земельных_участков') %>" /></td>
		</tr>



	</table>

</div>