﻿<style>
div.cpw-meo-yearly-region-results-chronic td.year
{
	text-align:center;
}
div.cpw-meo-yearly-region-results-chronic td
{
	padding:0;
}
div.cpw-meo-yearly-region-results-chronic input
{
	width: 80px;
}
div.cpw-meo-yearly-region-results-chronic td
{
	border: 0 !important;
}
div.cpw-meo-yearly-region-results-chronic td.name
,div.cpw-meo-yearly-region-results-chronic td.cls
{
	font-size:small;
}
div.cpw-meo-yearly-region-results-chronic td.cls
{
	padding-right:3px;
	width: 90px;
}
div.cpw-meo-yearly-region-results-chronic td.name span
{
	display: inline-block;
	width: 600px;
	font-size:small;
	height: 1.8em;
	overflow:hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
</style>
<% if (0) { %>
<style>
div.cpw-meo-yearly-region-results-chronic tr.design-mode
{
	background-color:yellow;
}
</style>
<% } %>
<div class="cpw-meo-yearly-region-results-chronic">

	<div <%= obj.empty_attrs() %>></div>

	<table <%= obj.not_empty_attrs() %> <% if (0) { %> border="1" cellspacing="0" <% } %> >
		<% if (0) { %> 
			<tr class="design-mode"><td>1</td><td>2</td><td>3</td><td>4</td><td>5</td></tr>
			<tr class="design-mode">
				<td>Код</td>
				<td>Наименование</td>
				<td>2015 год</td>
				<td>2016 год</td>
				<td>2017 год</td>
			</tr>
		 <% } %>
		<tr>
			<td colspan="2">Перечень впервые установленных хронических соматических заболеваний</td>
			<td class="year">2015 год</td>
			<td class="year">2016 год</td>
			<td class="year">2017 год</td>
		</tr>

		<% while (obj.iterate()) { %>
		<tr class="sub-item" <%= obj.item_attrs() %> >
			<td class="cls">
				<%= obj.text_field('КлассМКБ10') %>
					<% if (obj.is_seed()) { %>XXX<% } %>
				<%= obj.text_field_end() %>
			</td>
			<td class="name">
				<span>
					<%= obj.text_field('Наименование') %>
						<% if (obj.is_seed()) { %>ангина<% } %>
					<%= obj.text_field_end() %>
				</span>
			</td>
			<td class="year">
				<input type="text" value="<%= obj.txt('Впервые_установлено.ПППГ') %>" />
			</td>
			<td class="year">
				<input type="text" value="<%= obj.txt('Впервые_установлено.ППГ') %>" />
			</td>
			<td class="year">
				<input type="text" value="<%= obj.txt('Впервые_установлено.ПГ') %>" />
			</td>
		</tr>
		<% } %>

		<tr >
			<td colspan="2" class="name">
				ИТОГО:
			</td>
			<td class="year"><input type="text" class="total0" readonly="readonly" /></td>
			<td class="year"><input type="text" class="total1" readonly="readonly" /></td>
			<td class="year"><input type="text" class="total2" readonly="readonly" /></td>
		</tr>

	</table>

</div>