﻿<style>
div.cpw-meo-yearly-region-economic-procurement td.field
{
	width: 150px;
	vertical-align:top;
}
div.cpw-meo-yearly-region-economic-procurement td.plan-fact
{
	width: 115px;
}
div.cpw-meo-yearly-region-economic-procurement td.year
{
	text-align:center;
}
div.cpw-meo-yearly-region-economic-procurement td.plan-fact input
{
	width:50px;
}
div.cpw-meo-yearly-region-economic-procurement span.thousands
{
	font-size: small;
	color: silver;
}
div.cpw-meo-yearly-region-economic-procurement textarea
{
	width: 223px;
	height: 100px;
}
</style>
<% if (0) { %>
<style>
div.cpw-meo-yearly-region-economic-procurement tr.design-mode
{
	background-color:yellow;
}
</style>
<% } %>
<div class="cpw-meo-yearly-region-economic-procurement">

	<table <% if (0) { %> border="1" cellspacing="0" <% } %> >
		<% if (0) { %> 
			<tr class="design-mode"><td>1</td><td>2</td><td>3</td><td>4</td><td>5</td><td>6</td><td>7</td></tr>
			<tr class="design-mode">
				<td class="field">Наименование поля</td>
				<td colspan="2" class="year">2015 год</td>
				<td colspan="2" class="year">2016 год</td>
				<td colspan="2" class="year">2017 год</td>
			</tr>
			<tr class="design-mode">
				<td class="field"></td>
				<td class="plan-fact">План</td>
				<td class="plan-fact">Факт</td>
				<td class="plan-fact">План</td>
				<td class="plan-fact">Факт</td>
				<td class="plan-fact">План</td>
				<td class="plan-fact">Факт</td>
			</tr>
		 <% } %>
		<tr>
			<td class="field"></td>
			<td colspan="2" class="year">2015 год</td>
			<td colspan="2" class="year">2016 год</td>
			<td colspan="2" class="year">2017 год</td>
		</tr>
		<tr>
			<td></td>
			<td class="plan-fact">План</td>
			<td class="plan-fact">Факт</td>
			<td class="plan-fact">План</td>
			<td class="plan-fact">Факт</td>
			<td class="plan-fact">План</td>
			<td class="plan-fact">Факт</td>
		</tr>
		<tr>
			<td colspan="7" >Материально-техническое оснащение, приобретенное за счет бюджетного / внебюджетного финансирования</td>
		</tr>
		<tr>
			<td colspan="7" ><br/>Оборудование:</td>
		</tr>
		<tr class="sub-item">
			<td class="field">бюджетные средства</td>
			<td class="plan-fact"><input type="text" value="<%= obj.txt('Оборудование.За_бюджет.План.ПППГ') %>" /> <span class="thousands">тыс.р.</span></td>
			<td class="plan-fact"><input type="text" value="<%= obj.txt('Оборудование.За_бюджет.Факт.ПППГ') %>" /> <span class="thousands">тыс.р.</span></td>
			<td class="plan-fact"><input type="text" value="<%= obj.txt('Оборудование.За_бюджет.План.ППГ') %>" /> <span class="thousands">тыс.р.</span></td>
			<td class="plan-fact"><input type="text" value="<%= obj.txt('Оборудование.За_бюджет.Факт.ППГ') %>" /> <span class="thousands">тыс.р.</span></td>
			<td class="plan-fact"><input type="text" value="<%= obj.txt('Оборудование.За_бюджет.План.ПГ') %>" /> <span class="thousands">тыс.р.</span></td>
			<td class="plan-fact"><input type="text" value="<%= obj.txt('Оборудование.За_бюджет.Факт.ПГ') %>" /> <span class="thousands">тыс.р.</span></td>
		</tr>
		<tr class="sub-item">
			<td class="field">внебюджетные средства</td>
			<td class="plan-fact"><input type="text" value="<%= obj.txt('Оборудование.За_внебюджет.План.ПППГ') %>" /> <span class="thousands">тыс.р.</span></td>
			<td class="plan-fact"><input type="text" value="<%= obj.txt('Оборудование.За_внебюджет.Факт.ПППГ') %>" /> <span class="thousands">тыс.р.</span></td>
			<td class="plan-fact"><input type="text" value="<%= obj.txt('Оборудование.За_внебюджет.План.ППГ') %>" /> <span class="thousands">тыс.р.</span></td>
			<td class="plan-fact"><input type="text" value="<%= obj.txt('Оборудование.За_внебюджет.Факт.ППГ') %>" /> <span class="thousands">тыс.р.</span></td>
			<td class="plan-fact"><input type="text" value="<%= obj.txt('Оборудование.За_внебюджет.План.ПГ') %>" /> <span class="thousands">тыс.р.</span></td>
			<td class="plan-fact"><input type="text" value="<%= obj.txt('Оборудование.За_внебюджет.Факт.ПГ') %>" /> <span class="thousands">тыс.р.</span></td>
		</tr>
		<tr>
			<td colspan="7" ><br/>Расходные материалы:</td>
		</tr>
		<tr class="sub-item">
			<td class="field">бюджетные средства</td>
			<td class="plan-fact"><input type="text" value="<%= obj.txt('Расходники.За_бюджет.План.ПППГ') %>" /> <span class="thousands">тыс.р.</span></td>
			<td class="plan-fact"><input type="text" value="<%= obj.txt('Расходники.За_бюджет.Факт.ПППГ') %>" /> <span class="thousands">тыс.р.</span></td>
			<td class="plan-fact"><input type="text" value="<%= obj.txt('Расходники.За_бюджет.План.ППГ') %>" /> <span class="thousands">тыс.р.</span></td>
			<td class="plan-fact"><input type="text" value="<%= obj.txt('Расходники.За_бюджет.Факт.ППГ') %>" /> <span class="thousands">тыс.р.</span></td>
			<td class="plan-fact"><input type="text" value="<%= obj.txt('Расходники.За_бюджет.План.ПГ') %>" /> <span class="thousands">тыс.р.</span></td>
			<td class="plan-fact"><input type="text" value="<%= obj.txt('Расходники.За_бюджет.Факт.ПГ') %>" /> <span class="thousands">тыс.р.</span></td>
		</tr>
		<tr class="sub-item">
			<td class="field">внебюджетные&nbsp;средства</td>
			<td class="plan-fact"><input type="text" value="<%= obj.txt('Расходники.За_внебюджет.План.ПППГ') %>" /> <span class="thousands">тыс.р.</span></td>
			<td class="plan-fact"><input type="text" value="<%= obj.txt('Расходники.За_внебюджет.Факт.ПППГ') %>" /> <span class="thousands">тыс.р.</span></td>
			<td class="plan-fact"><input type="text" value="<%= obj.txt('Расходники.За_внебюджет.План.ППГ') %>" /> <span class="thousands">тыс.р.</span></td>
			<td class="plan-fact"><input type="text" value="<%= obj.txt('Расходники.За_внебюджет.Факт.ППГ') %>" /> <span class="thousands">тыс.р.</span></td>
			<td class="plan-fact"><input type="text" value="<%= obj.txt('Расходники.За_внебюджет.План.ПГ') %>" /> <span class="thousands">тыс.р.</span></td>
			<td class="plan-fact"><input type="text" value="<%= obj.txt('Расходники.За_внебюджет.Факт.ПГ') %>" /> <span class="thousands">тыс.р.</span></td>
		</tr>
		<tr>
			<td colspan="7" >
				<br/>
				Представление сведений о закупках 
				необходимого оборудования:
			</td>
		</tr>
		<tr class="sub-item">
			<td class="field">основные средства</td>
			<td colspan="2" class="year">
				<textarea <%= obj.textarea_attrs('Закупки.Оборудование.ПППГ') %> ><%= obj.value() %></textarea>
			</td>
			<td colspan="2" class="year">
				<textarea <%= obj.textarea_attrs('Закупки.Оборудование.ППГ') %> ><%= obj.value() %></textarea>
			</td>
			<td colspan="2" class="year">
				<textarea <%= obj.textarea_attrs('Закупки.Оборудование.ПГ') %> ><%= obj.value() %></textarea>
			</td>
		</tr>
		<tr>
			<td colspan="7" >
				<br/>
				Представление сведений о закупках 
				расходных материалов (повышении материальных запасов):
			</td>
		</tr>
		<tr class="sub-item">
			<td class="field">расходные&nbsp;материалы</td>
			<td colspan="2" class="year">
				<textarea <%= obj.textarea_attrs('Закупки.Расходники.ПППГ') %> ><%= obj.value() %></textarea>
			</td>
			<td colspan="2" class="year">
				<textarea <%= obj.textarea_attrs('Закупки.Расходники.ППГ') %> ><%= obj.value() %></textarea>
			</td>
			<td colspan="2" class="year">
				<textarea <%= obj.textarea_attrs('Закупки.Расходники.ПГ') %> ><%= obj.value() %></textarea>
			</td>
		</tr>
	</table>

</div>