﻿<style>
div.cpw-meo-yearly-region-staff-completeness td.field
{
	width: 300px;
	vertical-align:top;
}
div.cpw-meo-yearly-region-staff-completeness td.plan-fact
{
	width: 100px;
	text-align:center;
}
div.cpw-meo-yearly-region-staff-completeness td.year
{
	text-align:center;
}
div.cpw-meo-yearly-region-staff-completeness tr.sub-item td.field
{
	padding-left: 20px;
}
div.cpw-meo-yearly-region-staff-completeness tr.sub-item:hover
{
	background-color: #eeeeee
}
</style>
<% if (0) { %>
<style>
div.cpw-meo-yearly-region-staff-completeness tr.design-mode
{
	background-color:yellow;
}
</style>
<% } %>
<div class="cpw-meo-yearly-region-staff-completeness">

	<table <% if (0) { %> border="1" cellspacing="0" <% } %> >
		<% if (0) { %> 
			<tr class="design-mode"><td>1</td><td>2</td><td>3</td><td>4</td><td>5</td><td>6</td><td>7</td></tr>
			<tr class="design-mode">
				<td class="field">Наименование поля</td>
				<td colspan="2" class="year">2015 год</td>
				<td colspan="2" class="year">2016 год</td>
				<td colspan="2" class="year">2017 год</td>
			</tr>
		 <% } %>
		<tr>
			<td class="field">Укомплектованность штатов:</td>
			<td colspan="2" class="year">2015 год</td>
			<td colspan="2" class="year">2016 год</td>
			<td colspan="2" class="year">2017 год</td>
		</tr>
		<tr class="sub-item">
			<td class="field">врачей</td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПГ.Общая_площадь_земельных_участков') %>" /></td>
		</tr>
		<tr class="sub-item">
			<td class="field">ср.мед.персонала</td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПППГ.Общая_площадь_внутренних_помещений') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ППГ.Общая_площадь_внутренних_помещений') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПГ.Общая_площадь_внутренних_помещений') %>" /></td>
		</tr>
		<tr class="sub-item">
			<td class="field">мл.мед.персонала</td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПППГ.Общая_площадь_внутренних_помещений') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ППГ.Общая_площадь_внутренних_помещений') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПГ.Общая_площадь_внутренних_помещений') %>" /></td>
		</tr>
		<tr class="total">
			<td class="field">Итого</td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПППГ.Общая_площадь_внутренних_помещений') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ППГ.Общая_площадь_внутренних_помещений') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПГ.Общая_площадь_внутренних_помещений') %>" /></td>
		</tr>

	</table>

</div>