﻿<style>
div.cpw-meo-yearly-region-economic td.field
{
	width: 300px;
	vertical-align:top;
}
div.cpw-meo-yearly-region-economic td.plan-fact
{
	width: 100px;
	text-align:center;
}
div.cpw-meo-yearly-region-economic td.year
{
	text-align:center;
}
div.cpw-meo-yearly-region-economic td.plan-fact input
{
	width:50px;
}
</style>
<div class="cpw-meo-yearly-region-economic">

	<div id="cpw-meo-yearly-region-economic-tabs" <%= obj.tabs_attrs() %> >
		<ul>
			<li><a href="#cpw-meo-yearly-region-economic-tab-1" >Площади</a></li>
			<li><a href="#cpw-meo-yearly-region-economic-tab-2" >Закупки</a></li>
			<li><a href="#cpw-meo-yearly-region-economic-tab-3" >Ремонт и обслуживание</a></li>
		</ul>
		<div id="cpw-meo-yearly-region-economic-tab-1" class="page" >
			<% if (0) { %>Страница "Статические"<% } %>
			<%= obj.control('Статические') %>
		</div>
		<div id="cpw-meo-yearly-region-economic-tab-2" class="page">
			<% if (0) { %>Страница "Закупки"<% } %>
			<%= obj.control('Закупки') %>
		</div>
		<div id="cpw-meo-yearly-region-economic-tab-3" class="page">
			<% if (0) { %>Страница "Обслуживание"<% } %>
			<%= obj.control('Обслуживание') %>
		</div>
	</div>

</div>