﻿<style>
div.cpw-meo-yearly-region-staff-offices
{
	width: 910px;
	margin: 0 auto;
}
div.cpw-meo-yearly-region-staff-offices td.office-name
{
	width:500px;
}
div.cpw-meo-yearly-region-staff-offices td.year
{
	text-align: right;
}
div.cpw-meo-yearly-region-staff-offices td.cots
{
	width: 120px;
	text-align: right;
}
div.cpw-meo-yearly-region-staff-offices td.delete
,div.cpw-meo-yearly-region-staff-offices td.edit
{
	width:24px;
}
div.cpw-meo-yearly-region-staff-offices td.cots input
{
	width: 50px;
}
div.cpw-meo-yearly-region-staff-offices td.edit img
,div.cpw-meo-yearly-region-staff-offices td.delete img
{
	cursor: pointer;
	margin:4px;
}
div.cpw-meo-yearly-region-staff-offices td.edit img:hover
,div.cpw-meo-yearly-region-staff-offices td.delete img:hover
{
	border:3px solid silver;
	margin:1px;
}
div.cpw-meo-yearly-region-staff-offices button.add
{
	border-radius:8px;
	border: 1px solid #f2f2f2;
	background-color: #f9f9f9;
	cursor:pointer;
	font-size:small !important;
	color:gray;
	margin-left: 10px;
	width: 900px;
	text-align:left;
	margin:3px;
	text-align:center;
}
div.cpw-meo-yearly-region-staff-offices button.add:hover
{
	background-color: #eeeeee;
}
div.cpw-meo-yearly-region-staff-offices input.number
{
	text-align: right;
}
div.cpw-meo-yearly-region-staff-offices tr.total td
{
	text-align:right !important;
}
div.cpw-meo-yearly-region-staff-offices tr.total span
{
	font-weight:bold;
}
div.cpw-meo-yearly-region-staff-offices td.office-name span:hover
{
	background-color: #d0d0d0;
	cursor: pointer;
}
</style>
<% if (0) { %>
<style>
div.cpw-meo-yearly-region-staff-offices tr.design-mode
{
	background-color:yellow;
}
</style>
<% } %>
<div class="cpw-meo-yearly-region-staff-offices">

	<table <% if (0) { %> border="1" cellspacing="0" <% } %> >
		<% if (0) { %> 
			<tr class="design-mode"><td>1</td><td>2</td><td>3</td><td>4</td><td>5</td><td>6</td></tr>
			<tr class="design-mode">
				<td class="field">Наименование отделения</td>
				<td>е</td>
				<td>у</td>
				<td>2015 год</td>
				<td>2016 год</td>
				<td>2017 год</td>
			</tr>
		 <% } %>
		<tr>
			<td colspan="3">Профпатологические отделения:</td>
			<td class="year">2015 год</td>
			<td class="year">2016 год</td>
			<td class="year">2017 год</td>
		</tr>

		<tbody <%= obj.empty_attrs() %> >
			<tr>
				<td colspan="6">&nbsp;</td>
			</tr>
		</tbody>

		<tbody <%= obj.not_empty_attrs() %> >
			<% while (obj.iterate()) { %>
			<tr class="sub-item" <%= obj.item_attrs() %> >
				<td class="field office-name">
					<%= obj.text_field('Наименование') %>
						<% if (obj.is_seed()) { %>профпатологическое отделение №1<% } %>
					<%= obj.text_field_end() %>
				</td>
				<td class="edit"><img src="images/edit.png" /></td>
				<td class="delete"><img src="images/remove.png" /></td>
				<td class="cots"><input type="text" class="number" value="<%= obj.txt('Коек.ПППГ') %>" /> коек</td>
				<td class="cots"><input type="text" class="number" value="<%= obj.txt('Коек.ППГ') %>" /> коек</td>
				<td class="cots"><input type="text" class="number" value="<%= obj.txt('Коек.ПГ') %>" /> коек</td>
			</tr>
			<% } %>
		</tbody>

		<tr class="total">
			<td colspan="3" >Итого:</td>
			<td>
				<span class="tprofile0">0</span> отд., <span class="tcots0">0</span> коек
			</td>
			<td>
				<span class="tprofile1">0</span> отд., <span class="tcots1">0</span> коек
			</td>
			<td>
				<span class="tprofile2">0</span> отд., <span class="tcots2">0</span> коек
			</td>
		</tr>

		<tr>
			<td colspan="6">
				<button class="add">Добавить описание отделения</button>
			</td>
		</tr>

	</table>

</div>