﻿<style>
div.cpw-meo-yearly-region-diagnostic-blood table
{
	width:980px;
}
div.cpw-meo-yearly-region-diagnostic-blood td.group-title
{
	font-weight: bold;
	width: 708px;
}
div.cpw-meo-yearly-region-diagnostic-blood td.year
{
	width: 90px;
	text-align:center;
}
</style>
<% if (0) { %>
<style>
div.cpw-meo-yearly-region-diagnostic-blood tr.design-mode
{
	background-color:yellow;
}
</style>
<% } %>
<div class="cpw-meo-yearly-region-diagnostic-blood">

	<table class="title-table" <% if (0) { %> border="1" cellspacing="0" <% } %> >
		<% if (0) { %> 
			<tr class="design-mode"><td>1</td><td>2</td><td>3</td><td>4</td></tr>
			<tr class="design-mode">
				<td>Наименование поля</td>
				<td>2015 год</td>
				<td>2016 год</td>
				<td>2017 год</td>
			</tr>
		 <% } %>
		<tr>
			<td class="group-title">Гематологические исследования</td>
			<td class="year">2015 год</td>
			<td class="year">2016 год</td>
			<td class="year">2017 год</td>
		</tr>
	</table>

	<%= obj.control('Гематологические_исследования') %><% if (0) { %>Методы гематологических исследований<% } %>

	<table class="title-table" <% if (0) { %> border="1" cellspacing="0" <% } %> >
		<% if (0) { %> 
			<tr class="design-mode"><td>1</td><td>2</td><td>3</td><td>4</td></tr>
			<tr class="design-mode">
				<td class="field">Наименование поля</td>
				<td class="year">2015 год</td>
				<td class="year">2016 год</td>
				<td class="year">2017 год</td>
			</tr>
		 <% } %>
		<tr>
			<td class="group-title">Исследования свертывающей системы и фибринолиза</td>
		</tr>
	</table>

	<%= obj.control('Исследования_свертывающей_системы_и_фибринолиза') %><% if (0) { %>Методы исследований свертывающей системы и фибринолиза<% } %>

</div>