﻿<style>
div.cpw-meo-yearly-region-staff-medics td.field
{
	width: 300px;
	vertical-align:top;
}
div.cpw-meo-yearly-region-staff-medics td.plan-fact
{
	width: 100px;
	text-align:center;
}
div.cpw-meo-yearly-region-staff-medics td.year
{
	text-align:center;
}
div.cpw-meo-yearly-region-staff-medics tr.sub-item td.field
{
	padding-left: 20px;
}
div.cpw-meo-yearly-region-staff-medics tr.sub-item:hover
{
	background-color: #eeeeee
}
</style>
<% if (0) { %>
<style>
div.cpw-meo-yearly-region-staff-medics tr.design-mode
{
	background-color:yellow;
}
</style>
<% } %>
<div class="cpw-meo-yearly-region-staff-medics">

	<table <% if (0) { %> border="1" cellspacing="0" <% } %> >
		<% if (0) { %> 
			<tr class="design-mode"><td>1</td><td>2</td><td>3</td><td>4</td><td>5</td><td>6</td><td>7</td></tr>
			<tr class="design-mode">
				<td class="field">Наименование поля</td>
				<td colspan="2" class="year">2015 год</td>
				<td colspan="2" class="year">2016 год</td>
				<td colspan="2" class="year">2017 год</td>
			</tr>
		 <% } %>
		<tr>
			<td class="field"></td>
			<td colspan="2" class="year">2015 год</td>
			<td colspan="2" class="year">2016 год</td>
			<td colspan="2" class="year">2017 год</td>
		</tr>
		<tr>
			<td colspan="7">Количество профпатологов, имеющих диплом и действующий сертификат специалиста</td>
		</tr>
		<tr class="sub-item">
			<td class="field">количество профпатологов всего</td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПГ.Общая_площадь_земельных_участков') %>" /></td>
		</tr>
		<tr class="sub-item">
			<td class="field">c сертификатом и дипломом</td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПППГ.Общая_площадь_внутренних_помещений') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ППГ.Общая_площадь_внутренних_помещений') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПГ.Общая_площадь_внутренних_помещений') %>" /></td>
		</tr>
		<tr class="sub-item">
			<td class="field">c сертификатом но БЕЗ диплома</td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПППГ.Общая_площадь_внутренних_помещений') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ППГ.Общая_площадь_внутренних_помещений') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПГ.Общая_площадь_внутренних_помещений') %>" /></td>
		</tr>
		<tr>
			<td colspan="7">Количество врачей с 1, 2 и высшей квалификационными категориями, кандидатов и докторов наук</td>
		</tr>
		<tr class="sub-item">
			<td class="field">2 категории</td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПППГ.Общая_площадь_внутренних_помещений') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ППГ.Общая_площадь_внутренних_помещений') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПГ.Общая_площадь_внутренних_помещений') %>" /></td>
		</tr>
		<tr class="sub-item">
			<td class="field">1 категории</td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПППГ.Общая_площадь_внутренних_помещений') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ППГ.Общая_площадь_внутренних_помещений') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПГ.Общая_площадь_внутренних_помещений') %>" /></td>
		</tr>
		<tr class="sub-item">
			<td class="field">высшей категории</td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПППГ.Общая_площадь_внутренних_помещений') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ППГ.Общая_площадь_внутренних_помещений') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПГ.Общая_площадь_внутренних_помещений') %>" /></td>
		</tr>
		<tr class="sub-item">
			<td class="field">кандидатов наук</td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПППГ.Общая_площадь_внутренних_помещений') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ППГ.Общая_площадь_внутренних_помещений') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПГ.Общая_площадь_внутренних_помещений') %>" /></td>
		</tr>
		<tr class="sub-item">
			<td class="field">докторов наук</td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПППГ.Общая_площадь_внутренних_помещений') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ППГ.Общая_площадь_внутренних_помещений') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПГ.Общая_площадь_внутренних_помещений') %>" /></td>
		</tr>
		<tr class="total">
			<td class="field">ИТОГО</td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПППГ.Общая_площадь_внутренних_помещений') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ППГ.Общая_площадь_внутренних_помещений') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПГ.Общая_площадь_внутренних_помещений') %>" /></td>
		</tr>
		<tr>
			<td colspan="7">Количество врачей-специалистов, прошедших и не прошедших тематическое усовершенствование по профпатологии за последние 5 лет</td>
		</tr>
		<tr class="sub-item">
			<td class="field">врачей-специалистов всего, из них:</td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПППГ.Общая_площадь_внутренних_помещений') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ППГ.Общая_площадь_внутренних_помещений') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПГ.Общая_площадь_внутренних_помещений') %>" /></td>
		</tr>
		<tr class="sub-item">
			<td class="field">прошедших усовершенствование</td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПППГ.Общая_площадь_внутренних_помещений') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ППГ.Общая_площадь_внутренних_помещений') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПГ.Общая_площадь_внутренних_помещений') %>" /></td>
		</tr>
		<tr class="sub-item">
			<td class="field">НЕ прошедших усовершенствование</td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПППГ.Общая_площадь_внутренних_помещений') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ППГ.Общая_площадь_внутренних_помещений') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПГ.Общая_площадь_внутренних_помещений') %>" /></td>
		</tr>
	</table>

</div>