<style>
	 div.cpw-collection td { padding: 3px 10px; }
	 div.cpw-collection td.handle { cursor:move; color: silver; }
	 div.cpw-collection tr[fc-type="array-item"]:hover { background-color: #eeeeee; }
	 div.cpw-collection tr[array-index="0"] a.up { visibility:hidden; }
	 div.cpw-collection tr[fc-type="array-item"]:last-child a.down { visibility:hidden; }
	 div.cpw-collection tr[fc-type="array-item"] a.down
	,div.cpw-collection tr[fc-type="array-item"] a.up { color: silver; text-decoration:none; }
	 div.cpw-collection tr[fc-type="array-item"] a.down:hover
	,div.cpw-collection tr[fc-type="array-item"] a.up:hover  { color: red; }
</style>
<div class="cpw-collection">
	<span>Выберите из списка:</span>
	<select>
		<option></option>
	<% for (var i= 0; i<obj.foreign_data.length; i++)
		{
			var item= obj.foreign_data[i];
	%>
		<option value="<%= i %>"><%= item.Ученик %></option>
	<%	} %>
	</select>
	<div <%= obj.empty_attrs() %> >
		Список пуст
	</div>
	<table <%= obj.not_empty_attrs() %> class="collection" >
		<tr>
			<td></td>
			<td></td>
			<td>№</td>
			<td>ученик</td>
			<td>алгебра</td>
			<td>пение</td>
			<td></td>
		</tr>
		<% while (obj.iterate()) { %>
		<tr <%= obj.item_attrs() %>>
			<td>
				<a href="#null" class="down">&#8681;</a>
				&nbsp;
				<a href="#null" class="up">&#8679;</a>
			</td>
			<td class="handle">
				&#8693;
			</td>
			<td>
				<%= obj.item_position1() %>
					<% if (obj.is_seed()) { %>1<% } %>
				<%= obj.item_position1_end() %>)
			</td>
			<td>
				<%= obj.text_field('Ученик') %>
					<% if (obj.is_seed()) { %>Иванов<% } %>
				<%= obj.text_field_end() %>
			</td>
			<td>
				<%= obj.text_field('Оценки.алгебра') %>
					<% if (obj.is_seed()) { %>2<% } %>
				<%= obj.text_field_end() %>
			</td>
			<td>
				<%= obj.text_field('Оценки.пение') %>
					<% if (obj.is_seed()) { %>2<% } %>
				<%= obj.text_field_end() %>
			</td>
			<td>
				<a href="#" class="do_delete">удалить</a>
			</td>
		</tr>
		<% } %>
	</table>

</div>
<%
var on_add= function(e)
{
	var i= $(this).val();
	if (''!=i)
	{
		var i= parseInt(i);
		var selected_item= obj.foreign_data[i];
		var copy_of_selected_item= obj.options.ccopy.Copy(selected_item);

		var fc_dom_item= $(obj.selector);
		var model= obj.fastening.get_fc_model_value(fc_dom_item);
		if (!model)
			model= [];
		model.push(copy_of_selected_item);
		obj.fastening.set_fc_model_value(fc_dom_item, model);

		$(obj.selector).trigger('model_change');
	}
	$(this).val('');
};
var on_delete= function(e)
{
	var i_item= obj.h_fastening_clip.get_parent_fc_of_type($(this),'array-item').attr('array-index');

	var fc_dom_item= $(fastening.form_div_selector);
	var model= obj.fastening.get_fc_model_value(fc_dom_item);
	model.splice(i_item,1);
	obj.fastening.set_fc_model_value(fc_dom_item, model);

	$(obj.selector).trigger('model_change');
	return false;
};
obj.on_after_render= function()
{
	var sel= obj.selector;
	var select= $(sel + ' select');
	select.on("change", on_add);
	$(sel + ' .do_delete').click(on_delete);
};
obj.on_after_update_dom= function()
{
	var do_delete_items= $(obj.selector + ' .do_delete');
	do_delete_items.off('click',on_delete);
	do_delete_items.click(on_delete);
};
%>