﻿<style>
div.cpw-meo-yearly-region-staff-center table
{
	width:910px;
	margin:0 auto;
}
div.cpw-meo-yearly-region-staff-center td.title
{
	text-align: left;
	width: 250px;
}
div.cpw-meo-yearly-region-staff-center td
{
	text-align:center;
}
div.cpw-meo-yearly-region-staff-center td.kind
,div.cpw-meo-yearly-region-staff-center td.year
{
	text-align:center;
}
div.cpw-meo-yearly-region-staff-center td.splitter
{
	width:15px;
}
div.cpw-meo-yearly-region-staff-center input
{
	width:70px;
}
</style>
<% if (0) { %>
<style>
div.cpw-meo-yearly-region-staff-center tr.design-mode
{
	background-color:yellow;
}
</style>
<% } %>
<div class="cpw-meo-yearly-region-staff-center">
	<br/>
	<table <% if (0) { %> border="1" cellspacing="0" <% } %> >
		<% if (0) { %> 
			<tr class="design-mode"><td>1</td><td>2</td><td>3</td><td>4</td><td>5</td><td>6</td><td>7</td><td>8</td><td>9</td><td>10</td><td>11</td><td>12</td></tr>
			<tr class="design-mode">
				<td class="field">Наименование поля</td>
				<td colspan="3" class="kind">количество должностей</td>
				<td></td>
				<td colspan="3" class="kind">в т.ч. занятых</td>
				<td></td>
				<td colspan="3" class="kind">в т.ч. физических лиц</td>
			</tr>
			<tr class="design-mode">
				<td class="field"></td>
				<td class="year">2015 год</td>
				<td class="year">2016 год</td>
				<td class="year">2017 год</td>
				<td></td>
				<td class="year">2015 год</td>
				<td class="year">2016 год</td>
				<td class="year">2017 год</td>
				<td></td>
				<td class="year">2015 год</td>
				<td class="year">2016 год</td>
				<td class="year">2017 год</td>
			</tr>
		 <% } %>
		<tr>
			<td class="field title">В центре</td>
			<td colspan="3" class="kind">количество должностей</td>
			<td></td>
			<td colspan="3" class="kind">в т.ч. занятых</td>
			<td></td>
			<td colspan="3" class="kind">в т.ч. физических лиц</td>
		</tr>
		<tr>
			<td class="field"></td>
			<td class="year">2015 год</td>
			<td class="year">2016 год</td>
			<td class="year">2017 год</td>
			<td></td>
			<td class="year">2015 год</td>
			<td class="year">2016 год</td>
			<td class="year">2017 год</td>
			<td></td>
			<td class="year">2015 год</td>
			<td class="year">2016 год</td>
			<td class="year">2017 год</td>
		</tr>

		<tr class="item">
			<td class="title">руководителей</td>
			<td><input type="text" value="<%= obj.txt('ПППГ.Должностей.Всего.Руководитель') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ППГ.Должностей.Всего.Руководитель') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ПГ.Должностей.Всего.Руководитель') %>" /></td>
			<td></td>
			<td><input type="text" value="<%= obj.txt('ПППГ.Должностей.Занятых.Руководитель') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ППГ.Должностей.Занятых.Руководитель') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ПГ.Должностей.Занятых.Руководитель') %>" /></td>
			<td></td>
			<td><input type="text" value="<%= obj.txt('ПППГ.Должностей.Физ_лиц.Руководитель') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ППГ.Должностей.Физ_лиц.Руководитель') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ПГ.Должностей.Физ_лиц.Руководитель') %>" /></td>
		</tr>

		<tr class="item">
			<td class="title">зав. орг.-метод. отд.</td>
			<td><input type="text" value="<%= obj.txt('ПППГ.Должностей.Всего.Зав_орг_метод_отделом') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ППГ.Должностей.Всего.Зав_орг_метод_отделом') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ПГ.Должностей.Всего.Зав_орг_метод_отделом') %>" /></td>
			<td></td>
			<td><input type="text" value="<%= obj.txt('ПППГ.Должностей.Занятых.Зав_орг_метод_отделом') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ППГ.Должностей.Занятых.Зав_орг_метод_отделом') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ПГ.Должностей.Занятых.Зав_орг_метод_отделом') %>" /></td>
			<td></td>
			<td><input type="text" value="<%= obj.txt('ПППГ.Должностей.Физ_лиц.Зав_орг_метод_отделом') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ППГ.Должностей.Физ_лиц.Зав_орг_метод_отделом') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ПГ.Должностей.Физ_лиц.Зав_орг_метод_отделом') %>" /></td>
		</tr>

		<tr class="item">
			<td class="title">зав. конс.-диаг. отд.</td>
			<td><input type="text" value="<%= obj.txt('ПППГ.Должностей.Всего.Зав_конс_диаг_отделом') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ППГ.Должностей.Всего.Зав_конс_диаг_отделом') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ПГ.Должностей.Всего.Зав_конс_диаг_отделом') %>" /></td>
			<td></td>
			<td><input type="text" value="<%= obj.txt('ПППГ.Должностей.Занятых.Зав_конс_диаг_отделом') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ППГ.Должностей.Занятых.Зав_конс_диаг_отделом') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ПГ.Должностей.Занятых.Зав_конс_диаг_отделом') %>" /></td>
			<td></td>
			<td><input type="text" value="<%= obj.txt('ПППГ.Должностей.Физ_лиц.Зав_конс_диаг_отделом') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ППГ.Должностей.Физ_лиц.Зав_конс_диаг_отделом') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ПГ.Должностей.Физ_лиц.Зав_конс_диаг_отделом') %>" /></td>
		</tr>
		<tr class="item">
			<td class="title">врачей, в т.ч.</td>
			<td><input type="text" value="<%= obj.txt('ПППГ.Должностей.Всего.Врачей.Всего') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ППГ.Должностей.Всего.Врачей.Всего') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ПГ.Должностей.Всего.Врачей.Всего') %>" /></td>
			<td></td>
			<td><input type="text" value="<%= obj.txt('ПППГ.Должностей.Занятых.Врачей.Всего') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ППГ.Должностей.Занятых.Врачей.Всего') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ПГ.Должностей.Занятых.Врачей.Всего') %>" /></td>
			<td></td>
			<td><input type="text" value="<%= obj.txt('ПППГ.Должностей.Физ_лиц.Врачей.Всего') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ППГ.Должностей.Физ_лиц.Врачей.Всего') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ПГ.Должностей.Физ_лиц.Врачей.Всего') %>" /></td>
		</tr>
		<tr class="sub-item">
			<td class="field title">профпатологов</td>
			<td><input type="text" value="<%= obj.txt('ПППГ.Должностей.Всего.Врачей.Профпатологов') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ППГ.Должностей.Всего.Врачей.Профпатологов') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ПГ.Должностей.Всего.Врачей.Профпатологов') %>" /></td>
			<td></td>
			<td><input type="text" value="<%= obj.txt('ПППГ.Должностей.Занятых.Врачей.Профпатологов') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ППГ.Должностей.Занятых.Врачей.Профпатологов') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ПГ.Должностей.Занятых.Врачей.Профпатологов') %>" /></td>
			<td></td>
			<td><input type="text" value="<%= obj.txt('ПППГ.Должностей.Физ_лиц.Врачей.Профпатологов') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ППГ.Должностей.Физ_лиц.Врачей.Профпатологов') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ПГ.Должностей.Физ_лиц.Врачей.Профпатологов') %>" /></td>
		</tr>
		<tr class="sub-item">
			<td class="field title">методистов</td>
			<td><input type="text" value="<%= obj.txt('ПППГ.Должностей.Всего.Врачей.Методистов') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ППГ.Должностей.Всего.Врачей.Методистов') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ПГ.Должностей.Всего.Врачей.Методистов') %>" /></td>
			<td></td>
			<td><input type="text" value="<%= obj.txt('ПППГ.Должностей.Занятых.Врачей.Методистов') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ППГ.Должностей.Занятых.Врачей.Методистов') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ПГ.Должностей.Занятых.Врачей.Методистов') %>" /></td>
			<td></td>
			<td><input type="text" value="<%= obj.txt('ПППГ.Должностей.Физ_лиц.Врачей.Методистов') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ППГ.Должностей.Физ_лиц.Врачей.Методистов') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ПГ.Должностей.Физ_лиц.Врачей.Методистов') %>" /></td>
		</tr>
		<tr class="sub-item">
			<td class="field title">других</td>
			<td><input type="text" value="<%= obj.txt('ПППГ.Должностей.Всего.Врачей.Других') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ППГ.Должностей.Всего.Врачей.Других') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ПГ.Должностей.Всего.Врачей.Других') %>" /></td>
			<td></td>
			<td><input type="text" value="<%= obj.txt('ПППГ.Должностей.Занятых.Врачей.Других') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ППГ.Должностей.Занятых.Врачей.Других') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ПГ.Должностей.Занятых.Врачей.Других') %>" /></td>
			<td></td>
			<td><input type="text" value="<%= obj.txt('ПППГ.Должностей.Физ_лиц.Врачей.Других') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ППГ.Должностей.Физ_лиц.Врачей.Других') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ПГ.Должностей.Физ_лиц.Врачей.Других') %>" /></td>
		</tr>
		<tr class="item">
			<td class="title">программистов</td>
			<td><input type="text" value="<%= obj.txt('ПППГ.Должностей.Всего.Программистов') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ППГ.Должностей.Всего.Программистов') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ПГ.Должностей.Всего.Программистов') %>" /></td>
			<td></td>
			<td><input type="text" value="<%= obj.txt('ПППГ.Должностей.Занятых.Программистов') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ППГ.Должностей.Занятых.Программистов') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ПГ.Должностей.Занятых.Программистов') %>" /></td>
			<td></td>
			<td><input type="text" value="<%= obj.txt('ПППГ.Должностей.Физ_лиц.Программистов') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ППГ.Должностей.Физ_лиц.Программистов') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ПГ.Должностей.Физ_лиц.Программистов') %>" /></td>
		</tr>
		<tr class="item">
			<td class="title">мед. регистраторов&nbsp;</td>
			<td><input type="text" value="<%= obj.txt('ПППГ.Должностей.Всего.Мед_регистраторов') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ППГ.Должностей.Всего.Мед_регистраторов') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ПГ.Должностей.Всего.Мед_регистраторов') %>" /></td>
			<td></td>
			<td><input type="text" value="<%= obj.txt('ПППГ.Должностей.Занятых.Мед_регистраторов') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ППГ.Должностей.Занятых.Мед_регистраторов') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ПГ.Должностей.Занятых.Мед_регистраторов') %>" /></td>
			<td></td>
			<td><input type="text" value="<%= obj.txt('ПППГ.Должностей.Физ_лиц.Мед_регистраторов') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ППГ.Должностей.Физ_лиц.Мед_регистраторов') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ПГ.Должностей.Физ_лиц.Мед_регистраторов') %>" /></td>
		</tr>
		<tr class="item">
			<td class="title">мед. сестёр</td>
			<td><input type="text" value="<%= obj.txt('ПППГ.Должностей.Всего.Мед_сестёр') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ППГ.Должностей.Всего.Мед_сестёр') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ПГ.Должностей.Всего.Мед_сестёр') %>" /></td>
			<td></td>
			<td><input type="text" value="<%= obj.txt('ПППГ.Должностей.Занятых.Мед_сестёр') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ППГ.Должностей.Занятых.Мед_сестёр') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ПГ.Должностей.Занятых.Мед_сестёр') %>" /></td>
			<td></td>
			<td><input type="text" value="<%= obj.txt('ПППГ.Должностей.Физ_лиц.Мед_сестёр') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ППГ.Должностей.Физ_лиц.Мед_сестёр') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ПГ.Должностей.Физ_лиц.Мед_сестёр') %>" /></td>
		</tr>
		<tr class="item">
			<td class="title">санитаров</td>
			<td><input type="text" value="<%= obj.txt('ПППГ.Должностей.Всего.Санитаров') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ППГ.Должностей.Всего.Санитаров') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ПГ.Должностей.Всего.Санитаров') %>" /></td>
			<td></td>
			<td><input type="text" value="<%= obj.txt('ПППГ.Должностей.Занятых.Санитаров') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ППГ.Должностей.Занятых.Санитаров') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ПГ.Должностей.Занятых.Санитаров') %>" /></td>
			<td></td>
			<td><input type="text" value="<%= obj.txt('ПППГ.Должностей.Физ_лиц.Санитаров') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ППГ.Должностей.Физ_лиц.Санитаров') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ПГ.Должностей.Физ_лиц.Санитаров') %>" /></td>
		</tr>
		<tr class="item">
			<td class="title">прочих</td>
			<td><input type="text" value="<%= obj.txt('ПППГ.Должностей.Всего.Прочих') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ППГ.Должностей.Всего.Прочих') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ПГ.Должностей.Всего.Прочих') %>" /></td>
			<td></td>
			<td><input type="text" value="<%= obj.txt('ПППГ.Должностей.Занятых.Прочих') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ППГ.Должностей.Занятых.Прочих') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ПГ.Должностей.Занятых.Прочих') %>" /></td>
			<td></td>
			<td><input type="text" value="<%= obj.txt('ПППГ.Должностей.Физ_лиц.Прочих') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ППГ.Должностей.Физ_лиц.Прочих') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ПГ.Должностей.Физ_лиц.Прочих') %>" /></td>
		</tr>
		<tr>
			<td class="title" colspan="10"><br/>Итого</td>
		</tr>
		<tr class="sub-item">
			<td class="field title">врачей</td>
			<td><input type="text" readonly="readonly" value="<%= obj.txt('ПППГ.Должностей.Всего.Итого.Врачей') %>" /></td>
			<td><input type="text" readonly="readonly" value="<%= obj.txt('ППГ.Должностей.Всего.Итого.Врачей') %>" /></td>
			<td><input type="text" readonly="readonly" value="<%= obj.txt('ПГ.Должностей.Всего.Итого.Врачей') %>" /></td>
			<td></td>
			<td><input type="text" readonly="readonly" value="<%= obj.txt('ПППГ.Должностей.Занятых.Итого.Врачей') %>" /></td>
			<td><input type="text" readonly="readonly" value="<%= obj.txt('ППГ.Должностей.Занятых.Итого.Врачей') %>" /></td>
			<td><input type="text" readonly="readonly" value="<%= obj.txt('ПГ.Должностей.Занятых.Итого.Врачей') %>" /></td>
			<td></td>
			<td><input type="text" readonly="readonly" value="<%= obj.txt('ПППГ.Должностей.Физ_лиц.Итого.Врачей') %>" /></td>
			<td><input type="text" readonly="readonly" value="<%= obj.txt('ППГ.Должностей.Физ_лиц.Итого.Врачей') %>" /></td>
			<td><input type="text" readonly="readonly" value="<%= obj.txt('ПГ.Должностей.Физ_лиц.Итого.Врачей') %>" /></td>
		</tr>
		<tr class="sub-item">
			<td class="field title">ср. мед.персонала&nbsp;</td>
			<td><input type="text" readonly="readonly" value="<%= obj.txt('ПППГ.Должностей.Всего.Итого.Среднего_мед_персонала') %>" /></td>
			<td><input type="text" readonly="readonly" value="<%= obj.txt('ППГ.Должностей.Всего.Итого.Среднего_мед_персонала') %>" /></td>
			<td><input type="text" readonly="readonly" value="<%= obj.txt('ПГ.Должностей.Всего.Итого.Среднего_мед_персонала') %>" /></td>
			<td></td>
			<td><input type="text" readonly="readonly" value="<%= obj.txt('ПППГ.Должностей.Занятых.Итого.Среднего_мед_персонала') %>" /></td>
			<td><input type="text" readonly="readonly" value="<%= obj.txt('ППГ.Должностей.Занятых.Итого.Среднего_мед_персонала') %>" /></td>
			<td><input type="text" readonly="readonly" value="<%= obj.txt('ПГ.Должностей.Занятых.Итого.Среднего_мед_персонала') %>" /></td>
			<td></td>
			<td><input type="text" readonly="readonly" value="<%= obj.txt('ПППГ.Должностей.Физ_лиц.Итого.Среднего_мед_персонала') %>" /></td>
			<td><input type="text" readonly="readonly" value="<%= obj.txt('ППГ.Должностей.Физ_лиц.Итого.Среднего_мед_персонала') %>" /></td>
			<td><input type="text" readonly="readonly" value="<%= obj.txt('ПГ.Должностей.Физ_лиц.Итого.Среднего_мед_персонала') %>" /></td>
		</tr>
		<tr class="sub-item">
			<td class="field title">мл. мед.персонала&nbsp;</td>
			<td><input type="text" readonly="readonly" value="<%= obj.txt('ПППГ.Должностей.Всего.Итого.Младшего_мед_персонала') %>" /></td>
			<td><input type="text" readonly="readonly" value="<%= obj.txt('ППГ.Должностей.Всего.Итого.Младшего_мед_персонала') %>" /></td>
			<td><input type="text" readonly="readonly" value="<%= obj.txt('ПГ.Должностей.Всего.Итого.Младшего_мед_персонала') %>" /></td>
			<td></td>
			<td><input type="text" readonly="readonly" value="<%= obj.txt('ПППГ.Должностей.Занятых.Итого.Младшего_мед_персонала') %>" /></td>
			<td><input type="text" readonly="readonly" value="<%= obj.txt('ППГ.Должностей.Занятых.Итого.Младшего_мед_персонала') %>" /></td>
			<td><input type="text" readonly="readonly" value="<%= obj.txt('ПГ.Должностей.Занятых.Итого.Младшего_мед_персонала') %>" /></td>
			<td></td>
			<td><input type="text" readonly="readonly" value="<%= obj.txt('ПППГ.Должностей.Физ_лиц.Итого.Младшего_мед_персонала') %>" /></td>
			<td><input type="text" readonly="readonly" value="<%= obj.txt('ППГ.Должностей.Физ_лиц.Итого.Младшего_мед_персонала') %>" /></td>
			<td><input type="text" readonly="readonly" value="<%= obj.txt('ПГ.Должностей.Физ_лиц.Итого.Младшего_мед_персонала') %>" /></td>
		</tr>
		<tr class="sub-item">
			<td class="field title">прочие</td>
			<td><input type="text" readonly="readonly" value="<%= obj.txt('ПППГ.Должностей.Всего.Итого.Прочие') %>" /></td>
			<td><input type="text" readonly="readonly" value="<%= obj.txt('ППГ.Должностей.Всего.Итого.Прочие') %>" /></td>
			<td><input type="text" readonly="readonly" value="<%= obj.txt('ПГ.Должностей.Всего.Итого.Прочие') %>" /></td>
			<td class="splitter">&nbsp;&nbsp;</td>
			<td><input type="text" readonly="readonly" value="<%= obj.txt('ПППГ.Должностей.Занятых.Итого.Прочие') %>" /></td>
			<td><input type="text" readonly="readonly" value="<%= obj.txt('ППГ.Должностей.Занятых.Итого.Прочие') %>" /></td>
			<td><input type="text" readonly="readonly" value="<%= obj.txt('ПГ.Должностей.Занятых.Итого.Прочие') %>" /></td>
			<td class="splitter">&nbsp;&nbsp;</td>
			<td><input type="text" readonly="readonly" value="<%= obj.txt('ПППГ.Должностей.Физ_лиц.Итого.Прочие') %>" /></td>
			<td><input type="text" readonly="readonly" value="<%= obj.txt('ППГ.Должностей.Физ_лиц.Итого.Прочие') %>" /></td>
			<td><input type="text" readonly="readonly" value="<%= obj.txt('ПГ.Должностей.Физ_лиц.Итого.Прочие') %>" /></td>
		</tr>

	</table>

</div>