﻿<style>
div.cpw-myr-org-units input
{
	width: 70px;
}
div.cpw-myr-org-units td.year
{
	width: 75px;
}
div.cpw-myr-org-units td.button
{
	width: 26px;
}
div.cpw-myr-org-units td.col-name
{
	width: 200px;
}
div.cpw-myr-org-units td.col-name1
{
	width: 252px;
}
div.cpw-myr-org-units td.edit img
,div.cpw-myr-org-units td.delete img
{
	cursor: pointer;
	margin:4px;
}
div.cpw-myr-org-units td.edit img:hover
,div.cpw-myr-org-units td.delete img:hover
{
	border:3px solid silver;
	margin:1px;
}
div.cpw-myr-org-units button.add
{
	border-radius:8px;
	border: 1px solid #f2f2f2;
	background-color: #f9f9f9;
	cursor:pointer;
	font-size:small !important;
	color:gray;
	margin-left: 10px;
	width: 900px;
	text-align:left;
	margin:3px;
	text-align:center;
}
div.cpw-myr-org-units button.add:hover
{
	background-color: #eeeeee;
}
div.cpw-myr-org-units td.unit-name span:hover
{
	background-color: #d0d0d0;
	cursor: pointer;
}
</style>
<% if (0) { %>
<style>
div.cpw-myr-org-units tbody.design-mode
{
	background-color:yellow;
}
</style>
<% } %>
<div class="cpw-myr-org-units">

	<table <%= obj.with_attrs('Подразделения') %> <% if (0) { %> border="1" cellspacing="0" <% } %> >
		<% obj.start_with() %>
		<% if (0) { %> 
			<tbody class="design-mode">
				<tr><td>1</td><td>2</td><td>3</td><td>4</td><td>5</td><td>6</td><td>7</td><td>8</td><td>9</td><td>10</td><td>11</td><td>12</td><td>13</td><td>14</td></tr>
				<tr>
					<td>Подразделение</td>
					<td>e</td>
					<td>d</td>
					<td colspan="3">должностей:</td>
					<td>&nbsp;</td>
					<td colspan="3">в том числе занятых:</td>
					<td>&nbsp;</td>
					<td colspan="3">в том числе физических лиц:</td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td>2015 год</td>
					<td>2016 год</td>
					<td>2017 год</td>
					<td>&nbsp;</td>
					<td>2015 год</td>
					<td>2016 год</td>
					<td>2017 год</td>
					<td>&nbsp;</td>
					<td>2015 год</td>
					<td>2016 год</td>
					<td>2017 год</td>
				</tr>
			</tbody>
		 <% } %>

		<tbody class="title">
			<tr>
				<td>Подразделение:</td>
				<td></td>
				<td></td>
				<td colspan="3">должностей:</td>
				<td>&nbsp;</td>
				<td colspan="3">в том числе занятых:</td>
				<td>&nbsp;</td>
				<td colspan="3">в том числе физических лиц:</td>
			</tr>
			<tr>
				<td class="col-name"></td>
				<td class="button"></td>
				<td class="button"></td>
				<td class="year">2015 год</td>
				<td class="year">2016 год</td>
				<td class="year">2017 год</td>
				<td>&nbsp;</td>
				<td class="year">2015 год</td>
				<td class="year">2016 год</td>
				<td class="year">2017 год</td>
				<td>&nbsp;</td>
				<td class="year">2015 год</td>
				<td class="year">2016 год</td>
				<td class="year">2017 год</td>
			</tr>
		</tbody>

		<tr <%= obj.empty_attrs() %> >
			<td colspan="14">&nbsp;</td>
		</tr>

		<tbody <%= obj.not_empty_attrs() %> >
			<% while (obj.iterate()) { %>
			<tr class="sub-item" <%= obj.item_attrs() %> >
				<td class="unit-name">
					<%= obj.text_field('Наименование') %>
						<% if (obj.is_seed()) { %>Профилакторий №1<% } %>
					<%= obj.text_field_end() %>
				</td>
				<td class="edit"><img src="images/edit.png" /></td>
				<td class="delete"><img src="images/remove.png" /></td>
				<td><input type="text" readonly="readonly" value="<%= obj.txt('Итого.Должностей.ПППГ') %>" /></td>
				<td><input type="text" readonly="readonly" value="<%= obj.txt('Итого.Должностей.ППГ') %>" /></td>
				<td><input type="text" readonly="readonly" value="<%= obj.txt('Итого.Должностей.ПГ') %>" /></td>
				<td>&nbsp;</td>
				<td><input type="text" readonly="readonly" value="<%= obj.txt('Итого.Занято_должностей.ПППГ') %>" /></td>
				<td><input type="text" readonly="readonly" value="<%= obj.txt('Итого.Занято_должностей.ППГ') %>" /></td>
				<td><input type="text" readonly="readonly" value="<%= obj.txt('Итого.Занято_должностей.ПГ') %>" /></td>
				<td>&nbsp;</td>
				<td><input type="text" readonly="readonly" value="<%= obj.txt('Итого.Физ_лиц.ПППГ') %>" /></td>
				<td><input type="text" readonly="readonly" value="<%= obj.txt('Итого.Физ_лиц.ППГ') %>" /></td>
				<td><input type="text" readonly="readonly" value="<%= obj.txt('Итого.Физ_лиц.ПГ') %>" /></td>
			</tr>
			<% } %>
		</tbody>

		<tr>
			<td colspan="14">
				<button class="add">Добавить описание подразделения</button>
			</td>
		</tr>
		<% obj.end_with() %>
	</table>

	<table <%= obj.with_attrs('Суммарно') %> <% if (0) { %> border="1" cellspacing="0" <% } %> >
		<% obj.start_with() %>
		<% if (0) { %> 
			<tbody class="design-mode">
				<tr><td>1</td><td>2</td><td>3</td><td>4</td><td>5</td><td>6</td><td>7</td><td>8</td><td>9</td><td>10</td><td>11</td><td>12</td></tr>
				<tr>
					<td>Подразделение</td>
					<td colspan="3">должностей:</td>
					<td>&nbsp;</td>
					<td colspan="3">в том числе занятых:</td>
					<td>&nbsp;</td>
					<td colspan="3">в том числе физических лиц:</td>
				</tr>
				<tr>
					<td></td>
					<td>2015 год</td>
					<td>2016 год</td>
					<td>2017 год</td>
					<td>&nbsp;</td>
					<td>2015 год</td>
					<td>2016 год</td>
					<td>2017 год</td>
					<td>&nbsp;</td>
					<td>2015 год</td>
					<td>2016 год</td>
					<td>2017 год</td>
				</tr>
			</tbody>
		 <% } %>

		<tbody>

			<tr class="sub-item">
				<td class="col-name1">Итого</td>
				<td class="year"><input type="text" readonly="readonly" value="<%= obj.txt('Итого.Должностей.ПППГ') %>" /></td>
				<td class="year"><input type="text" readonly="readonly" value="<%= obj.txt('Итого.Должностей.ППГ') %>" /></td>
				<td class="year"><input type="text" readonly="readonly" value="<%= obj.txt('Итого.Должностей.ПГ') %>" /></td>
				<td>&nbsp;</td>
				<td class="year"><input type="text" readonly="readonly" value="<%= obj.txt('Итого.Занято_должностей.ПППГ') %>" /></td>
				<td class="year"><input type="text" readonly="readonly" value="<%= obj.txt('Итого.Занято_должностей.ППГ') %>" /></td>
				<td class="year"><input type="text" readonly="readonly" value="<%= obj.txt('Итого.Занято_должностей.ПГ') %>" /></td>
				<td>&nbsp;</td>
				<td class="year"><input type="text" readonly="readonly" value="<%= obj.txt('Итого.Физ_лиц.ПППГ') %>" /></td>
				<td class="year"><input type="text" readonly="readonly" value="<%= obj.txt('Итого.Физ_лиц.ППГ') %>" /></td>
				<td class="year"><input type="text" readonly="readonly" value="<%= obj.txt('Итого.Физ_лиц.ПГ') %>" /></td>
			</tr>

			<tr>
				<td colspan="3">Всего</td>
			</tr>

			<tr class="sub-item">
				<td>врачей</td>
				<td><input type="text" readonly="readonly" value="<%= obj.txt('Врачи.Должностей.ПППГ') %>" /></td>
				<td><input type="text" readonly="readonly" value="<%= obj.txt('Врачи.Должностей.ППГ') %>" /></td>
				<td><input type="text" readonly="readonly" value="<%= obj.txt('Врачи.Должностей.ПГ') %>" /></td>
				<td>&nbsp;</td>
				<td><input type="text" readonly="readonly" value="<%= obj.txt('Врачи.Занято_должностей.ПППГ') %>" /></td>
				<td><input type="text" readonly="readonly" value="<%= obj.txt('Врачи.Занято_должностей.ППГ') %>" /></td>
				<td><input type="text" readonly="readonly" value="<%= obj.txt('Врачи.Занято_должностей.ПГ') %>" /></td>
				<td>&nbsp;</td>
				<td><input type="text" readonly="readonly" value="<%= obj.txt('Врачи.Физ_лиц.ПППГ') %>" /></td>
				<td><input type="text" readonly="readonly" value="<%= obj.txt('Врачи.Физ_лиц.ППГ') %>" /></td>
				<td><input type="text" readonly="readonly" value="<%= obj.txt('Врачи.Физ_лиц.ПГ') %>" /></td>
			</tr>

			<tr class="sub-item">
				<td>ср. мед.персонала</td>
				<td><input type="text" readonly="readonly" value="<%= obj.txt('Ср_медперсонал.Должностей.ПППГ') %>" /></td>
				<td><input type="text" readonly="readonly" value="<%= obj.txt('Ср_медперсонал.Должностей.ППГ') %>" /></td>
				<td><input type="text" readonly="readonly" value="<%= obj.txt('Ср_медперсонал.Должностей.ПГ') %>" /></td>
				<td>&nbsp;</td>
				<td><input type="text" readonly="readonly" value="<%= obj.txt('Ср_медперсонал.Занято_должностей.ПППГ') %>" /></td>
				<td><input type="text" readonly="readonly" value="<%= obj.txt('Ср_медперсонал.Занято_должностей.ППГ') %>" /></td>
				<td><input type="text" readonly="readonly" value="<%= obj.txt('Ср_медперсонал.Занято_должностей.ПГ') %>" /></td>
				<td>&nbsp;</td>
				<td><input type="text" readonly="readonly" value="<%= obj.txt('Ср_медперсонал.Физ_лиц.ПППГ') %>" /></td>
				<td><input type="text" readonly="readonly" value="<%= obj.txt('Ср_медперсонал.Физ_лиц.ППГ') %>" /></td>
				<td><input type="text" readonly="readonly" value="<%= obj.txt('Ср_медперсонал.Физ_лиц.ПГ') %>" /></td>
			</tr>

			<tr class="sub-item">
				<td>мл. мед.персонала</td>
				<td><input type="text" readonly="readonly" value="<%= obj.txt('Мл_медперсонал.Должностей.ПППГ') %>" /></td>
				<td><input type="text" readonly="readonly" value="<%= obj.txt('Мл_медперсонал.Должностей.ППГ') %>" /></td>
				<td><input type="text" readonly="readonly" value="<%= obj.txt('Мл_медперсонал.Должностей.ПГ') %>" /></td>
				<td>&nbsp;</td>
				<td><input type="text" readonly="readonly" value="<%= obj.txt('Мл_медперсонал.Занято_должностей.ПППГ') %>" /></td>
				<td><input type="text" readonly="readonly" value="<%= obj.txt('Мл_медперсонал.Занято_должностей.ППГ') %>" /></td>
				<td><input type="text" readonly="readonly" value="<%= obj.txt('Мл_медперсонал.Занято_должностей.ПГ') %>" /></td>
				<td>&nbsp;</td>
				<td><input type="text" readonly="readonly" value="<%= obj.txt('Мл_медперсонал.Физ_лиц.ПППГ') %>" /></td>
				<td><input type="text" readonly="readonly" value="<%= obj.txt('Мл_медперсонал.Физ_лиц.ППГ') %>" /></td>
				<td><input type="text" readonly="readonly" value="<%= obj.txt('Мл_медперсонал.Физ_лиц.ПГ') %>" /></td>
			</tr>

			<tr class="sub-item">
				<td>проч. персонала</td>
				<td><input type="text" readonly="readonly" value="<%= obj.txt('Прочий_персонал.Должностей.ПППГ') %>" /></td>
				<td><input type="text" readonly="readonly" value="<%= obj.txt('Прочий_персонал.Должностей.ППГ') %>" /></td>
				<td><input type="text" readonly="readonly" value="<%= obj.txt('Прочий_персонал.Должностей.ПГ') %>" /></td>
				<td>&nbsp;</td>
				<td><input type="text" readonly="readonly" value="<%= obj.txt('Прочий_персонал.Занято_должностей.ПППГ') %>" /></td>
				<td><input type="text" readonly="readonly" value="<%= obj.txt('Прочий_персонал.Занято_должностей.ППГ') %>" /></td>
				<td><input type="text" readonly="readonly" value="<%= obj.txt('Прочий_персонал.Занято_должностей.ПГ') %>" /></td>
				<td>&nbsp;</td>
				<td><input type="text" readonly="readonly" value="<%= obj.txt('Прочий_персонал.Физ_лиц.ПППГ') %>" /></td>
				<td><input type="text" readonly="readonly" value="<%= obj.txt('Прочий_персонал.Физ_лиц.ППГ') %>" /></td>
				<td><input type="text" readonly="readonly" value="<%= obj.txt('Прочий_персонал.Физ_лиц.ПГ') %>" /></td>
			</tr>

		</tbody>
		<% obj.end_with() %>
	</table>
</div>