﻿<style>
div.cpw-meo-yearly-region-equipment-center td.field
{
	width: 700px;
	vertical-align:top;
}
div.cpw-meo-yearly-region-equipment-center td.plan-fact
{
	width: 100px;
	text-align:center;
}
div.cpw-meo-yearly-region-equipment-center td.year
{
	text-align:center;
}
div.cpw-meo-yearly-region-equipment-center tr.sub-item td.field
{
	padding-left: 20px;
}
div.cpw-meo-yearly-region-equipment-center tr.total td.field
{
	padding-left: 10px;
}
div.cpw-meo-yearly-region-equipment-center td
{
	padding:0;
}
div.cpw-meo-yearly-region-equipment-center div.class
{
	display: inline-block;
	width: 110px;
	vertical-align:top;
}
div.cpw-meo-yearly-region-equipment-center div.name
{
	display: inline-block;
	width: 580px;
}
div.cpw-meo-yearly-region-equipment-center input
{
	width: 80px;
}
</style>
<% if (0) { %>
<style>
div.cpw-meo-yearly-region-equipment-center tr.design-mode
{
	background-color:yellow;
}
</style>
<% } %>
<div class="cpw-meo-yearly-region-equipment-center">

	<table <% if (0) { %> border="1" cellspacing="0" <% } %> >
		<% if (0) { %> 
			<tr class="design-mode"><td>1</td><td>2</td><td>3</td><td>4</td><td>5</td><td>6</td><td>7</td></tr>
			<tr class="design-mode">
				<td class="field">Наименование поля</td>
				<td colspan="2" class="year">2015 год</td>
				<td colspan="2" class="year">2016 год</td>
				<td colspan="2" class="year">2017 год</td>
			</tr>
		 <% } %>
		<tr>
			<td class="field">
				<span style="float:right">(при наличии, вписывается год выпуска)</span>
				<strong>Центр профпатологии</strong>
			</td>
			<td colspan="2" class="year">2015 год</td>
			<td colspan="2" class="year">2016 год</td>
			<td colspan="2" class="year">2017 год</td>
		</tr>

		<tr class="sub-item">
			<td class="field">анализатор лазерный микроциркуляции крови компьютеризированный</td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПГ.Общая_площадь_земельных_участков') %>" /></td>
		</tr>

		<tr class="sub-item">
			<td class="field">аппаратно-программный реографический комплекс</td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПГ.Общая_площадь_земельных_участков') %>" /></td>
		</tr>

		<tr class="sub-item">
			<td class="field">бодиплатизмограф</td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПГ.Общая_площадь_земельных_участков') %>" /></td>
		</tr>

		<tr class="sub-item">
			<td class="field">велэргометр с пульсоксиметром</td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПГ.Общая_площадь_земельных_участков') %>" /></td>
		</tr>

		<tr class="sub-item">
			<td class="field">вибротестер</td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПГ.Общая_площадь_земельных_участков') %>" /></td>
		</tr>

		<tr class="sub-item">
			<td class="field">динамометр медицинский, эспандер</td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПГ.Общая_площадь_земельных_участков') %>" /></td>
		</tr>

		<tr class="sub-item">
			<td class="field">импедансометр</td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПГ.Общая_площадь_земельных_участков') %>" /></td>
		</tr>

		<tr class="sub-item">
			<td class="field">комплекс компьютеризированный для исследования и диагностики кровенаполнения сосудов головного мозга</td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПГ.Общая_площадь_земельных_участков') %>" /></td>
		</tr>

		<tr class="sub-item">
			<td class="field">компьютерный томограф</td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПГ.Общая_площадь_земельных_участков') %>" /></td>
		</tr>

		<tr class="sub-item">
			<td class="field">масс-спектрометр</td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПГ.Общая_площадь_земельных_участков') %>" /></td>
		</tr>

		<tr class="sub-item">
			<td class="field">плазменно-ионизационный фотометр</td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПГ.Общая_площадь_земельных_участков') %>" /></td>
		</tr>

		<tr class="sub-item">
			<td class="field">прибор для определения ртути в биологических средах</td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПГ.Общая_площадь_земельных_участков') %>" /></td>
		</tr>

		<tr class="sub-item">
			<td class="field">система кардиологическая диагностическая мониторная для проведения нагрузочных тестов</td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПГ.Общая_площадь_земельных_участков') %>" /></td>
		</tr>

		<tr class="sub-item">
			<td class="field">спирометр</td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПГ.Общая_площадь_земельных_участков') %>" /></td>
		</tr>

		<tr class="sub-item">
			<td class="field">ультразвуковая допплеровская система с датчиками для сосудов головного мозга, рук и ног</td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПГ.Общая_площадь_земельных_участков') %>" /></td>
		</tr>

		<tr class="sub-item">
			<td class="field">фотоэлектрокалориметр</td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПГ.Общая_площадь_земельных_участков') %>" /></td>
		</tr>

		<tr class="sub-item">
			<td class="field">портативный радиометр для измерения уровня альфа-излучения (в случае использования в технологическом процессе источников ионизирующего излучения)</td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПГ.Общая_площадь_земельных_участков') %>" /></td>
		</tr>

		<tr class="sub-item">
			<td class="field">портативный радиометр для измерения уровня гамма-излучения (в случае использования в технологическом процессе источников ионизирующего излучения)</td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПГ.Общая_площадь_земельных_участков') %>" /></td>
		</tr>

		<tr class="sub-item">
			<td class="field">прочее (указать)</td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПГ.Общая_площадь_земельных_участков') %>" /></td>
		</tr>

	</table>

</div>