<style>
div.cpw-myr-diagnostics div.page
{
	min-height: 595px !important;
}
div.cpw-myr-diagnostics span.title
{
	text-align:center;
	width:100%;
	font-weight: bold;
	display:inline-block;
	height:25px;
}
/* стили из закладок */
div.cpw-myr-diagnostics table
{
	width:980px;
}
div.cpw-myr-diagnostics table.title-table
{
	margin-top: 10px;
}
div.cpw-myr-diagnostics td.group-title
{
	font-weight: bold;
	width: 708px;
}
div.cpw-myr-diagnostics td.year
{
	width: 90px;
	text-align:center;
}
/**/
/* стили из methods */
div.cpw-myr-diagnostics table
{
	width:980px;
}
div.cpw-myr-diagnostics td
{
	padding:0;
}
div.cpw-myr-diagnostics td.dot
{
	vertical-align:top;
	width:13px;
	text-align:right;
	padding-right:5px;
}
div.cpw-myr-diagnostics td.dot span
{
	height: 6px;
	width: 6px;
	background-color: black;
	border-radius: 50%;
	display: inline-block;
	margin-top: 10px;
}
div.cpw-myr-diagnostics td.std-name
{
	width: 688px;
	cursor: pointer;
}
div.cpw-myr-diagnostics td.extra-name
{
	width: 628px;
	cursor: pointer;
}
div.cpw-myr-diagnostics [model-selector="Прочие"] td.extra-name span:hover
{
	background-color: #d0d0d0;
}
div.cpw-myr-diagnostics td.edit img
,div.cpw-myr-diagnostics td.delete img
{
	cursor: pointer;
	margin:4px;
}
div.cpw-myr-diagnostics td.edit img:hover
,div.cpw-myr-diagnostics td.delete img:hover
{
	border:3px solid silver;
	margin:1px;
}
div.cpw-myr-diagnostics td.year
{
	text-align:center;
	width: 90px;
	border-right:1px solid #eeeeee;
	border-left:1px solid #eeeeee;
	vertical-align:top;
}
div.cpw-myr-diagnostics td.year:hover
{
	background-color: #d0d0d0;
}
div.cpw-myr-diagnostics button.add
{
	border-radius:8px;
	border: 1px solid #f2f2f2;
	background-color: #f9f9f9;
	cursor:pointer;
	font-size:small !important;
	color:gray;
	margin-left: 10px;
	width: 900px;
	text-align:left;
}
div.cpw-myr-diagnostics button.add:hover
{
	background-color: #eeeeee;
}
div.cpw-myr-diagnostics div[fc-type="array-empty"]
{
	margin-left:30px;
	font-size:small;
	color: gray;
}
div.cpw-myr-diagnostics tr.other span
{
	color: gray;
}
div.cpw-myr-diagnostics tr.other td
{
	padding-left: 5px;
}
div.cpw-myr-diagnostics label.no span.no,
div.cpw-myr-diagnostics label.yes span.yes
{
	text-decoration:underline;
}
div.cpw-myr-diagnostics label.no span.yes,
div.cpw-myr-diagnostics label.yes span.no
{
	text-decoration:line-through;
	color: #eeeeee;
}
div.cpw-myr-diagnostics label span.no
{
	margin-right: 3px;
}
/**/
div.cpw-myr-diagnostics div
{
	margin-top:0px;
}
</style>
<div class="cpw-myr-diagnostics">
	<span class="title">Применяемые диагностические методы:</span>
	<div id="cpw-myr-diagnostics-tabs" <%= obj.tabs_attrs() %> >
		<ul>
			<li><a href="#cpw-myr-diagnostics-tab-1" >Общие клинические</a></li>
			<li><a href="#cpw-myr-diagnostics-tab-2" >Кровь</a></li>
			<li><a href="#cpw-myr-diagnostics-tab-3" >Биохимия</a></li>
			<li><a href="#cpw-myr-diagnostics-tab-4" >Интроскопия</a></li>
			<li><a href="#cpw-myr-diagnostics-tab-5" >Биофизика</a></li>
			<li><a href="#cpw-myr-diagnostics-tab-6" >Функ. диагностика</a></li>
			<li><a href="#cpw-myr-diagnostics-tab-7" >Прочее</a></li>
		</ul>
		<div id="cpw-myr-diagnostics-tab-1" class="page" >
			<% if (0) { %>Страница "Общие"<% } %>
			<%= obj.fields_control('Общие') %>
		</div>
		<div id="cpw-myr-diagnostics-tab-2" class="page">
			<% if (0) { %>Страница "Кровь"<% } %>
			<%= obj.fields_control('Кровь') %>
		</div>
		<div id="cpw-myr-diagnostics-tab-3" class="page">
			<% if (0) { %>Страница "Биохимия"<% } %>
			<%= obj.fields_control('Биохимия') %>
		</div>
		<div id="cpw-myr-diagnostics-tab-4" class="page">
			<% if (0) { %>Страница "Интроскопия"<% } %>
			<%= obj.fields_control('Интроскопия') %>
		</div>
		<div id="cpw-myr-diagnostics-tab-5" class="page">
			<% if (0) { %>Страница "Биофизика"<% } %>
			<%= obj.fields_control('Биофизика') %>
		</div>
		<div id="cpw-myr-diagnostics-tab-6" class="page">
			<% if (0) { %>Страница "Функциональная"<% } %>
			<%= obj.fields_control('Функциональная') %>
		</div>
		<div id="cpw-myr-diagnostics-tab-7" class="page">
			<% if (0) { %>Страница "Прочее"<% } %>
			<%= obj.fields_control('Прочее') %>
		</div>
	</div>

</div>