﻿<style>
div.cpw-myr-diagnostic-general table
{
	width:980px;
}
div.cpw-myr-diagnostic-general td.group-title
{
	font-weight: bold;
	width: 708px;
}
div.cpw-myr-diagnostic-general td.year
{
	width: 90px;
	text-align:center;
}
</style>
<% if (0) { %>
<style>
div.cpw-myr-diagnostic-general tr.design-mode
{
	background-color:yellow;
}
</style>
<% } %>
<div class="cpw-myr-diagnostic-general">

	<table class="title-table" <% if (0) { %> border="1" cellspacing="0" <% } %> >
		<% if (0) { %> 
			<tr class="design-mode"><td>1</td><td>2</td><td>3</td><td>4</td></tr>
			<tr class="design-mode">
				<td>Наименование поля</td>
				<td>2015 год</td>
				<td>2016 год</td>
				<td>2017 год</td>
			</tr>
		 <% } %>
		<tr>
			<td class="group-title">Общеклинические исследования</td>
			<td class="year">2015 год</td>
			<td class="year">2016 год</td>
			<td class="year">2017 год</td>
		</tr>
	</table>

	<%= obj.control('Общеклинические_исследования') %><% if (0) { %>Методы общеклинических исследований<% } %>

</div>