﻿<style>
div.cpw-meo-yearly-region-diagnostic-introscopy table
{
	width:980px;
}
div.cpw-meo-yearly-region-diagnostic-introscopy td.group-title
{
	font-weight: bold;
	width: 708px;
}
div.cpw-meo-yearly-region-diagnostic-introscopy td.year
{
	width: 90px;
	text-align:center;
}
</style>
<% if (0) { %>
<style>
div.cpw-meo-yearly-region-diagnostic-introscopy tr.design-mode
{
	background-color:yellow;
}
</style>
<% } %>
<div class="cpw-meo-yearly-region-diagnostic-introscopy">

	<table class="title-table" <% if (0) { %> border="1" cellspacing="0" <% } %> >
		<% if (0) { %> 
			<tr class="design-mode"><td>1</td><td>2</td><td>3</td><td>4</td></tr>
			<tr class="design-mode">
				<td>Наименование поля</td>
				<td>2015 год</td>
				<td>2016 год</td>
				<td>2017 год</td>
			</tr>
		 <% } %>
		<tr>
			<td class="group-title">Рентгеновский кабинет</td>
			<td class="year">2015 год</td>
			<td class="year">2016 год</td>
			<td class="year">2017 год</td>
		</tr>
	</table>

	<%= obj.control('Рентгеновский_кабинет') %><% if (0) { %>Методы рентгеновского кабинета<% } %>

	<table class="title-table" <% if (0) { %> border="1" cellspacing="0" <% } %> >
		<% if (0) { %> 
			<tr class="design-mode"><td>1</td><td>2</td><td>3</td><td>4</td></tr>
			<tr class="design-mode">
				<td>Наименование поля</td>
				<td>2015 год</td>
				<td>2016 год</td>
				<td>2017 год</td>
			</tr>
		 <% } %>
		<tr>
			<td class="group-title">Кабинет ультразвуковой диагностики</td>
		</tr>
	</table>

	<%= obj.control('Кабинет_ультразвуковой_диагностики') %><% if (0) { %>Кабинет ультразвуковой диагностики<% } %>

</div>