﻿<style>
div.cpw-meo-yearly-region-economic-repair
{
	width: 750px;
	margin: 0 auto;
}
div.cpw-meo-yearly-region-economic-repair table input
{
	width: 70px;
}
div.cpw-meo-yearly-region-economic-repair tr.center td
,div.cpw-meo-yearly-region-economic-repair td.center
{
	text-align: center;
}
div.cpw-meo-yearly-region-economic-repair div.row
{
	display: inline-block;
	width: 100%;
	margin-bottom: 3px;
}
div.cpw-meo-yearly-region-economic-repair div.title
{
	display: inline-block;
}
div.cpw-meo-yearly-region-economic-repair input[model-selector="Объект"]
{
	width: 640px;
	margin-left: 5px;
}
div.cpw-meo-yearly-region-economic-repair input[model-selector="Износ_процентов"]
{
	width: 50px;
	margin-left: 5px;
}
</style>
<% if (0) { %>
<style>
div.cpw-meo-yearly-region-economic-repair tbody.design-mode
{
	background-color:yellow;
}
</style>
<% } %>
<div class="cpw-meo-yearly-region-economic-repair">

	<div class="row"><div class="title">Объект </div> <input autofocus="autofocus" type="text" value="<%= obj.txt('Объект') %>"/></div>
	<div class="row"><div class="title">Величина износа на момент начала работ </div> <input type="text" value="<%= obj.txt('Износ_процентов') %>"/> %</div>

	<table <% if (0) { %> border="1" cellspacing="0" <% } %> >
		<% if (0) { %> 
			<tbody class="design-mode">
				<tr><td>1</td><td>2</td><td>3</td><td>4</td><td>5</td><td>6</td><td>7</td><td>8</td><td>9</td></tr>
				<tr>
					<td>Наименование поля</td>
					<td colspan="2">2015 год</td>
					<td>&nbsp;</td>
					<td colspan="2">2016 год</td>
					<td>&nbsp;</td>
					<td colspan="2">2017 год</td>
				</tr>
				<tr>
					<td></td>
					<td>План</td>
					<td>Факт</td>
					<td>&nbsp;</td>
					<td>План</td>
					<td>Факт</td>
					<td>&nbsp;</td>
					<td>План</td>
					<td>Факт</td>
				</tr>
			</tbody>
		 <% } %>

		<tr>
			<td rowspan="2">Финансирование ремонта:</td>
			<td colspan="2" class="center">2015 год</td>
			<td>&nbsp;</td>
			<td colspan="2" class="center">2016 год</td>
			<td>&nbsp;</td>
			<td colspan="2" class="center">2017 год</td>
		</tr>

		<tr class="center">
			<td>План</td>
			<td>Факт</td>
			<td>&nbsp;</td>
			<td>План</td>
			<td>Факт</td>
			<td>&nbsp;</td>
			<td>План</td>
			<td>Факт</td>
		</tr>

		<tr>
			<td> - за счёт бюджетных средств:</td>
			<td><input type="text" value="<%= obj.txt('Финансирование.Из_бюджета.План.ПППГ') %>"/></td>
			<td><input type="text" value="<%= obj.txt('Финансирование.Из_бюджета.Факт.ПППГ') %>"/></td>
			<td>&nbsp;</td>
			<td><input type="text" value="<%= obj.txt('Финансирование.Из_бюджета.План.ППГ') %>"/></td>
			<td><input type="text" value="<%= obj.txt('Финансирование.Из_бюджета.Факт.ППГ') %>"/></td>
			<td>&nbsp;</td>
			<td><input type="text" value="<%= obj.txt('Финансирование.Из_бюджета.План.ПГ') %>"/></td>
			<td><input type="text" value="<%= obj.txt('Финансирование.Из_бюджета.Факт.ПГ') %>"/></td>
		</tr>

		<tr>
			<td> - за счёт <b>вне</b>бюджетных средств:</td>
			<td><input type="text" value="<%= obj.txt('Финансирование.Из_внебюджета.План.ПППГ') %>"/></td>
			<td><input type="text" value="<%= obj.txt('Финансирование.Из_внебюджета.Факт.ПППГ') %>"/></td>
			<td>&nbsp;</td>
			<td><input type="text" value="<%= obj.txt('Финансирование.Из_внебюджета.План.ППГ') %>"/></td>
			<td><input type="text" value="<%= obj.txt('Финансирование.Из_внебюджета.Факт.ППГ') %>"/></td>
			<td>&nbsp;</td>
			<td><input type="text" value="<%= obj.txt('Финансирование.Из_внебюджета.План.ПГ') %>"/></td>
			<td><input type="text" value="<%= obj.txt('Финансирование.Из_внебюджета.Факт.ПГ') %>"/></td>
		</tr>

	</table>
</div>