﻿<style>
div.cpw-form-delete-org-repair-confirm div.title
{
	margin-left: 20px;
	display:inline-block;
}
</style>
<div class="cpw-form-delete-org-repair-confirm">
	Вы действительно хотите удалить информацию о ремонте объекта  всоставе здания/сооружения<br/>
	<div class="title">"<b><%= obj.Удаляемый_ремонт.Объект %><% if (0) { %>входная группа дачи главного профпатолога<% } %></b>"?</div><br/>
</div>