﻿<style>
div.cpw-meo-yearly-region-results-occupational td.field
{
	width: 700px;
	vertical-align:top;
}
div.cpw-meo-yearly-region-results-occupational td.plan-fact
{
	width: 100px;
	text-align:center;
}
div.cpw-meo-yearly-region-results-occupational td.year
{
	text-align:center;
}
div.cpw-meo-yearly-region-results-occupational td
{
	padding:0;
}
div.cpw-meo-yearly-region-results-occupational div.class
{
	display: inline-block;
	width: 117px;
	vertical-align:top;
}
div.cpw-meo-yearly-region-results-occupational div.name
{
	display: inline-block;
	width: 560px;
}
div.cpw-meo-yearly-region-results-occupational input
{
	width: 80px;
}
div.cpw-meo-yearly-region-results-occupational tr.sub-item td.field
{
	padding-left: 20px;
}
div.cpw-meo-yearly-region-results-occupational tr.total td.field
{
	padding-left: 10px;
}
</style>
<% if (0) { %>
<style>
div.cpw-meo-yearly-region-results-occupational tr.design-mode
{
	background-color:yellow;
}
</style>
<% } %>
<div class="cpw-meo-yearly-region-results-occupational">

	<table <% if (0) { %> border="1" cellspacing="0" <% } %> >
		<% if (0) { %> 
			<tr class="design-mode"><td>1</td><td>2</td><td>3</td><td>4</td><td>5</td><td>6</td><td>7</td></tr>
			<tr class="design-mode">
				<td class="field">Наименование поля</td>
				<td colspan="2" class="year">2015 год</td>
				<td colspan="2" class="year">2016 год</td>
				<td colspan="2" class="year">2017 год</td>
			</tr>
		 <% } %>
		<tr>
			<td class="field">Перечень впервые установленных профессиональных заболеваний в отчетном году	</td>
			<td colspan="2" class="year">2015 год</td>
			<td colspan="2" class="year">2016 год</td>
			<td colspan="2" class="year">2017 год</td>
		</tr>

		<tr class="sub-item">
			<td class="field">
				<div class="class" title="Нозология согласно МКБ-10">J44.8 Y96</div>
				<div class="name" title="ХОБЛ">
					ХОБЛ
				</div>
			</td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПГ.Общая_площадь_земельных_участков') %>" /></td>
		</tr>

		<tr class="sub-item">
			<td class="field">
				<div class="class" title="Нозология согласно МКБ-10">J68.0 Y96</div>
				<div class="name" title="Пневмокониоз при электросварке и газосварке">
					Пневмокониоз при электросварке и газосварке
				</div>
			</td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПГ.Общая_площадь_земельных_участков') %>" /></td>
		</tr>

		<tr class="sub-item">
			<td class="field">
				<div class="class" title="Нозология согласно МКБ-10">T75.2 Y96</div>
				<div class="name" title="Вибрационная болезнь, связанная с воздействием локальной вибрации">
					Вибрационная болезнь, связанная с воздействием локальной вибрации
				</div>
			</td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПГ.Общая_площадь_земельных_участков') %>" /></td>
		</tr>

		<tr class="sub-item">
			<td class="field">
				<div class="class" title="Нозология согласно МКБ-10">H90.6 Y96</div>
				<div class="name" title="Нейросенсорная тугоухость">
					Нейросенсорная тугоухость
				</div>
			</td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПГ.Общая_площадь_земельных_участков') %>" /></td>
		</tr>

		<tr class="sub-item">
			<td class="field">
				<div class="class" title="Нозология согласно МКБ-10">H90.6 Y96</div>
				<div class="name" title="Нейросенсорная тугоухость">
					Нейросенсорная тугоухость
				</div>
			</td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПГ.Общая_площадь_земельных_участков') %>" /></td>
		</tr>

		<tr class="sub-item">
			<td class="field">
				<div class="class" title="Нозология согласно МКБ-10">G62.8 X50.1-8</div>
				<div class="name" title="Полинейропатия верхних конечностей">
					Полинейропатия верхних конечностей
				</div>
			</td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПГ.Общая_площадь_земельных_участков') %>" /></td>
		</tr>

		<tr class="sub-item">
			<td class="field">
				<div class="class" title="Нозология согласно МКБ-10">T75.8 Y96</div>
				<div class="name" title="Туберкулез легких">
					Туберкулез легких
				</div>
			</td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПГ.Общая_площадь_земельных_участков') %>" /></td>
		</tr>

		<tr class="sub-item">
			<td class="field">
				<div class="class" title="Нозология согласно МКБ-10">M54.1 X50.1-8</div>
				<div class="name" title="Туберкулез легких">
					Радикулопатия
				</div>
			</td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПГ.Общая_площадь_земельных_участков') %>" /></td>
		</tr>

		<tr class="total">
			<td class="field">Итого:</td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПГ.Общая_площадь_земельных_участков') %>" /></td>
		</tr>

	</table>

	<table <% if (0) { %> border="1" cellspacing="0" <% } %> >
		<% if (0) { %> 
			<tr class="design-mode"><td>1</td><td>2</td><td>3</td><td>4</td><td>5</td><td>6</td><td>7</td></tr>
			<tr class="design-mode">
				<td class="field">Наименование поля</td>
				<td colspan="2" class="year">2015 год</td>
				<td colspan="2" class="year">2016 год</td>
				<td colspan="2" class="year">2017 год</td>
			</tr>
		 <% } %>

		<tr>
			<td colspan="7">Предварительные диагнозы профзаболеваний</td>
		</tr>

		<tr class="sub-item">
			<td class="field">общее число предварительных диагнозов профзаболеваний</td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПГ.Общая_площадь_земельных_участков') %>" /></td>
		</tr>

		<tr class="sub-item">
			<td class="field">из них подтвержденных</td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПГ.Общая_площадь_земельных_участков') %>" /></td>
		</tr>

		<tr>
			<td class="field">Число заключительных диагнозов профзаболеваний</td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПГ.Общая_площадь_земельных_участков') %>" /></td>
		</tr>

		<tr>
			<td colspan="7">Число заключительных диагнозов профзаболеваний по нозологиям, связанных:</td>
		</tr>

		<tr class="sub-item">
			<td class="field">с воздействием производственных химических факторов</td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПГ.Общая_площадь_земельных_участков') %>" /></td>
		</tr>

		<tr class="sub-item">
			<td class="field">с воздействием производственных биологических факторов</td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПГ.Общая_площадь_земельных_участков') %>" /></td>
		</tr>

		<tr class="sub-item">
			<td class="field">с воздействием производственных физических факторов</td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПГ.Общая_площадь_земельных_участков') %>" /></td>
		</tr>

		<tr class="sub-item">
			<td class="field">с физическими перегрузками и функциональным напряжением отдельных органов и систем</td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПГ.Общая_площадь_земельных_участков') %>" /></td>
		</tr>

		<tr class="total">
			<td class="field">Итого:</td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПГ.Общая_площадь_земельных_участков') %>" /></td>
		</tr>

		<tr>
			<td class="field">Число неподтвержденных диагнозов профзаболеваний при повторной экспертизе</td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПГ.Общая_площадь_земельных_участков') %>" /></td>
		</tr>

		<tr>
			<td class="field">Число лиц, находящихся под наблюдением с установленными профзаболеваниями</td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ППГ.Общая_площадь_земельных_участков') %>" /></td>
			<td colspan="2" class="year"><input type="text" value="<%= obj.txt('ПГ.Общая_площадь_земельных_участков') %>" /></td>
		</tr>

	</table>

</div>