﻿<style>
div.cpw-meo-yearly-region-staff-units-static td.field
{
	width: 300px;
	vertical-align:top;
}
div.cpw-meo-yearly-region-staff-units td.kind
,div.cpw-meo-yearly-region-staff-units td.year
{
	text-align:center;
}
div.cpw-meo-yearly-region-staff-units input
{
	width:70px;
}
div.cpw-meo-yearly-region-staff-units table.total
{
	margin-left:4px;
	width:966px;
}
div.cpw-meo-yearly-region-staff-units input.name
{
	width: 590px;
	margin-left: 14px;
}
div.cpw-meo-yearly-region-staff-units div.page
{
	min-height: 0 !important;
}
div.cpw-meo-yearly-region-staff-units div.ui-tabs
{
	border: 1px solid silver !important;
}
div.cpw-meo-yearly-region-staff-units td.year
{
	width:80px !important;
}
</style>
<% if (0) { %>
<style>
div.cpw-meo-yearly-region-staff-units tr.design-mode
{
	background-color:yellow;
}
</style>
<% } %>
<div class="cpw-meo-yearly-region-staff-units">

	<div id="cpw-meo-yearly-region-staff-units-tabs" <%= obj.tabs_attrs() %> >
		<ul>
			<li><a href="#cpw-meo-yearly-region-staff-units-tab-1" >Подразделение 1</a></li>
		</ul>
		<div id="cpw-meo-yearly-region-staff-units-tab-1" class="page" >
			Наименование: <input type="text" class="name" /> <button>Удалить</button>

			<table <% if (0) { %> border="1" cellspacing="0" <% } %> >
		<% if (0) { %> 
			<tr class="design-mode"><td>1</td><td>2</td><td>3</td><td>4</td><td>5</td><td>6</td><td>7</td><td>8</td><td>9</td><td>10</td></tr>
			<tr class="design-mode">
				<td class="field">Наименование поля</td>
				<td colspan="3" class="kind">количество должностей</td>
				<td colspan="3" class="kind">в т.ч. занятых</td>
				<td colspan="3" class="kind">в т.ч. физических лиц</td>
			</tr>
			<tr class="design-mode">
				<td class="field"></td>
				<td class="year">2015 год</td>
				<td class="year">2016 год</td>
				<td class="year">2017 год</td>
				<td class="year">2015 год</td>
				<td class="year">2016 год</td>
				<td class="year">2017 год</td>
				<td class="year">2015 год</td>
				<td class="year">2016 год</td>
				<td class="year">2017 год</td>
			</tr>
		 <% } %>
		<tr>
			<td class="field"></td>
			<td colspan="3" class="kind">количество должностей</td>
			<td colspan="3" class="kind">в т.ч. занятых</td>
			<td colspan="3" class="kind">в т.ч. физических лиц</td>
		</tr>
		<tr>
			<td class="field"></td>
			<td class="year">2015 год</td>
			<td class="year">2016 год</td>
			<td class="year">2017 год</td>
			<td class="year">2015 год</td>
			<td class="year">2016 год</td>
			<td class="year">2017 год</td>
			<td class="year">2015 год</td>
			<td class="year">2016 год</td>
			<td class="year">2017 год</td>
		</tr>

		<tr>
			<td>заведующих</td>
			<td><input type="text" value="<%= obj.txt('ПППГ.Должностей.В_подразделениях.Всего.Итого.Врачей') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ППГ.Должностей.В_подразделениях.Всего.Итого.Врачей') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ПГ.Должностей.В_подразделениях.Всего.Итого.Врачей') %>" /></td>

			<td><input type="text" value="<%= obj.txt('ПППГ.Должностей.В_подразделениях.Занятых.Итого.Врачей') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ППГ.Должностей.В_подразделениях.Занятых.Итого.Врачей') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ПГ.Должностей.В_подразделениях.Занятых.Итого.Врачей') %>" /></td>

			<td><input type="text" value="<%= obj.txt('ПППГ.Должностей.В_подразделениях.Физ_лиц.Итого.Врачей') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ППГ.Должностей.В_подразделениях.Физ_лиц.Итого.Врачей') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ПГ.Должностей.В_подразделениях.Физ_лиц.Итого.Врачей') %>" /></td>
		</tr>
		<tr>
			<td>врачей, в т.ч.:</td>
			<td><input type="text" value="<%= obj.txt('ПППГ.Должностей.В_отделении.Всего.Итого.Среднего_мед_персонала') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ППГ.Должностей.В_отделении.Всего.Итого.Среднего_мед_персонала') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ПГ.Должностей.В_отделении.Всего.Итого.Среднего_мед_персонала') %>" /></td>

			<td><input type="text" value="<%= obj.txt('ПППГ.Должностей.В_отделении.Занятых.Итого.Среднего_мед_персонала') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ППГ.Должностей.В_отделении.Занятых.Итого.Среднего_мед_персонала') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ПГ.Должностей.В_отделении.Занятых.Итого.Среднего_мед_персонала') %>" /></td>

			<td><input type="text" value="<%= obj.txt('ПППГ.Должностей.В_отделении.Физ_лиц.Итого.Среднего_мед_персонала') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ППГ.Должностей.В_отделении.Физ_лиц.Итого.Среднего_мед_персонала') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ПГ.Должностей.В_отделении.Физ_лиц.Итого.Среднего_мед_персонала') %>" /></td>
		</tr>
		<tr>
			<td>- профпатологов</td>
			<td><input type="text" value="<%= obj.txt('ПППГ.Должностей.В_отделении.Всего.Итого.Младшего_мед_персонала') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ППГ.Должностей.В_отделении.Всего.Итого.Младшего_мед_персонала') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ПГ.Должностей.В_отделении.Всего.Итого.Младшего_мед_персонала') %>" /></td>

			<td><input type="text" value="<%= obj.txt('ПППГ.Должностей.В_отделении.Занятых.Итого.Младшего_мед_персонала') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ППГ.Должностей.В_отделении.Занятых.Итого.Младшего_мед_персонала') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ПГ.Должностей.В_отделении.Занятых.Итого.Младшего_мед_персонала') %>" /></td>

			<td><input type="text" value="<%= obj.txt('ПППГ.Должностей.В_отделении.Физ_лиц.Итого.Младшего_мед_персонала') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ППГ.Должностей.В_отделении.Физ_лиц.Итого.Младшего_мед_персонала') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ПГ.Должностей.В_отделении.Физ_лиц.Итого.Младшего_мед_персонала') %>" /></td>
		</tr>
		<tr>
			<td>ср.мед.персонала</td>
			<td><input type="text" value="<%= obj.txt('ПППГ.Должностей.В_отделении.Всего.Итого.Прочие') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ППГ.Должностей.В_отделении.Всего.Итого.Прочие') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ПГ.Должностей.В_отделении.Всего.Итого.Прочие') %>" /></td>

			<td><input type="text" value="<%= obj.txt('ПППГ.Должностей.В_отделении.Занятых.Итого.Прочие') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ППГ.Должностей.В_отделении.Занятых.Итого.Прочие') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ПГ.Должностей.В_отделении.Занятых.Итого.Прочие') %>" /></td>

			<td><input type="text" value="<%= obj.txt('ПППГ.Должностей.В_отделении.Физ_лиц.Итого.Прочие') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ППГ.Должностей.В_отделении.Физ_лиц.Итого.Прочие') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ПГ.Должностей.В_отделении.Физ_лиц.Итого.Прочие') %>" /></td>
		</tr>
		<tr>
			<td>мл.мед.персонала</td>
			<td><input type="text" value="<%= obj.txt('ПППГ.Должностей.В_отделении.Всего.Итого.Прочие') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ППГ.Должностей.В_отделении.Всего.Итого.Прочие') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ПГ.Должностей.В_отделении.Всего.Итого.Прочие') %>" /></td>

			<td><input type="text" value="<%= obj.txt('ПППГ.Должностей.В_отделении.Занятых.Итого.Прочие') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ППГ.Должностей.В_отделении.Занятых.Итого.Прочие') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ПГ.Должностей.В_отделении.Занятых.Итого.Прочие') %>" /></td>

			<td><input type="text" value="<%= obj.txt('ПППГ.Должностей.В_отделении.Физ_лиц.Итого.Прочие') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ППГ.Должностей.В_отделении.Физ_лиц.Итого.Прочие') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ПГ.Должностей.В_отделении.Физ_лиц.Итого.Прочие') %>" /></td>
		</tr>
		<tr>
			<td>прочих</td>
			<td><input type="text" value="<%= obj.txt('ПППГ.Должностей.В_отделении.Всего.Итого.Прочие') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ППГ.Должностей.В_отделении.Всего.Итого.Прочие') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ПГ.Должностей.В_отделении.Всего.Итого.Прочие') %>" /></td>

			<td><input type="text" value="<%= obj.txt('ПППГ.Должностей.В_отделении.Занятых.Итого.Прочие') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ППГ.Должностей.В_отделении.Занятых.Итого.Прочие') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ПГ.Должностей.В_отделении.Занятых.Итого.Прочие') %>" /></td>

			<td><input type="text" value="<%= obj.txt('ПППГ.Должностей.В_отделении.Физ_лиц.Итого.Прочие') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ППГ.Должностей.В_отделении.Физ_лиц.Итого.Прочие') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ПГ.Должностей.В_отделении.Физ_лиц.Итого.Прочие') %>" /></td>
		</tr>

	</table>
		</div>
	</div>

	<table class="total" <% if (0) { %> border="1" cellspacing="0" <% } %> >
		<% if (0) { %> 
			<tr class="design-mode"><td>1</td><td>2</td><td>3</td><td>4</td><td>5</td><td>6</td><td>7</td><td>8</td><td>9</td><td>10</td></tr>
			<tr class="design-mode">
				<td class="field">Наименование поля</td>
				<td colspan="3" class="kind">количество должностей</td>
				<td colspan="3" class="kind">в т.ч. занятых</td>
				<td colspan="3" class="kind">в т.ч. физических лиц</td>
			</tr>
			<tr class="design-mode">
				<td class="field"></td>
				<td class="year">2015 год</td>
				<td class="year">2016 год</td>
				<td class="year">2017 год</td>
				<td class="year">2015 год</td>
				<td class="year">2016 год</td>
				<td class="year">2017 год</td>
				<td class="year">2015 год</td>
				<td class="year">2016 год</td>
				<td class="year">2017 год</td>
			</tr>
		 <% } %>
		<tr>
			<td class="field" rowspan="2">Итого</td>
			<td colspan="3" class="kind">количество должностей</td>
			<td colspan="3" class="kind">в т.ч. занятых</td>
			<td colspan="3" class="kind">в т.ч. физических лиц</td>
		</tr>
		<tr>
			<td class="year">2015 год</td>
			<td class="year">2016 год</td>
			<td class="year">2017 год</td>
			<td class="year">2015 год</td>
			<td class="year">2016 год</td>
			<td class="year">2017 год</td>
			<td class="year">2015 год</td>
			<td class="year">2016 год</td>
			<td class="year">2017 год</td>
		</tr>

		<tr>
			<td class="field">врачей</td>
			<td><input type="text" value="<%= obj.txt('ПППГ.Должностей.В_подразделениях.Всего.Итого.Врачей') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ППГ.Должностей.В_подразделениях.Всего.Итого.Врачей') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ПГ.Должностей.В_подразделениях.Всего.Итого.Врачей') %>" /></td>

			<td><input type="text" value="<%= obj.txt('ПППГ.Должностей.В_подразделениях.Занятых.Итого.Врачей') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ППГ.Должностей.В_подразделениях.Занятых.Итого.Врачей') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ПГ.Должностей.В_подразделениях.Занятых.Итого.Врачей') %>" /></td>

			<td><input type="text" value="<%= obj.txt('ПППГ.Должностей.В_подразделениях.Физ_лиц.Итого.Врачей') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ППГ.Должностей.В_подразделениях.Физ_лиц.Итого.Врачей') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ПГ.Должностей.В_подразделениях.Физ_лиц.Итого.Врачей') %>" /></td>
		</tr>
		<tr>
			<td class="field">ср. мед.персонала</td>
			<td><input type="text" value="<%= obj.txt('ПППГ.Должностей.В_отделении.Всего.Итого.Среднего_мед_персонала') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ППГ.Должностей.В_отделении.Всего.Итого.Среднего_мед_персонала') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ПГ.Должностей.В_отделении.Всего.Итого.Среднего_мед_персонала') %>" /></td>

			<td><input type="text" value="<%= obj.txt('ПППГ.Должностей.В_отделении.Занятых.Итого.Среднего_мед_персонала') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ППГ.Должностей.В_отделении.Занятых.Итого.Среднего_мед_персонала') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ПГ.Должностей.В_отделении.Занятых.Итого.Среднего_мед_персонала') %>" /></td>

			<td><input type="text" value="<%= obj.txt('ПППГ.Должностей.В_отделении.Физ_лиц.Итого.Среднего_мед_персонала') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ППГ.Должностей.В_отделении.Физ_лиц.Итого.Среднего_мед_персонала') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ПГ.Должностей.В_отделении.Физ_лиц.Итого.Среднего_мед_персонала') %>" /></td>
		</tr>
		<tr>
			<td class="field">мл. мед.персонала</td>
			<td><input type="text" value="<%= obj.txt('ПППГ.Должностей.В_отделении.Всего.Итого.Младшего_мед_персонала') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ППГ.Должностей.В_отделении.Всего.Итого.Младшего_мед_персонала') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ПГ.Должностей.В_отделении.Всего.Итого.Младшего_мед_персонала') %>" /></td>

			<td><input type="text" value="<%= obj.txt('ПППГ.Должностей.В_отделении.Занятых.Итого.Младшего_мед_персонала') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ППГ.Должностей.В_отделении.Занятых.Итого.Младшего_мед_персонала') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ПГ.Должностей.В_отделении.Занятых.Итого.Младшего_мед_персонала') %>" /></td>

			<td><input type="text" value="<%= obj.txt('ПППГ.Должностей.В_отделении.Физ_лиц.Итого.Младшего_мед_персонала') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ППГ.Должностей.В_отделении.Физ_лиц.Итого.Младшего_мед_персонала') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ПГ.Должностей.В_отделении.Физ_лиц.Итого.Младшего_мед_персонала') %>" /></td>
		</tr>
		<tr>
			<td class="field">прочие</td>
			<td><input type="text" value="<%= obj.txt('ПППГ.Должностей.В_отделении.Всего.Итого.Прочие') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ППГ.Должностей.В_отделении.Всего.Итого.Прочие') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ПГ.Должностей.В_отделении.Всего.Итого.Прочие') %>" /></td>

			<td><input type="text" value="<%= obj.txt('ПППГ.Должностей.В_отделении.Занятых.Итого.Прочие') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ППГ.Должностей.В_отделении.Занятых.Итого.Прочие') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ПГ.Должностей.В_отделении.Занятых.Итого.Прочие') %>" /></td>

			<td><input type="text" value="<%= obj.txt('ПППГ.Должностей.В_отделении.Физ_лиц.Итого.Прочие') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ППГ.Должностей.В_отделении.Физ_лиц.Итого.Прочие') %>" /></td>
			<td><input type="text" value="<%= obj.txt('ПГ.Должностей.В_отделении.Физ_лиц.Итого.Прочие') %>" /></td>
		</tr>

	</table>

</div>