﻿<style>
div.cpw-meo-yearly-region-economic-static td.field
{
	width: 300px;
	vertical-align:top;
}
div.cpw-meo-yearly-region-economic-static td.plan-fact
{
	width: 100px;
	text-align:center;
}
div.cpw-meo-yearly-region-economic-static td.year
{
	text-align:center;
}
div.cpw-meo-yearly-region-economic-static td.plan-fact input
{
	width:50px;
}
</style>
<% if (0) { %>
<style>
div.cpw-meo-yearly-region-economic-static tbody.design-mode
{
	background-color:yellow;
}
</style>
<% } %>
<div class="cpw-meo-yearly-region-economic-static">

	<table <% if (0) { %> border="1" cellspacing="0" <% } %> >
		<% if (0) { %> 
			<tbody class="design-mode">
				<tr><td>1</td><td>2</td><td>3</td><td>4</td></tr>
				<tr>
					<td>Наименование поля</td>
					<td>2015 год</td>
					<td>2016 год</td>
					<td>2017 год</td>
				</tr>
			</tbody>
		 <% } %>
		<tr>
			<td class="field"></td>
			<td class="year">2015 год</td>
			<td class="year">2016 год</td>
			<td class="year">2017 год</td>
		</tr>

		<tr>
			<td colspan="4" ><br/>Здания / сооружения / внутренниие помещения</td>
		</tr>

		<tr class="sub-item">
			<td class="field"> - общая площадь</td>
			<td class="year"><input type="text" value="<%= obj.txt('Общая_площадь.Внутренних_помещений.ПППГ') %>" /> м<sup><small>2</small></sup></td>
			<td class="year"><input type="text" value="<%= obj.txt('Общая_площадь.Внутренних_помещений.ППГ') %>" /> м<sup><small>2</small></sup></td>
			<td class="year"><input type="text" value="<%= obj.txt('Общая_площадь.Внутренних_помещений.ПГ') %>" /> м<sup><small>2</small></sup></td>
		</tr>

		<tr class="sub-item">
			<td class="field"> - вид собственности</td>
			<td>
				<label><input type="radio" <%= obj.radio_attrs('Вид_собственности.Здания.ПППГ','аренда') %> />аренда</label><br/>
				<label><input type="radio" <%= obj.radio_attrs('Вид_собственности.Здания.ПППГ','оперативное_управление') %> />оперативное управление</label><br/>
				<label><input type="radio" <%= obj.radio_attrs('Вид_собственности.Здания.ПППГ','собственность') %> />собственность</label>
			</td>
			<td>
				<label><input type="radio" <%= obj.radio_attrs('Вид_собственности.Здания.ППГ','аренда') %> />аренда</label><br/>
				<label><input type="radio" <%= obj.radio_attrs('Вид_собственности.Здания.ППГ','оперативное_управление') %> />оперативное управление</label><br/>
				<label><input type="radio" <%= obj.radio_attrs('Вид_собственности.Здания.ППГ','собственность') %> />собственность</label>
			</td>
			<td>
				<label><input type="radio" <%= obj.radio_attrs('Вид_собственности.Здания.ПГ','аренда') %> />аренда</label><br/>
				<label><input type="radio" <%= obj.radio_attrs('Вид_собственности.Здания.ПГ','оперативное_управление') %> />оперативное управление</label><br/>
				<label><input type="radio" <%= obj.radio_attrs('Вид_собственности.Здания.ПГ','собственность') %> />собственность</label>
			</td>
		</tr>

		<tr>
			<td colspan="4" ><br/>Земельные участки</td>
		</tr>

		<tr class="sub-item">
			<td class="field"> - общая площадь</td>
			<td class="year"><input type="text" value="<%= obj.txt('Общая_площадь.Земельных_участков.ПППГ') %>" /> м<sup><small>2</small></sup></td>
			<td class="year"><input type="text" value="<%= obj.txt('Общая_площадь.Земельных_участков.ППГ') %>" /> м<sup><small>2</small></sup></td>
			<td class="year"><input type="text" value="<%= obj.txt('Общая_площадь.Земельных_участков.ПГ') %>" /> м<sup><small>2</small></sup></td>
		</tr>

		<tr class="sub-item">
			<td class="field"> - вид собственности</td>
			<td>
				<label><input type="radio" <%= obj.radio_attrs('Вид_собственности.Земельные_участки.ПППГ','аренда') %> />аренда</label><br/>
				<label><input type="radio" <%= obj.radio_attrs('Вид_собственности.Земельные_участки.ПППГ','оперативное_управление') %> />оперативное управление</label><br/>
				<label><input type="radio" <%= obj.radio_attrs('Вид_собственности.Земельные_участки.ПППГ','собственность') %> />собственность</label>
			</td>
			<td>
				<label><input type="radio" <%= obj.radio_attrs('Вид_собственности.Земельные_участки.ППГ','аренда') %> />аренда</label><br/>
				<label><input type="radio" <%= obj.radio_attrs('Вид_собственности.Земельные_участки.ППГ','оперативное_управление') %> />оперативное управление</label><br/>
				<label><input type="radio" <%= obj.radio_attrs('Вид_собственности.Земельные_участки.ППГ','собственность') %> />собственность</label>
			</td>
			<td>
				<label><input type="radio" <%= obj.radio_attrs('Вид_собственности.Земельные_участки.ПГ','аренда') %> />аренда</label><br/>
				<label><input type="radio" <%= obj.radio_attrs('Вид_собственности.Земельные_участки.ПГ','оперативное_управление') %> />оперативное управление</label><br/>
				<label><input type="radio" <%= obj.radio_attrs('Вид_собственности.Земельные_участки.ПГ','собственность') %> />собственность</label>
			</td>
		</tr>

	</table>

</div>