﻿<style>
div.cpw-meo-yearly-region-common
{
	width: 950px;
	margin: 0 auto;
}
div.cpw-meo-yearly-region-common .full
{
	margin-left: 118px;
	width:815px;
}
div.cpw-meo-yearly-region-common table.full
{
	margin-left: 50px;
	width:900px;
}
div.cpw-meo-yearly-region-common div.title
{
	display:inline-block;
}
div.cpw-meo-yearly-region-common div.row.col3 div.title
{
	width: 115px;
	text-align:right;
	margin-bottom:5px;
}
div.cpw-meo-yearly-region-common div.row.col3 input
{
	width: 190px;
}
div.cpw-meo-yearly-region-common div.row
{
	margin-bottom: 3px;
}
div.cpw-meo-yearly-region-common div.row label
,div.cpw-meo-yearly-region-common div.row input
{
	width: auto;
	float: initial;
}
div.cpw-meo-yearly-region-common td.year
{
	text-align:center;
}
div.cpw-meo-yearly-region-common td
{
	padding:3px;
}
div.cpw-meo-yearly-region-common div.row.sub-item div.title
{
	padding-left: 75px;
}
div.cpw-meo-yearly-region-common div.zip-input
{
	display: inline-block;
	width: 104px;
	text-align: right;
}
div.cpw-meo-yearly-region-common div.zip-input input
{
	width: 80px;
}
div.cpw-meo-yearly-region-common div.zip div.title
{
	width: 130px;
}
</style>
<div class="cpw-meo-yearly-region-common">

	<div class="row">
		<div class="title">Приказ о создании Центра профпатологии (отделения), номер</div> 
		<input type="text" value="<%= obj.txt('Приказ_о_создании_центра.Номер') %>" /> 
		, дата 
		<input type="text" value="<%= obj.txt('Приказ_о_создании_центра.Дата') %>" <%= obj.date_attrs() %> />
	</div>

	<div class="row">
		<div class="title">Учреждение, на базе которого расположен профцентр:</div>
	</div>

	<div class="row sub-item">
		<div class="title">Полное юридическое наименование</div>
		<textarea class="full" <%= obj.textarea_attrs('Наименование_учреждения') %> ><%= obj.value() %></textarea>
	</div>

	<div class="row col3">
		<div class="title">ИНН</div> <input type="text" value="<%= obj.txt('ИНН') %>" />
		<div class="title">ОГРН</div> <input type="text" value="<%= obj.txt('ОГРН') %>" />
	</div>

	<div class="row col3">
		<div class="title">e-mail</div> <input type="text" value="<%= obj.txt('Email') %>" />
		<div class="title">Телефон</div> <input type="text" value="<%= obj.txt('Телефон') %>" />
		<div class="title">Факс</div> <input type="text" value="<%= obj.txt('Факс') %>" />
	</div>

	<div class="row sub-item zip">
		<div class="title">Почтовый индекс</div> 
		<div class="zip-input">
			<input type="text" value="<%= obj.txt('Индекс') %>" />
		</div>
	</div>

	<div class="row sub-item">
		<div class="title">Почтовый адрес</div>
		<textarea class="full" <%= obj.textarea_attrs('Адрес') %> ><%= obj.value() %></textarea>
	</div>

	<div class="row">
		<div class="title">Руководитель</div>
	</div>

	<div class="row col3">
		<div class="title">Фамилия</div> <input type="text" value="<%= obj.txt('Руководитель.Фамилия') %>" />
		<div class="title">Имя</div> <input type="text" value="<%= obj.txt('Руководитель.Имя') %>" />
		<div class="title">Отчество</div> <input type="text" value="<%= obj.txt('Руководитель.Отчество') %>" /><br/>
	</div>

	<div class="row col3">
		<div class="title">Должность</div> <input type="text" value="<%= obj.txt('Руководитель.Должность') %>" />
		<div class="title">Учёная степень</div> <input type="text" value="<%= obj.txt('Руководитель.Учёная_степень') %>" />
		<div class="title">Учёное звание</div> <input type="text" value="<%= obj.txt('Руководитель.Учёное_звание') %>" />
	</div>

	<div class="row">
		<div class="title">Организационная форма</div>
	</div>

	<div class="row">
		<table class="full">
			<tr>
				<td class="year">2015 год</td>
				<td class="year">2016 год</td>
				<td class="year">2017 год</td>
			</tr>
			<tr>
				<td>
					<label><input type="radio" <%= obj.radio_attrs('Организационная_форма.ПППГ','В_структуре_ЛПУ') %> />В структуре многопрофильного ЛПУ</label><br/>
					<label><input type="radio" <%= obj.radio_attrs('Организационная_форма.ПППГ','Самостоятельною_юридическое_лицо') %> />Самостоятельное юридическое лицо</label><br/>
					<label><input type="radio" <%= obj.radio_attrs('Организационная_форма.ПППГ','Не_сформирован') %> />Не сформирован</label>
				</td>
				<td>
					<label><input type="radio" <%= obj.radio_attrs('Организационная_форма.ППГ','В_структуре_ЛПУ') %> />В структуре многопрофильного ЛПУ</label><br/>
					<label><input type="radio" <%= obj.radio_attrs('Организационная_форма.ППГ','Самостоятельною_юридическое_лицо') %> />Самостоятельное юридическое лицо</label><br/>
					<label><input type="radio" <%= obj.radio_attrs('Организационная_форма.ППГ','Не_сформирован') %> />Не сформирован</label>
				</td>
				<td>
					<label><input type="radio" <%= obj.radio_attrs('Организационная_форма.ПГ','В_структуре_ЛПУ') %> />В структуре многопрофильного ЛПУ</label><br/>
					<label><input type="radio" <%= obj.radio_attrs('Организационная_форма.ПГ','Самостоятельною_юридическое_лицо') %> />Самостоятельное юридическое лицо</label><br/>
					<label><input type="radio" <%= obj.radio_attrs('Организационная_форма.ПГ','Не_сформирован') %> />Не сформирован</label>
				</td>
			</tr>
		</table>
	</div>

</div>