﻿<style>
</style>
<div class="cpw-meo-yearly-region-staff">

	<div id="cpw-meo-yearly-region-staff-tabs" <%= obj.tabs_attrs() %> >
		<ul>
			<li><a href="#cpw-meo-yearly-region-staff-tab-1" >центра</a></li>
			<li><a href="#cpw-meo-yearly-region-staff-tab-2" >отделения</a></li>
			<li><a href="#cpw-meo-yearly-region-staff-tab-3" >кабинета</a></li>
			<li><a href="#cpw-meo-yearly-region-staff-tab-4" >подразделений</a></li>
			<li><a href="#cpw-meo-yearly-region-staff-tab-5" >- укомплектованность</a></li>
			<li><a href="#cpw-meo-yearly-region-staff-tab-6" >- квалификация врачей</a></li>
		</ul>
		<div id="cpw-meo-yearly-region-staff-tab-1" class="page" >
			<% if (0) { %>Страница "Центр"<% } %>
			<%= obj.control('Центр') %>
		</div>
		<div id="cpw-meo-yearly-region-staff-tab-2" class="page">
			<% if (0) { %>Страница "Отделение_и_кабинет"<% } %>
			<%= obj.control('Отделение_и_кабинет') %>
		</div>
		<div id="cpw-meo-yearly-region-staff-tab-3" class="page">
			<% if (0) { %>Страница "Кабинет"<% } %>
			<%= obj.control('Кабинет') %>
		</div>
		<div id="cpw-meo-yearly-region-staff-tab-4" class="page">
			<% if (0) { %>Страница "Подразделения"<% } %>
			<%= obj.control('В_подразделениях') %>
		</div>
		<div id="cpw-meo-yearly-region-staff-tab-5" class="page">
			<% if (0) { %>Страница "Укомплктованность"<% } %>
			<%= obj.control('Укомплектованность') %>
		</div>
		<div id="cpw-meo-yearly-region-staff-tab-6" class="page">
			<% if (0) { %>Страница "Врачи"<% } %>
			<%= obj.control('Врачи') %>
		</div>
	</div>

</div>